section.personal-discount.personal-discount--main
	.cols
		.col.col__left
			.desc
				.desc__title Выгодно всегда!
				.desc__mobile
					.image
						img(src="img/discount-lk.png", alt="")
					a.button.button--default(href="#") Регистрация карты
				p
					| Размер скидки на следующий месяц по дисконтной карте зависит от&nbsp;
					b Ваших покупок&nbsp;
					| в текущем месяце!
				button.js-popup(data-popup-href="#popup-discount-conditions") Правила получения карты
				p
					small * скидка предоставляется только при предъявлении пластиковой дисконтной карты
		.col.col__center
			.image
				img(src="img/discount-lk.png", alt="")
		.col.col__right
			.title Ваша скидка в текущем месяце:
			ul.discount-list
				li.discount-list__item
					.image
						.circle.circle--small
							span
								| 3
								span %
					.desc
						span Текущая скидка по Дисконтной карте
				li.discount-list__item
					.image
						.circle.circle--medium
							span
								| 10
								span %
					.desc
						span
							| Покупки в прошлом месяце на
							strong 1000
							span.rouble &#x20bd;
				li.discount-list__item
					.image
						.circle.circle--large
							span
								| 15
								span %
					.desc
						span
							| Покупки в прошлом месяце на
							strong 1500
							span.rouble &#x20bd;
	.buttons-panel
		a.button.button--default(href="#") Регистрация карты
section.personal-discount.personal-discount--reg
	form
		.cols
			.col.col__left
				.title Зарегистрировать карту
				.input-cols
					.input-cols__left
						input.input-text(type="text" placeholder="Имя*")
						input.input-text(type="text" placeholder="Фамилия*")
						input.input-text(type="text" placeholder="Номер карты*")
						span.input-annotation Номер карты должен начинаться с цифр 2977
					.input-cols__right
						input.input-text(type="text" placeholder="Дата рождения*")
						input.input-text(type="text" placeholder="E-mail адрес*")
						input.input-text(type="text" placeholder="Телефон*")
			.col.col__right
				.subscribe-panel
					.subscribe-panel__title Подписки
					.subscribe-panel__input
						label
							input.input-checkbox(type="checkbox" checked)
							| E-mail рассылка
					.subscribe-panel__input
						label
							input.input-checkbox(type="checkbox")
							| СМС рассылка
			.col__footer
				p Я даю разрешение сети магазинов «Подружка» направлять мне информацию о проводимых Компанией рекламных акциях, скидках, а также право присылать мне призы и подарки.
				p Я даю разрешение Компании на сбор, хранение и использование моих персональных данных, указанных в данной анкете, в соответствии с требованиями ФЗ «О персональных данных» от 27.07.2006 152-ФЗ. Настоящее соглашение действует неопределенный срок и в любой момент может быть мною расторгнуто путем отправки отзыва в письменной форме по адресу: 115280 г.Москва, ул. Ленинская Слобода, 19
				button.button.button--default(type="submit") Зарегистрировать карту
section.personal-discount.personal-discount--card-info
	.cols
		.col.col__left
			.title
				| Ваша скидка на&nbsp;
				span.pink март
				| :
			ul.discount-list
				li.discount-list__item
					.desc
						p
							| В&nbsp;
							span.pink феврале вы сделали покупки на&nbsp;
							span.pink 20900 руб. 00 коп.
					.image
						.circle.circle--large
							span
								| 15
								span %
		.col.col__right
			.title
				| Ваша скидка на&nbsp;
				span.pink апрель
				| :
			ul.discount-list
				li.discount-list__item
					.desc
						p
							| В&nbsp;
							span.pink марте вы сделали покупки на&nbsp;
							span.pink 444 руб. 00 коп.
					.image
						.circle.circle--small
							span
								| 3
								span %
			.discount-info
				p
					span.pink Внимание:&nbsp;
					| информация по накоплениям на карте обновляется в течение 2-3 рабочих дней. Вы всегда можете уточнить ифнормацию по вашей дисконтной карте, позвонив по телефонам колл-центра:
					br
					span.pink +7 495 926-80-82
					br
					span.pink +7 800 707-47-47&nbsp;
						span.grey (звонок бесплатный)
			ul.discount-list
				li.discount-list__item
					.desc
						p
							| Совершите до конца месяца покупки на сумму&nbsp;
							span.pink 556руб. 00 коп.&nbsp;
							| и получите скидку до конца апреля:
					.image
						.circle.circle--middle
							span
								| 10
								span %