.product-detail-tabs.js-tabs
    ul.tabs
        li.tabs__item
            span Описание
        li.tabs__item
            span отзывы (999)
        li.tabs__item
            span доставка
        li.tabs__item
            span оплата
        li.tabs__item
            span наличие в магазинах
    .tabs-content
        .tabs-content__item
            .tabs__item--mobile
                span Описание
                i.icon.icon__plus--violet
            .tabs-content-toggle
                p Ухоженные, ультра-глянцевые и мягкие, как бархат губы с помадой Plumping Gloss. Формула обогащена пептидами и увлажняющими активными ингредиентами.Ухоженные, ультра-глянцевые и мягкие, как бархат губы с помадой Plumping Gloss. Формула обогащена пептидами и увлажняющими активными ингредиентами.
                a.readmore(href="#") Побробнее		
        .tabs-content__item
            .tabs__item--mobile 
                span отзывы (999)
                i.icon.icon__plus--violet
            .tabs-content-toggle
                button.reviews-block-btn.js-reviews-toggle
                    span Добавить отзыв
                    span.modified Вернуться к отзывам
                include templates/components/reviews-block.jade
                include templates/components/reviews-block-form.jade
        .tabs-content__item
            .tabs__item--mobile
                span доставка
                i.icon.icon__plus--violet
            .tabs-content-toggle
                p 333
        .tabs-content__item
            .tabs__item--mobile
                span оплата
                i.icon.icon__plus--violet
            .tabs-content-toggle
                p 444
        .tabs-content__item
            .tabs__item--mobile
                span наличие в магазинах
                i.icon.icon__plus--violet
            .tabs-content-toggle
                include templates/components/shops-block.jade