section.section-reviews
    .section-reviews__sort
        .show-by
            span.show-by__title Сортировать:
            select.show-by__select.js-select(name="sortReviews")
                option(value="rating") Рейтингу
                option(value="date") Дате
    .section-reviews__items
        .reviews-item
            .reviews-item__head
                .avatar
                    img(src="img/avatar-default.png", alt="")
                .info
                   span.info__name Ирина
                   span.info__geo Москва, Россия
            .reviews-item__info
                .item
                    span Возраст:
                    span.value 25-35
                .item
                    span Тон кожи:
                    span.value светлый
                .item
                    span Цвет глаз:
                    span.value голубой
                .item
                    span Тип кожи:
                    span.value чувствительный
            .reviews-item__content
                .title хороший тональный крем!!!
                .info
                    .rating
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                    span.date 2 дня назад
                .text Качество помады действительно очень радует. Нежная шелковистая текстура, красивые оттенки и очень вкусный сладковатый аромат - это все о ней. Наносится помада идеально. Губы с ней чувствуют себя очень комфортно. Стойкость хорошая...
                a.link(href="#") Читать дальше
        .reviews-item
            .reviews-item__head
                .avatar
                    img(src="img/avatar-default.png", alt="")
                .info
                   span.info__name Ирина
                   span.info__geo Москва, Россия
            .reviews-item__info
                .item
                    span Возраст:
                    span.value 25-35
                .item
                    span Тон кожи:
                    span.value светлый
                .item
                    span Цвет глаз:
                    span.value голубой
                .item
                    span Тип кожи:
                    span.value чувствительный
            .reviews-item__content
                .title хороший тональный крем!!!
                .info
                    .rating
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                    span.date 2 дня назад
                .text Качество помады действительно очень радует. Нежная шелковистая текстура, красивые оттенки и очень вкусный сладковатый аромат - это все о ней. Наносится помада идеально. Губы с ней чувствуют себя очень комфортно. Стойкость хорошая...
                a.link(href="#") Читать дальше
        .reviews-item
            .reviews-item__head
                .avatar
                    img(src="img/avatar-default.png", alt="")
                .info
                   span.info__name Ирина
                   span.info__geo Москва, Россия
            .reviews-item__info
                .item
                    span Возраст:
                    span.value 25-35
                .item
                    span Тон кожи:
                    span.value светлый
                .item
                    span Цвет глаз:
                    span.value голубой
                .item
                    span Тип кожи:
                    span.value чувствительный
            .reviews-item__content
                .title хороший тональный крем!!!
                .info
                    .rating
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                        .rating__item.active
                    span.date 2 дня назад
                .text Качество помады действительно очень радует. Нежная шелковистая текстура, красивые оттенки и очень вкусный сладковатый аромат - это все о ней. Наносится помада идеально. Губы с ней чувствуют себя очень комфортно. Стойкость хорошая...
                a.link(href="#") Читать дальше
    .pagination
        button.pagination__text В НАЧАЛО
        .pagination__pages
            button.pagination__button.pagination__button--left
                i.icon.icon__arrow-grey-right
            .pagination__items
                button.item 1
                button.item 2
                button.item 3
                button.item 4
                button.item 5
            button.pagination__button.pagination__button--right
                i.icon.icon__arrow-grey-right
        button.pagination__text В КОНЕЦ


