section.add-reviews
    .add-reviews__title добавить отзыв
    .add-reviews__text Ваш отзыв поможет кому-то сделать выбор. Спасибо, что делитесь опытом!
    .add-reviews__auth
        .text Добавьте отзыв, заполнив личные данные, или сначала войдите на сайт, тогда информация будет автоматически взята из профиля.
        a.link(href="#") войти
    .add-reviews__help
        .title Как добавить отзыв:
        ul
            li - Заполните поля, в поле «Отзыв» опишите плюсы и минусы товара и общие впечатления от него;
            li - Нажмите кнопку «Отправить отзыв». Если она неактивна, заполните поля, которые отмечены звездочкой. Уведомление о публикации отзыва на сайте придет на e-mail, указанный при регистрации (если вы авторизованы);
            li
                | - Если у вас вопрос или жалоба, напишите на нашу почту для быстрой связи 
                a(href="mailto:info@podrygka.ru ") info@podrygka.ru
        p Отзывы публикуются после модерации, поэтому появляются на сайте не сразу.
    form.form-reviews(action="")
        .form-reviews__input-group
            input.input-text(type="text" placeholder="Имя*")
            select.js-select(data-placeholder="Город")
                option(value="")
                option(value="1") Москва
                option(value="2") Самара
            input.input-text(type="text" placeholder="Возраст")
            select.js-select(data-placeholder="Тон кожи")
                option(value="")
                option(value="1") Светлый
                option(value="2") Темный
            select.js-select(data-placeholder="Цвет глаз")
                option(value="")
                option(value="1") Голубой
                option(value="2") Зеленый
            select.js-select(data-placeholder="Тип кожи")
                option(value="")
                option(value="1") Жирный
                option(value="2") Нормальный
            .clearfix
        .form-reviews__rating
            .title 
                strong Рейтинг*
                | (оцените товар, указав количество звезд от 1 до 5) тогда информация будет автоматически взята из профиля.
            .rating
                .rating__item.active
                .rating__item.active
                .rating__item.active
                .rating__item.active
                .rating__item
        textarea.input-text(name="", cols="30", rows="1" id="review-theme" placeholder="Тема (коротко о товаре)")
        textarea.input-text(name="", cols="30", rows="8" id="review-text" placeholder="Отзыв*\n\n- Опишите плюсы: что вам понравилось, как вам это помогает?\n- Опишите минусы: что заметили сразу, а что проявилось в процессе использования?\n- Опишите общие впечатления: срок использования, критерии при выборе, рекомендовали бы вы этот товар к покупке?")
        .form-reviews__footer
            .links
                a.links__item(href="#") Ознакомиться с правилами модерации
                a.links__item(href="#") Как написать полезный отзыв
            input.form-reviews__submit(type="submit" value="добавить отзыв")

 


