section.add-reviews
    .add-reviews__title добавить отзыв
    .add-reviews__text Ваш отзыв поможет кому-то сделать выбор. Спасибо, что делитесь опытом!
    .add-reviews__auth
        .text Добавьте отзыв, заполнив личные данные, или сначала войдите на сайт, тогда информация будет автоматически взята из профиля.
        a.link(href="#") войти
    .add-reviews__help
        .title Как добавить отзыв:
        ul
            li Заполните поля, в поле «Отзыв» опишите плюсы и минусы товара и общие впечатления от него;
            li Нажмите кнопку «Отправить отзыв». Если она неактивна, заполните поля, которые отмечены звездочкой. Уведомление о публикации отзыва на сайте придет на e-mail, указанный при регистрации (если вы авторизованы);
            li
                | Если у вас вопрос или жалоба, напишите на нашу почту для быстрой связи 
                a(href="mailto:info@podrygka.ru ") info@podrygka.ru
        p Отзывы публикуются после модерации, поэтому появляются на сайте не сразу.
    form.form-reviews(action="")
        input.input-text(type="text" placeholder="Имя*")
        select.js-select
            option(value="" hidden disable) Город
            option(value="") Москва
            option(value="") Самара
        input.input-text(type="text" placeholder="Возраст")
        select.js-select
            option(value="" hidden disable) Тон кожи
            option(value="") Светлый
            option(value="") Темный
        select.js-select
            option(value="" hidden disable) Цвет глаз
            option(value="") Голубой
            option(value="") Зеленый
        select.js-select
            option(value="" hidden disable) Тип кожи
            option(value="") Жирный
            option(value="") Нормальный
        .form-reviews__rating
            .title 
                strong Рейтинг*
                | (оцените товар, указав количество звезд от 1 до 5) тогда информация будет автоматически взята из профиля.
            .rating
                .rating__item.active
                .rating__item.active
                .rating__item.active
                .rating__item.active
                .rating__item
        textarea.input-text(name="", cols="30", rows="1")
        textarea.input-text(name="", cols="30", rows="30")
        .form-reviews__footer
            .links
                a.links__item(href="#") Ознакомиться с правилами модерации
                a.links__item(href="#") Как написать полезный отзыв
            input.form-reviews__submit(type="submit")

 


