section.section-reviews
    .section-reviews__sort
        .show-by
            span.show-by__title Сортировать:
            select.show-by__select.js-select(name="sortReviews")
                option(value="rating") Рейтингу
                option(value="date") Дате