section.section-shops.js-tabs    
    .section-shops__header
        .shops-tabs
            button.shops-tabs__item
                i.icon.icon__list--grey
                i.icon.icon__list--pink.is-active
                span списком
            button.shops-tabs__item
                i.icon.icon__geo--grey
                i.icon.icon__geo--pink.is-active
                span на карте
            button.shops-tabs__item
                i.icon.icon__metro--grey
                i.icon.icon__metro--pink.is-active
                span на схеме метро        
    .section-shops__content
        .shops-tabs__content          
            .shops-list.shops-list--inPage
                .shops-list__head
                    .shops-list-item__name
                        span Название
                    .shops-list-item__address
                        span Адрес:
                    .shops-list-item__metro
                        span Станция метро
                    .shops-list-item__availability
                        span Парфюмерия
                    .shops-list-item__mode
                        span Режим работы
                .shops-list__scroll-block
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ФЕСТИВАЛЬНОЙ
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Фестивальная ул.,  д. 53А
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА»
                            span НА владимирской 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Владимирская 3-я ул., д. 24Г
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
                    .shops-list-item
                        .shops-list-item__toggle.js-shops-item-toggle
                            button
                                i.icon.icon__plus--black
                        .shops-list-item__name.shops-list-item__col
                            span.template-name МАГАЗИН «ПОДРУЖКА» 
                            span НА ЕРЕВАНСКОЙ 
                        .shops-list-item__address.shops-list-item__col
                            .title-col-mobile Адрес:                            
                            .desc-col-mobile
                                span г. Москва, Ереванская ул., д. 24, корп. 1
                        .shops-list-item__metro.shops-list-item__col
                            .title-col-mobile Метро:
                            .desc-col-mobile
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                        .shops-list-item__availability.shops-list-item__col
                            i.icon.icon__flacon
                            span Есть парфюмерия
                        .shops-list-item__mode.shops-list-item__col
                            .title-col-mobile Часы работы:                            
                            .desc-col-mobile
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        a.button.button--default(href="#") Подробнее о магазине
            button.shops-list__more
                span ЕЩЕ МАГАЗИНЫ
                i.icon.icon__arrow--pink--right            
        .shops-tabs__content
            img(src="img/shops-map.jpg" alt="" width="100%")
        .shops-tabs__content
            img(src="img/shops-metro.jpg" alt="" width="100%")
    .shops-list__more--inPage
        button.button.button--default
            span Показать ещё
    .shop-proposal
        i.icon.icon__geo--blue
        a(href="#") Предложите место для нового магазина