section.section-shops
    .section-shops__title
        .shops-tabs
            button.shops-tabs__item
                i.icon.icon__list
                span списком
            button.shops-tabs__item
                i.icon.icon__geo
                span на карте
            button.shops-tabs__item
                i.icon.icon__metro
                span на схеме метро
        .shops-search
            input.shops-search__input(type="text" placeholder="введите город")
            input.shops-search__input(type="text" placeholder="введите адрес или станцию метро")
    .section-shops__content
        .shops-tabs__content            
                .shops-list
                    .shops-list__head
                        .shops-list-item__name
                            span Название
                        .shops-list-item__address
                            span Адрес
                        .shops-list-item__metro
                            span Станция метро
                        .shops-list-item__availability
                            span Наличие
                        .shops-list-item__mode
                            span Режим работы
                    .shops-list__scroll-block
                        .shops-list-item
                            .shops-list-item__name
                                span МАГАЗИН «ПОДРУЖКА» НА ФЕСТИВАЛЬНОЙ
                            .shops-list-item__address
                                span г. Москва, Фестивальная ул.,  д. 53А
                            .shops-list-item__metro
                                i.icon.icon__metro--grey
                                .text
                                    span.text__name Бульвар Дмитрия Донского
                                    span.text__desc 4 мин. пешком
                            .shops-list-item__availability
                                .availability
                                    .availability__item.active
                                    .availability__item.active
                                    .availability__item
                                    .availability__item
                                    .availability__item
                            .shops-list-item__mode
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        .shops-list-item
                            .shops-list-item__name
                                span МАГАЗИН «ПОДРУЖКА»  НА владимирской 
                            .shops-list-item__address
                                span г. Москва, Владимирская  3-я ул., д. 24Г
                            .shops-list-item__metro
                                i.icon.icon__metro--yellow
                                .text
                                    span.text__name Перово
                                    span.text__desc 2 мин. пешком
                            .shops-list-item__availability
                                .availability
                                    .availability__item.active
                                    .availability__item.active
                                    .availability__item.active
                                    .availability__item.active
                                    .availability__item.active
                            .shops-list-item__mode
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00
                        .shops-list-item
                            .shops-list-item__name
                                span МАГАЗИН «ПОДРУЖКА»  НА ЕРЕВАНСКОЙ 
                            .shops-list-item__address
                                span г. Москва, Ереванская ул.,  д. 24, корп. 1
                            .shops-list-item__metro
                                i.icon.icon__metro--green
                                .text
                                    span.text__name Царицыно
                                    span.text__desc 4 мин. пешком
                            .shops-list-item__availability
                                .availability
                                    .availability__item
                                    .availability__item
                                    .availability__item
                                    .availability__item
                                    .availability__item
                            .shops-list-item__mode
                                span пн.–пт. 09:00–21:00
                                span сб. 10:00–19:00
                                span вс. 12:00–17:00                       