section.section-shops
    .section-shops__title
        .shops-tabs
            .shops-tabs__item
                i.icon.icon__list
                span списком
            .shops-tabs__item
                i.icon.icon__geo
                span на карте
            .shops-tabs__item
                i.icon.icon__metro
                span на схеме метро
        .shops-search
            input.shops-search__input(type="text" placeholder="введите город")
            input.shops-search__input(type="text" placeholder="введите адрес или станцию метро")
    .section-shops__content
        .shops-tabs__content
            table.shops-list
                thead
                    tr
                        th Название
                        th Адрес
                        th Станция метро
                        th Наличие
                        th Режим работы
                tbody
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА» НА ФЕСТИВАЛЬНОЙ
                        td.shops-list-item__address
                            span г. Москва, Фестивальная ул.,  д. 53А
                        td.shops-list-item__metro
                            i.icon.icon__metro--grey
                            .text
                                span.text__name Бульвар Дмитрия Донского
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА владимирской 
                        td.shops-list-item__address
                            span г. Москва, Владимирская  3-я ул., д. 24Г
                        td.shops-list-item__metro
                            i.icon.icon__metro--yellow
                            .text
                                span.text__name Перово
                                span.text__desc 2 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА ЕРЕВАНСКОЙ 
                        td.shops-list-item__address
                            span г. Москва, Ереванская ул.,  д. 24, корп. 1
                        td.shops-list-item__metro
                            i.icon.icon__metro--green
                            .text
                                span.text__name Царицыно
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА» НА ФЕСТИВАЛЬНОЙ
                        td.shops-list-item__address
                            span г. Москва, Фестивальная ул.,  д. 53А
                        td.shops-list-item__metro
                            i.icon.icon__metro--grey
                            .text
                                span.text__name Бульвар Дмитрия Донского
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА владимирской 
                        td.shops-list-item__address
                            span г. Москва, Владимирская  3-я ул., д. 24Г
                        td.shops-list-item__metro
                            i.icon.icon__metro--yellow
                            .text
                                span.text__name Перово
                                span.text__desc 2 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА ЕРЕВАНСКОЙ 
                        td.shops-list-item__address
                            span г. Москва, Ереванская ул.,  д. 24, корп. 1
                        td.shops-list-item__metro
                            i.icon.icon__metro--green
                            .text
                                span.text__name Царицыно
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА» НА ФЕСТИВАЛЬНОЙ
                        td.shops-list-item__address
                            span г. Москва, Фестивальная ул.,  д. 53А
                        td.shops-list-item__metro
                            i.icon.icon__metro--grey
                            .text
                                span.text__name Бульвар Дмитрия Донского
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА владимирской 
                        td.shops-list-item__address
                            span г. Москва, Владимирская  3-я ул., д. 24Г
                        td.shops-list-item__metro
                            i.icon.icon__metro--yellow
                            .text
                                span.text__name Перово
                                span.text__desc 2 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА ЕРЕВАНСКОЙ 
                        td.shops-list-item__address
                            span г. Москва, Ереванская ул.,  д. 24, корп. 1
                        td.shops-list-item__metro
                            i.icon.icon__metro--green
                            .text
                                span.text__name Царицыно
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА» НА ФЕСТИВАЛЬНОЙ
                        td.shops-list-item__address
                            span г. Москва, Фестивальная ул.,  д. 53А
                        td.shops-list-item__metro
                            i.icon.icon__metro--grey
                            .text
                                span.text__name Бульвар Дмитрия Донского
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА владимирской 
                        td.shops-list-item__address
                            span г. Москва, Владимирская  3-я ул., д. 24Г
                        td.shops-list-item__metro
                            i.icon.icon__metro--yellow
                            .text
                                span.text__name Перово
                                span.text__desc 2 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА ЕРЕВАНСКОЙ 
                        td.shops-list-item__address
                            span г. Москва, Ереванская ул.,  д. 24, корп. 1
                        td.shops-list-item__metro
                            i.icon.icon__metro--green
                            .text
                                span.text__name Царицыно
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА» НА ФЕСТИВАЛЬНОЙ
                        td.shops-list-item__address
                            span г. Москва, Фестивальная ул.,  д. 53А
                        td.shops-list-item__metro
                            i.icon.icon__metro--grey
                            .text
                                span.text__name Бульвар Дмитрия Донского
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА владимирской 
                        td.shops-list-item__address
                            span г. Москва, Владимирская  3-я ул., д. 24Г
                        td.shops-list-item__metro
                            i.icon.icon__metro--yellow
                            .text
                                span.text__name Перово
                                span.text__desc 2 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                                .availability__item.active
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00
                    tr.shops-list-item
                        td.shops-list-item__name
                            span МАГАЗИН «ПОДРУЖКА»  НА ЕРЕВАНСКОЙ 
                        td.shops-list-item__address
                            span г. Москва, Ереванская ул.,  д. 24, корп. 1
                        td.shops-list-item__metro
                            i.icon.icon__metro--green
                            .text
                                span.text__name Царицыно
                                span.text__desc 4 мин. пешком
                        td.shops-list-item__availability
                            .availability
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                                .availability__item
                        td.shops-list-item__mode
                            span пн.–пт. 09:00–21:00
                            span сб. 10:00–19:00
                            span вс. 12:00–17:00