script(src="vendor/fancybox/jquery.fancybox.js")
footer.footer
	.footer-menu-section
		.footer-menu-section__item
			.title разделы
			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") каталог
				li.footer-menu__item
					a.footer-menu__link(href="#") акции
				li.footer-menu__item
					a.footer-menu__link(href="#") только у нас
				li.footer-menu__item
					a.footer-menu__link(href="#") новинки
				li.footer-menu__item
					a.footer-menu__link(href="#") хочу скидку
				li.footer-menu__item
					a.footer-menu__link(href="#") магазины
				li.footer-menu__item
					a.footer-menu__link(href="#") пообщаемся
		.footer-menu-section__item
			.title каталог
			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Макияж
				li.footer-menu__item
					a.footer-menu__link(href="#") Парфюмерия
				li.footer-menu__item
					a.footer-menu__link(href="#") Уход
				li.footer-menu__item
					a.footer-menu__link(href="#") Для любимых
				li.footer-menu__item
					a.footer-menu__link(href="#") Дамские штучки
				li.footer-menu__item
					a.footer-menu__link(href="#") Для дома
				li.footer-menu__item
					a.footer-menu__link(href="#") Бренды
		.footer-menu-section__item
			.title промо
			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Акции
				li.footer-menu__item
					a.footer-menu__link(href="#") Журналы
				li.footer-menu__item
					a.footer-menu__link(href="#") Подарочные сертификаты
				li.footer-menu__item
					a.footer-menu__link(href="#") Подписка на рассылку
		.footer-menu-section__item
			.title дополнительно
			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Поиск
				li.footer-menu__item
					a.footer-menu__link(href="#") Карта сайта
				li.footer-menu__item
					a.footer-menu__link(href="#") Вниманию покупателей
				li.footer-menu__item
					a.footer-menu__link(href="#") Обратная связь
	.footer__logo-section
		.image
			img(src="img/logo--large.png", alt="")
