- if (mainPage)
	.header-banner
		.header-banner__slider.js-header-banner.owl-carousel
			.item(style="background-image: url('img/slider-top-page__1.jpg')")
			.item(style="background-image: url('img/slider-top-page__1.jpg')")
			.item(style="background-image: url('img/slider-top-page__1.jpg')")
			.item(style="background-image: url('img/slider-top-page__1.jpg')")
header.header
	.header-logo
		button.top-menu-button.js-top-nav-toggle
			span
		a(href="#")
			img(src="img/logo.png", alt="")
	.header-menu
		nav
			ul.top-menu
				li.top-menu__item
					a.top-menu__link(data-sub-menu="catalog" href="#") Каталог
					section.header-menu-sub
						ul.top-menu-sub
							li.top-menu-sub__item
								a.top-menu-sub__link(href="#") макияж
								.child-menu-container
									.child-menu-group
										.child-menu
											.child-menu__title
												a(href="#") лицо
											ul
												li
													a(href="#") корректор
												li
													a(href="#") тональные средства
												li
													a(href="#") пудра
												li
													a(href="#") румяна
										.child-menu
											.child-menu__title
												a(href="#") глаза
											ul
												li
													a(href="#") база под тени
												li
													a(href="#") карандаши и лайнеры
												li
													a(href="#") для бровей
												li
													a(href="#") тени
												li
													a(href="#") тушь
												li
													a(href="#") накладные ресницы
										.child-menu
											.child-menu__title
												a(href="#") губы
											ul
												li
													a(href="#") блески
												li
													a(href="#") карандаши
												li
													a(href="#") помада
										.child-menu
											.child-menu__title
												a(href="#") ногти
											ul
												li
													a(href="#") инструменты
												li
													a(href="#") дизайн ногтей
												li
													a(href="#") средства для снятия лака
												li
													a(href="#") лаки
												li
													a(href="#") уход за ногтями
										.child-menu
											.child-menu__title
												a(href="#") снятие макияжа
											ul
												li
													a(href="#") блески
												li
													a(href="#") карандаши
												li
													a(href="#") помада
									.banner
										a(href="#")
											img(src="img/sub-menu-banner.jpg", alt="")
							li.top-menu-sub__item
								a.top-menu-sub__link(href="#") парфюмерия
							li.top-menu-sub__item
								a.top-menu-sub__link(href="#") уход
							li.top-menu-sub__item
								a.top-menu-sub__link(href="#") для любимых
							li.top-menu-sub__item
								a.top-menu-sub__link(href="#") дамские штучки
							li.top-menu-sub__item
								a.top-menu-sub__link(href="#") для дома
				li.top-menu__item
					a.top-menu__link(data-sub-menu="action" href="#") Акции
					section.header-menu-sub
						section.action-header
							.action-header__container
								.action-header-list
									a.action-header-list__item(href="#")
										img(src="img/action-list-1.jpg", alt="")
										.desc Фестиваль с 1 по 30 июня
									a.action-header-list__item(href="#")
										img(src="img/action-list-2.jpg", alt="")
										.desc 3 по цене 2
									a.action-header-list__item(href="#")
										img(src="img/action-list-3.jpg", alt="")
										.desc ПОдарок за покупку
									a.action-header-list__item(href="#")
										img(src="img/action-list-4.jpg", alt="")
										.desc выгодная цена
									a.action-header-list__item(href="#")
										img(src="img/action-list-5.jpg", alt="")
										.desc -50% выгодная пара
				li.top-menu__item
					a.top-menu__link(href="#") Только у нас
				li.top-menu__item
					a.top-menu__link(href="#") Новинки
				li.top-menu__item
					a.top-menu__link(href="#") Хочу скидки
				li.top-menu__item
					a.top-menu__link(href="#") Магазины
				li.top-menu__item
					a.top-menu__link(href="#") Пообщаемся
	.header-panel
		.header-panel__actions.header-panel__item
			button.item.js-search-panel
				i.icon.icon__loop
			a.item.js-popup-contacts(href="#")
				i.icon.icon__phone
			section.header-menu-sub
				section.contacts-header
					.contacts-header__info
						.col
							.info-group
								.info-group__title.color ООО «ТАБЕР ТРЕЙД» СЕТЬ МАГАЗИНОВ КОСМЕТИКИ «ПОДРУЖКА»
								.info-group__content
									p 115280 Москва ул. Ленинская Слобода, д. 19, Бизнес центр «Омега плаза».
							.info-group
								.info-group__title Телефон:
								.info-group__content
									p (495) 380-28-28 Многоканальный
									p (495) 380-28-29 Отдел персонала
									p (495) 926-80-82 Call-центр
									p
										span.color (800) 707-47-47
										| &nbsp;Звонок бесплатный
							.info-group
								.info-group__title E-mail:
								.info-group__content
									p
										a(href="mailto:secretary@taber.ru") secretary@taber.ru&nbsp;
										| Секретариат
									p
										a(href="mailto:rabota@taber.ru") rabota@taber.ru&nbsp;
										| Отдел персонала
							a.link(href="#") Обратная связь
						.col
							.map
								script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A58c8dfad57fffced55eba6e863e77e24c8e3e71b2276367f37dc49f7fd5a5e0a&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
							.info-group
								.info-group__title Проезд:
								.info-group__content
									p м. Автозаводская, ул. Ленинская Слобода, д.19, Бизнес Центр «Омега Плаза», 2 этаж налево, офис сети магазинов «Подружка».
					.contacts-header__workers
						.tabs.js-tabs
							.tabs-links
								a.tabs__item(href="#") Руководство >
								a.tabs__item(href="#") Администрация >
								a.tabs__item(href="#") Департамент закупок >
								a.tabs__item(href="#") Департамент маркетинга >
								a.tabs__item(href="#") Департамент развития >
								a.tabs__item(href="#") Отдел подбора персонала >
								a.tabs__item(href="#") Департамент логистики >
								a.tabs__item(href="#") Департамент IТ >
								a.tabs__item(href="#") Отдел строительства, оборудования и эксплуатации >
							.tabs-content
								.tabs-content__item
									.info-group
										.info-group__title Директор по развитию
										.info-group__content
											p.color Николай Фоменко
											p +7 985 776-99-62 (моб.)
											p
												a(href="mailto:fomenko@taber.ru") fomenko@taber.ru
									.info-group
										.info-group__title Руководитель отдела поиска помещений и заключения договоров
										.info-group__content
											p.color Алексей Афанасенко
											p (495) 380-28-28, доб. 3316
											p +7 917 560-07-60 (моб.)
											p
												a(href="mailto:a.afanasenko@taber.ru") a.afanasenko@taber.ru
									.title Менеджеры отдела поиска помещений (Москва и МО):
									.info-group
										.info-group__title Менеджер по развитию в ТЦ
										.info-group__content
											p.color Евгений Симоненко
											p (495) 380-28-28, доб. 3267
											p +7 917 560-07-60 (моб.)
											p
												a(href="mailto:e.simonenko@taber.ru") e.simonenko@taber.ru
									.info-group
										.info-group__title Менеджер по развитию в ТЦ
										.info-group__content
											p.color Анна Пауль
											p (495) 380-28-28, доб. 3305
											p
												a(href="mailto:paul@taber.ru") paul@taber.ru
									.info-group
										.info-group__title Менеджер по недвижимости (развитие в Street)
										.info-group__content
											p.color Сергей Макушин
											p (495) 380-28-28, доб. 3302
											p
												a(href="mailto:makushin@taber.ru") makushin@taber.ru
									.info-group
										.info-group__title Менеджер по недвижимости (развитие в Street)
										.info-group__content
											p.color Сергей Макушин
											p (495) 380-28-28, доб. 3302
											p
												a(href="mailto:makushin@taber.ru") makushin@taber.ru
									.info-group
										.info-group__title Менеджер по недвижимости (развитие в Street)
										.info-group__content
											p.color Сергей Макушин
											p (495) 380-28-28, доб. 3302
											p
												a(href="mailto:makushin@taber.ru") makushin@taber.ru
									.info-group
										.info-group__title Менеджер по недвижимости (развитие в Street)
										.info-group__content
											p.color Сергей Макушин
											p (495) 380-28-28, доб. 3302
											p
												a(href="mailto:makushin@taber.ru") makushin@taber.ru
									.info-group
										.info-group__title Менеджер по недвижимости (развитие в Street)
										.info-group__content
											p.color Сергей Макушин
											p (495) 380-28-28, доб. 3302
											p
												a(href="mailto:makushin@taber.ru") makushin@taber.ru
									.info-group
										.info-group__title Менеджер по недвижимости (развитие в Street)
										.info-group__content
											p.color Сергей Макушин
											p (495) 380-28-28, доб. 3302
											p
												a(href="mailto:makushin@taber.ru") makushin@taber.ru
									.info-group
										.info-group__title Менеджер по недвижимости (развитие в Street)
										.info-group__content
											p.color Сергей Макушин
											p (495) 380-28-28, доб. 3302
											p
												a(href="mailto:makushin@taber.ru") makushin@taber.ru
								.tabs-content__item
									p 222
								.tabs-content__item
									p 333
								.tabs-content__item
									p 444
								.tabs-content__item
									p 555
								.tabs-content__item
									p 666
								.tabs-content__item
									p 777
								.tabs-content__item
									p 888
								.tabs-content__item
									p 999
			button.item.js-modal(data-fancybox-href="#js-modal-auth")
				i.icon.icon__auth
		a.header-basket.header-panel__item(href="#")
			.header-basket__image
				i.icon.icon__basket
			.header-basket__count
				span 99
		.header-social.header-panel__item
			.social
				a.social__item(href="#")
					img(src="img/fb.png", alt="")
				a.social__item(href="#")
					img(src="img/vk.png", alt="")
				a.social__item(href="#")
					img(src="img/inst.png", alt="")
	.clearfix
	.header-search
		form.form-search
			input(type="text" placeholder="Напишите, что вы ищете")
			button(type="submit")
				i.icon.icon__loop--pink
		button.header-search__hide.js-search-panel
			span Свернуть
			i.icon.icon__arrow--white--small