.products-list.row
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                .products-list-item__rating
                    .rating
                        .rating__item.active
                        .rating__item.active
                        .rating__item
                        .rating__item
                        .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                .products-list-item__status
                    .legend-item.color-red
                        .legend-item__image.bg-inherit
                            i.icon.icon__discount
                    .legend-item.color-green
                        .legend-item__image.bg-inherit
                            i.icon.icon__new
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__2.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                .products-list-item__status
                    .legend-item.color-green
                        .legend-item__image.bg-inherit
                            i.icon.icon__new
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__3.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__4.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                .products-list-item__status
                    .legend-item.color-red
                        .legend-item__image.bg-inherit
                            i.icon.icon__discount
                    .legend-item.color-green
                        .legend-item__image.bg-inherit
                            i.icon.icon__new
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__5.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .instagram-slider-item__image(style="background-image: url('img/inst-list.png')")
            .instagram-slider-item__title
                i.icon.icon__inst--large
                span #podrygkashop
    .col-md-3
        .products-list-item
            a.products-list-item__action(href="#" style="background-image: url('img/products-list-action.png')")
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков
    .col-md-3
        .products-list-item
            .products-list-item__header
                a(href="#")
                    .products-list-item__image
                        img(src="img/novetly-slider__1.jpg", alt="")
                    .products-list-item__title PERFECT MAT LIPSTICK second line test
                    .products-list-item__category помада
                    .products-list-item__rating
                        .rating
                            .rating__item.active
                            .rating__item.active
                            .rating__item
                            .rating__item
                            .rating__item
            .products-list-item__footer
                .products-list-item__price
                    .value.value--current
                        span 1346
                        span.rouble &#x20bd;
                    .value.value--old
                        span 1346
                        span.rouble &#x20bd;
                .products-list-item__shades
                    button.image.image--basket.js-add-basket
                        .icon.icon__basket--large
                    button.image.image--like.js-like
                        .icon.icon__heart
                    .text 14 оттенков