.popup-discount.popup-discount--discount-info#popup-discount-info
	button.popup-close
	.title Скидка
	.info
		.info-row
			.info-row__col.info-row__col--left
				p
					| В&nbsp;
					span апреле&nbsp;
					| сумма Ваших покупок составляет&nbsp;
					span.large 600 руб. 80 коп.
				a(href="#") Подробнее
			.info-row__col.info-row__col--right
				.discount-list__item
					.image
						.circle.circle--large
							span 15
								span %
					.desc
						span
							| Ваша скидка на&nbsp;
							strong май
		.info-row
			.info-row__col.info-row__col--left
				p
					| В&nbsp;
					span мае&nbsp;
					| сумма Ваших покупок составляет&nbsp;
					span.large 1200 руб. 10 коп.
				p
					| Дата последней покупки:&nbsp;
					strong 12.05.2016
				a(href="#") Подробнее
			.info-row__col.info-row__col--right
				.discount-list__item
					.image
						.circle.circle--medium
							span 10
								span %
					.desc
						span
							| Ваша скидка на&nbsp;
							strong июнь
	.info__annotation
		p
			span Внимание:&nbsp;
			| Информация по накоплениям на карте обновляется в течение 2-3 рабочих дней послесовершения покупки. Вы всегда можете проверить актуальный баланс, позвонив в колл-центрпо тел.&nbsp;
			strong +7 495 926-80-82, +7 800 707-47-47&nbsp;
			| (звонок бесплатный).