- var owlNavLight = true
include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.shop-page__header(style="background-image: url('img/shops-list__header-bg.jpg');")
		section.page-content.page-content.page-content--shops-list.page-content--shop-detail
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					a.breadcrumbs-item(href="#") Магазины
				h1.page-title магазин «подружка» на чертановской
			.search-shop__toggle
					button.button.button--default.js-toggle-shop-search Поиск магазина
			.page-content__left
				.search-shop
					.search-shop__title поиск магазина
					.search-shop__group
						.title Город
						select.js-select(data-placeholder="Все")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Линия метро
						select.js-select(data-placeholder="Любая")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Станция метро
						select.js-select(data-placeholder="Любая")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Улица
						input.input-text.input-text--search(type="text" placeholder="Введите название")
					.search-shop__group
						.title Бренд
						select.js-select(data-placeholder="Любой")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group-bottom
						input.input-checkbox(type="checkbox")
						i.icon.icon__flacon
						span В магазине есть парфюмерия
					button.button.button--default Найти
			.page-content__right
				.shop-tour.shops-list__container
					.shop-tour__left
						iframe(src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1488443827098!6m8!1m7!1sjpScvL6IBXMAAAQvxda5Og!2m2!1d55.79525958595877!2d37.61686451130868!3f270.08!4f0!5f0.4000000000000002"
				width="100%" height="500" frameborder="0" style="border:0" allowfullscreen)
					.shop-tour__right
						.shop-tour-slider.js-slider-tour
							a.shop-tour-slider__item(href="#")
								img(src="img/3d-gallery__1.jpg", alt="")
							a.shop-tour-slider__item(href="#")
								img(src="img/3d-gallery__2.jpg", alt="")
							a.shop-tour-slider__item(href="#")
								img(src="img/3d-gallery__3.jpg", alt="")
							a.shop-tour-slider__item(href="#")
								img(src="img/3d-gallery__1.jpg", alt="")
							a.shop-tour-slider__item(href="#")
								img(src="img/3d-gallery__2.jpg", alt="")
							a.shop-tour-slider__item(href="#")
								img(src="img/3d-gallery__3.jpg", alt="")
		include templates/components/section-journal.jade
		include templates/footer.jade
