include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.action-header
			.action-header__container
				.action-header-list
					a.action-header-list__item(href="#")
						img(src="img/action-list-1.jpg", alt="")
						.desc Фестиваль с 1 по 30 июня
					a.action-header-list__item(href="#")
						img(src="img/action-list-2.jpg", alt="")
						.desc 3 по цене 2
					a.action-header-list__item(href="#")
						img(src="img/action-list-3.jpg", alt="")
						.desc ПОдарок за покупку
					a.action-header-list__item(href="#")
						img(src="img/action-list-4.jpg", alt="")
						.desc выгодная цена
					a.action-header-list__item(href="#")
						img(src="img/action-list-5.jpg", alt="")
						.desc -50% выгодная пара
		section.page-content
			.page-content__left
				ul.left-menu
					li.left-menu__item.active
						a.left-menu__link(href="#")
							span Промо ИЮНя
							i.icon.icon__arrow--violet
						ul.left-menu-sub.left-menu-sub--level-1
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Фестиваль
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") 2=3
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") подарок за покупку
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Выгодная цена
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Выгодная пара
				.legend
					.legend-item.color-green
						.legend-item__text
							span Новинки
						.legend-item__image.bg-inherit
							i.icon.icon__new
					.legend-item.color-rose
						.legend-item__text
							span Выгодные цены
						.legend-item__image.bg-inherit
							i.icon.icon__purse
					.legend-item.color-blue
						.legend-item__text
							span Подарки
						.legend-item__image.bg-inherit
							i.icon.icon__box
					.legend-item.color-red
						.legend-item__text
							span Скидки
						.legend-item__image.bg-inherit
							i.icon.icon__discount
					.legend-item.color-gold
						.legend-item__text
							span Хиты
						.legend-item__image.bg-inherit
							i.icon.icon__star--white
					.legend-item.color-orange
						.legend-item__text
							span эксклюзивно
						.legend-item__image.bg-inherit
							i.icon.icon__exclamation-point
			.page-content__right
				section.owl-carousel.js-slider-top
					a(href="#")
						picture
							//[if IE 9]><!
							video(style='display: none;')
								//<![endif]
								source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
								source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
								source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
								source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
								source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
								source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
							img(srcset='img/slider-top__1.jpg')
					a(href="#")
						picture
							//[if IE 9]><!
							video(style='display: none;')
								//<![endif]
								source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
								source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
								source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
								source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
								source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
								source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
							img(srcset='img/slider-top__1.jpg')
				section.action-category-list
					.action-category-list__label
						img(src="img/page-action-label-1.png", alt="")
					.action-category-list__slider.owl-carousel.js-action-category-slider
						a.item(href="#")
							.item__img
								img(src="img/page-action-slider-1.jpg", alt="")
							.item__title Зонт в подарок*
							.item__link подробней
						a.item(href="#")
							.item__img
								img(src="img/page-action-slider-2.jpg", alt="")
							.item__title Косметичка в подарок*
							.item__link подробней
						a.item(href="#")
							.item__img
								img(src="img/page-action-slider-3.jpg", alt="")
							.item__title Сыворотка для ресниц Argan Oil 5 в 1 в подарок*
							.item__link подробней
						a.item(href="#")
							.item__img
								img(src="img/page-action-slider-1.jpg", alt="")
							.item__title Зонт в подарок*
							.item__link подробней
						a.item(href="#")
							.item__img
								img(src="img/page-action-slider-2.jpg", alt="")
							.item__title Косметичка в подарок*
							.item__link подробней
						a.item(href="#")
							.item__img
								img(src="img/page-action-slider-3.jpg", alt="")
							.item__title Сыворотка для ресниц Argan Oil 5 в 1 в подарок*
							.item__link подробней
					.slider-nav
						button.left.arrow.arrow--left
						button.right.arrow.arrow--right
				section.action-category-list
					.action-category-list__label
						img(src="img/page-action-label-2.png", alt="")
					.action-category-list__slider.action-category-list__slider.owl-carousel.js-action-category-slider
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-4.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-5.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-4.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-5.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-4.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-5.jpg", alt="")
							.item__link подробней
					.slider-nav
						button.left.arrow.arrow--left
						button.right.arrow.arrow--right
				section.action-category-list
					.action-category-list__label
						img(src="img/page-action-label-3.png", alt="")
					.action-category-list__slider.action-category-list__slider.owl-carousel.js-action-category-slider
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-6.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-6.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-6.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-6.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-6.jpg", alt="")
							.item__link подробней
						a.item(href="#")
							.item__img.item__img--with-logo
								img(src="img/page-action-slider-6.jpg", alt="")
							.item__link подробней
					.slider-nav
						button.left.arrow.arrow--left
						button.right.arrow.arrow--right		
		include templates/components/section-journal.jade
		include templates/footer.jade
