- var owlNavLight = true
include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.page-content
			.page-content-header
				h1.page-title Внимание покупателей!
			.page-content__left
				section.attention-block
					.attention-block__text
						p В последнее время участились случаи обращения покупателей по поводу предложений со стороны разнообразных «центров и салонов красоты и здоровья» со ссылкой на сеть магазинов «Подружка». Сообщаем Вам, что сеть магазинов «Подружка» (в лице ООО «Табер Трейд») не осуществляет передачу персональных данных своих покупателей, в том числе фамилию, имя, отчество, номер телефона, адрес электронной почты иным третьим лицам, в том числе не имеющим к ООО «Табер Трейд» никакого отношения «центрам салонов красоты и здоровья». Сеть магазинов косметики и парфюмерии «Подружка» постоянно растёт и развивается, чтобы сделать своих покупательниц красивыми. В нашей сети более 14 000 наименований товаров парфюмерии и косметики известных брендов, представлены средства по уходу за лицом, волосами и телом. Используя нашу популярность, сомнительные компании, которые специализируются на мошенническом навязывании потребителям услуг и товаров низкого качества в области красоты и ухода за собой, позволяют себе безосновательно утверждать о предоставлении персональных данных физических лиц именно сетью магазинов «Подружка» (в лице ООО «Табер Трейд»).
						p Сеть магазинов «Подружка», в лице ООО «Табер Трейд», действует строго в соответствии с законом РФ о рекламе и персональных данных. Мы производим все возможные правовые меры для пресечения действий указанных сомнительных и недобросовестных компаний.
						p Кроме того, просим ознакомиться с разъяснениями, размещенными на официальном сайте Управления Роспотребнадзора по г. Москве: http://77.rospotrebnadzor.ru/index.php/component/content/article/76-question/2252-voprosotvet; и пресс-релизом ГУ МВД России по г. Москве: https://mvd.ru/news/item/3257592.
						p Будьте бдительны! Сожалеем, если вам пришлось столкнуться с указанной проблемой.
					.attention-block__image
						img(src="img/girl.png", alt="")
		include templates/components/section-journal.jade
		include templates/footer.jade
