include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.page-content.page-content--brands
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					span.breadcrumbs-item Бренды
				h1.page-title Бренды
			.page-content__right
				.brands-list
					.brands-list__item
						ul
							li
								a(href="#") 1st
							li
								a(href="#") lady 2080
							li
								a(href="#") 312
							li
								a(href="#") 1st
							li
								a(href="#") lady 2080
							li
								a(href="#") 312
							li
								a(href="#") 1st
							li
								a(href="#") lady 2080
							li
								a(href="#") 312
							li
								a(href="#") 1st
							li
								a(href="#") lady 2080
							li
								a(href="#") 312
							li
								a(href="#") 1st
							li
								a(href="#") lady 2080
							li
								a(href="#") 312
							li
								a(href="#") 1st
							li
								a(href="#") lady 2080
							li
								a(href="#") 312
							li
								a(href="#") 1st
							li
								a(href="#") lady 2080
							li
								a(href="#") 312
					.brands-list__item
						ul
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
							li
								a(href="#") antonio banderas
							li
								a(href="#") avon
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
							li
								a(href="#") antonio banderas
							li
								a(href="#") avon
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
							li
								a(href="#")
									span antonio banderas
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") avon
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") antonio banderas
							li
								a(href="#") avon
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
							li
								a(href="#") antonio banderas
							li
								a(href="#") avon
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
							li
								a(href="#") antonio banderas
							li
								a(href="#") avon
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
							li
								a(href="#") antonio banderas
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") avon
							li
								a(href="#") Adidas
							li
								a(href="#") abbbbb
							li
								a(href="#") antonio banderas
							li
								a(href="#") avon
					.brands-list__item
						ul
							li
								a(href="#") Carmex1
							li
								a(href="#") Carolina Herrera13
							li
								a(href="#") Cartier3
							li
								a(href="#") Cerruti11
							li
								a(href="#") Cheryl Cole1
							li
								a(href="#") Chloe3
							li
								a(href="#") Chopard5
							li
								a(href="#") Christian Audigier2
							li
								a(href="#") Christian Dior9
							li
								a(href="#") Christian Lacroix3
							li
								a(href="#") Christina Aguilera9
							li
								a(href="#") Ciate2
							li
								a(href="#") Citronella2
							li
								a(href="#") Clarins32
							li
								a(href="#") Claudia Stevens1
							li
								a(href="#") Clinique20
							li
								a(href="#") Clynol2
							li
								a(href="#") Coca Cola2
							li
								a(href="#") Colgate1
							li
								a(href="#") Colormates5
							li
								a(href="#") Coryse Salome Paris
							li
								a(href="#") Cosmopolitan3
							li
								a(href="#") Cosy Heads2
							li
								a(href="#") Coty3
							li
								a(href="#") Carmex1
							li
								a(href="#") Carolina Herrera13
							li
								a(href="#") Cartier3
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") Cerruti11
							li
								a(href="#") Cheryl Cole1
							li
								a(href="#") Chloe3
							li
								a(href="#") Chopard5
							li
								a(href="#") Christian Audigier2
							li
								a(href="#") Christian Dior9
							li
								a(href="#") Christian Lacroix3
							li
								a(href="#") Christina Aguilera9
							li
								a(href="#") Ciate2
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") Citronella2
							li
								a(href="#") Clarins32
							li
								a(href="#") Claudia Stevens1
							li
								a(href="#") Clinique20
							li
								a(href="#") Clynol2
							li
								a(href="#") Coca Cola2
							li
								a(href="#") Colgate1
							li
								a(href="#") Colormates5
							li
								a(href="#") Coryse Salome Paris
							li
								a(href="#") Cosmopolitan3
							li
								a(href="#") Cosy Heads2
							li
								a(href="#") Coty3
							li
								a(href="#") Carmex1
							li
								a(href="#") Carolina Herrera13
							li
								a(href="#") Cartier3
							li
								a(href="#") Cerruti11
							li
								a(href="#") Cheryl Cole1
							li
								a(href="#") Chloe3
							li
								a(href="#") Chopard5
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") Christian Audigier2
							li
								a(href="#") Christian Dior9
							li
								a(href="#") Christian Lacroix3
							li
								a(href="#") Christina Aguilera9
							li
								a(href="#") Ciate2
							li
								a(href="#") Citronella2
							li
								a(href="#") Clarins32
							li
								a(href="#") Claudia Stevens1
							li
								a(href="#") Clinique20
							li
								a(href="#") Clynol2
							li
								a(href="#") Coca Cola2
							li
								a(href="#") Colgate1
							li
								a(href="#") Colormates5
							li
								a(href="#") Coryse Salome Paris
							li
								a(href="#") Cosmopolitan3
							li
								a(href="#") Cosy Heads2
							li
								a(href="#") Coty3
							li
								a(href="#") Carmex1
							li
								a(href="#") Carolina Herrera13
							li
								a(href="#") Cartier3
							li
								a(href="#") Cerruti11
							li
								a(href="#") Cheryl Cole1
							li
								a(href="#") Chloe3
							li
								a(href="#") Chopard5
							li
								a(href="#") Christian Audigier2
							li
								a(href="#") Christian Dior9
							li
								a(href="#") Christian Lacroix3
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") Christina Aguilera9
							li
								a(href="#") Ciate2
							li
								a(href="#") Citronella2
							li
								a(href="#") Clarins32
							li
								a(href="#") Claudia Stevens1
							li
								a(href="#") Clinique20
							li
								a(href="#") Clynol2
							li
								a(href="#") Coca Cola2
							li
								a(href="#") Colgate1
							li
								a(href="#") Colormates5
							li
								a(href="#") Coryse Salome Paris
							li
								a(href="#") Cosmopolitan3
							li
								a(href="#") Cosy Heads2
							li
								a(href="#") Coty3
							li
								a(href="#") Carmex1
							li
								a(href="#") Carolina Herrera13
							li
								a(href="#") Cartier3
							li
								a(href="#") Cerruti11
							li
								a(href="#") Cheryl Cole1
							li
								a(href="#") Chloe3
							li
								a(href="#") Chopard5
							li
								a(href="#") Christian Audigier2
							li
								a(href="#") Christian Dior9
							li
								a(href="#") Christian Lacroix3
							li
								a(href="#") Christina Aguilera9
							li
								a(href="#") Ciate2
							li
								a(href="#") Citronella2
							li
								a(href="#") Clarins32
							li
								a(href="#") Claudia Stevens1
							li
								a(href="#") Clinique20
							li
								a(href="#") Clynol2
							li
								a(href="#") Coca Cola2
							li
								a(href="#") Colgate1
							li
								a(href="#") Colormates5
							li
								a(href="#") Coryse Salome Paris
							li
								a(href="#") Cosmopolitan3
							li
								a(href="#") Cosy Heads2
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") Coty3
							li
								a(href="#") Carmex1
							li
								a(href="#") Carolina Herrera13
							li
								a(href="#") Cartier3
							li
								a(href="#") Cerruti11
							li
								a(href="#") Cheryl Cole1
							li
								a(href="#") Chloe3
							li
								a(href="#") Chopard5
							li
								a(href="#") Christian Audigier2
							li
								a(href="#") Christian Dior9
							li
								a(href="#") Christian Lacroix3
							li
								a(href="#") Christina Aguilera9
							li
								a(href="#") Ciate2
							li
								a(href="#") Citronella2
							li
								a(href="#") Clarins32
							li
								a(href="#") Claudia Stevens1
							li
								a(href="#") Clinique20
							li
								a(href="#") Clynol2
							li
								a(href="#") Coca Cola2
							li
								a(href="#") Colgate1
							li
								a(href="#") Colormates5
							li
								a(href="#") Coryse Salome Paris
							li
								a(href="#") Cosmopolitan3
							li
								a(href="#") Cosy Heads2
							li
								a(href="#") Coty3
							li
								a(href="#") Carmex1
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") Carolina Herrera13
								.unique
									i.icon.icon__exclamation-point--orange
							li
								a(href="#") Cartier3
							li
								a(href="#") Cerruti11
							li
								a(href="#") Cheryl Cole1
							li
								a(href="#") Chloe3
							li
								a(href="#") Chopard5
							li
								a(href="#") Christian Audigier2
							li
								a(href="#") Christian Dior9
							li
								a(href="#") Christian Lacroix3
							li
								a(href="#") Christina Aguilera9
							li
								a(href="#") Ciate2
							li
								a(href="#") Citronella2
							li
								a(href="#") Clarins32
							li
								a(href="#") Claudia Stevens1
							li
								a(href="#") Clinique20
							li
								a(href="#") Clynol2
							li
								a(href="#") Coca Cola2
							li
								a(href="#") Colgate1
							li
								a(href="#") Colormates5
							li
								a(href="#") Coryse Salome Paris
							li
								a(href="#") Cosmopolitan3
							li
								a(href="#") Cosy Heads2
							li
								a(href="#") Coty3
				.show-more
					button ПОКАЗАТЬ ЕЩЕ
					.show-more__count
						| <
						span.current 1
						| /
						span.total 34
						| >
		include templates/components/section-journal.jade
		include templates/footer.jade
