include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.page-content.page-content--brands
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					span.breadcrumbs-item Бренды
				h1.page-title Бренды
			.page-content__right
				.brands-list
					.brands-list__item
						ul
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
					.brands-list__item
						ul
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
							li
								a(href="#")  antonio banderas
							li
								a(href="#")  avon
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
							li
								a(href="#")  antonio banderas
							li
								a(href="#")  avon
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
							li
								a(href="#")  antonio banderas
								i.icon.icon__exclamation-point--orange
							li
								a(href="#")  avon
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
								i.icon.icon__exclamation-point--orange
							li
								a(href="#")  antonio banderas
							li
								a(href="#")  avon
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
							li
								a(href="#")  antonio banderas
							li
								a(href="#")  avon
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
							li
								a(href="#")  antonio banderas
							li
								a(href="#")  avon
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
							li
								a(href="#")  antonio banderas
								i.icon.icon__exclamation-point--orange
							li
								a(href="#")  avon
							li
								a(href="#") Adidas
							li
								a(href="#")  abbbbb
							li
								a(href="#")  antonio banderas
							li
								a(href="#")  avon
			.show-more
				button ПОКАЗАТЬ ЕЩЕ
				.show-more__count
					| <
					span.current 1
					| /
					span.total 34
					| >
		include templates/components/section-journal.jade
		include templates/footer.jade
