include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.page-content
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					span.breadcrumbs-item Бренды
				h1.page-title Бренды
			.page-content__right
				.brands-list
					.brands-list__item
						ul
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
							li
								a(href="#") 1st
							li
								a(href="#")  lady 2080
							li
								a(href="#")  312
		include templates/components/section-journal.jade
		include templates/footer.jade
