include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		//- section.action-header.action-header--mobile
		//- 	.action-header-menu
		//- 		.action-header-menu__title Подробнее  об акциях:
		//- 		.dropdown.js-dropdown-actions
		//- 			.dropdown__title
		//- 				span Промо июня
		//- 				i.icon.icon__triangle--white
		//- 			.dropdown-list
		//- 				a.dropdown-list__item(href="#")
		//- 					span Фестиваль
		//- 				a.dropdown-list__item(href="#")
		//- 					span 2=3
		//- 				a.dropdown-list__item(href="#")
		//- 					span Подарок за покупку
		//- 				a.dropdown-list__item(href="#")
		//- 					span Выгодная цена
		//- 				a.dropdown-list__item(href="#")
		//- 					span Выгодная пара
		//- 		.clearfix
		//- 	.action-header__desc
		//- 		span
		//- 			| ВЫИГРЫВАЙ КАЖДЫЙ ДЕНЬ СЕРТИФИКАТ
		//- 			br
		//- 			| НА 30 000 В МАГАЗИН CALZEDONIA!
		//- 			br
		//- 			| С 1 по 30 июня 2016 г.
		//- 	.clearfix
		section.page-content.page-content--action-detail
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					a.breadcrumbs-item(href="#") Промо июня
					span.breadcrumbs-sep >
					span.breadcrumbs-item Фестиваль
				h1.page-title vivienne sabo
			.page-content__left.page-content__left--no-border
				ul.left-menu
					li.left-menu__item.active
						a.left-menu__link(href="#")
							span Промо ИЮНя
							i.icon.icon__arrow--violet
						ul.left-menu-sub.left-menu-sub--level-1
							li.left-menu-sub__item.active
								a.left-menu-sub__link(href="#") Фестиваль
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") 2=3
								ul.left-menu-sub.left-menu-sub--level-2
									li.left-menu-sub__item.active
										a.left-menu-sub__link(href="#") L’oreal
									li.left-menu-sub__item
										a.left-menu-sub__link(href="#") sally hanssen
									li.left-menu-sub__item
										a.left-menu-sub__link(href="#") черный жемчуг
									li.left-menu-sub__item
										a.left-menu-sub__link(href="#") maybelline
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") подарок за покупку
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Выгодная цена
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Выгодная пара
				.bottom-text
					span ВЫИГРЫВАЙ КАЖДЫЙ ДЕНЬ СЕРТИФИКАТ НА 30 000  В МАГАЗИН CALZEDONIA! С 1 ПО 30 ИЮНЯ 2016г.
			.page-content__right
				section.action__top-banner
					picture
						//[if IE 9]><!
						video(style='display: none;')
							//<![endif]
							source(srcset='img/action2=3.jpg', media='(min-width: 1450px)')
							source(srcset='img/action2=3__1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/action2=3__1024.jpg', media='(min-width: 800px)')
							source(srcset='img/action2=3__800.jpg', media='(min-width: 520px)')
							source(srcset='img/action2=3__480.jpg', media='(min-width: 340px)')
							source(srcset='img/action2=3__320.jpg', media='(max-width: 340px)')
						source(srcset='img/action2=3.jpg', media='(min-width: 1450px)')
						source(srcset='img/action2=3__1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/action2=3__1024.jpg', media='(min-width: 800px)')
						source(srcset='img/action2=3__800.jpg', media='(min-width: 520px)')
						source(srcset='img/action2=3__480.jpg', media='(min-width: 340px)')
						source(srcset='img/action2=3__320.jpg', media='(max-width: 340px)')
						img(srcset='img/action2=3.jpg')
				section.action__detail-text
					.social
						a.social__item(href="#")
							i.icon.icon__fb
						a.social__item(href="#")
							i.icon.icon__vk
						a.social__item(href="#")
							i.icon.icon__inst
					h2.title При покупке продукции Vivienne Sabo на сумму от 449 rub — получай гарантированные подарки — тушьдля ресниц или подводку для глаз! 
					p 
						| Успей провести это лето по-французски с Vivienne Sabo! 
						strong C 1 по 31 августа 
						| при покупке продукции 
						strong Vivienne Saboна 
						| сумму от 449 rub — получай гарантированныеподарки — 
						strong тушь для ресниц или подводку для глаз Vivienne Sabo!
					p 
						| Владельцы дисконтной карты «Подружка», совершившие акционную покупку, получают возможность выиграть каждый день один из двух сертификатов в магазин 
						strong «БЮСТЬЕ» на 30 000 рублей!
					p 
						| Номер твоего чека, в котором выполнены все условия акции, 
						strong АВТОМАТИЧЕСКИ 
						| становится претендентом на 
						strong ГЛАВНЫЙ ПРИЗ! ЕЖЕДНЕВНО 
						| номера чеков-победителей публикуются на этой странице!
					p
						a(href="#") Полные правила акции
				section.section-products-slider.section-products-slider--inContent
					.title
						span товары, участвующие в фестивале
						a(href="#") Показать все
					.products-slider.owl-carousel.js-slider-products-in-content
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__1.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
							.products-list-item__footer
								.products-list-item__price
									.value.value--current
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.image--basket.js-add-basket
										.icon.icon__basket--large
									button.image.image--like.js-like
										.icon.icon__heart
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__2.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
							.products-list-item__footer
								.products-list-item__price
									.value.value--current
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.image--basket.js-add-basket
										.icon.icon__basket--large
									button.image.image--like.js-like
										.icon.icon__heart
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__3.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
							.products-list-item__footer
								.products-list-item__price
									.value.value--current
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.image--basket.js-add-basket
										.icon.icon__basket--large
									button.image.image--like.js-like
										.icon.icon__heart
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__1.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
							.products-list-item__footer
								.products-list-item__price
									.value.value--current
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.image--basket.js-add-basket
										.icon.icon__basket--large
									button.image.image--like.js-like
										.icon.icon__heart
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__2.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
							.products-list-item__footer
								.products-list-item__price
									.value.value--current
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.image--basket.js-add-basket
										.icon.icon__basket--large
									button.image.image--like.js-like
										.icon.icon__heart
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__3.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
							.products-list-item__footer
								.products-list-item__price
									.value.value--current
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.image--basket.js-add-basket
										.icon.icon__basket--large
									button.image.image--like.js-like
										.icon.icon__heart
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__1.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
							.products-list-item__footer
								.products-list-item__price
									.value.value--current
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.image--basket.js-add-basket
										.icon.icon__basket--large
									button.image.image--like.js-like
										.icon.icon__heart
									.text 14 оттенков
					.slider-nav.owl-nav--light
						.owl-nav
							button.owl-prev
							.custom-dots
								span.custom-dots__current
								span из
								span.custom-dots__count
							button.owl-next
		include templates/components/section-journal.jade
		include templates/footer.jade
