- var owlNavLight = true
include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.personal-page
            p 123
		include templates/components/section-journal.jade
		include templates/footer.jade
