- var owlNavLight = true
include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.catalog-header
			picture
				//[if IE 9]><!
				video(style='display: none;')
					//<![endif]
					source(srcset='img/catalog-banner--1920.jpg', media='(min-width: 1366px)')
					source(srcset='img/catalog-banner--1366.jpg', media='(min-width: 1024px)')
					source(srcset='img/catalog-banner--1024.jpg', media='(min-width: 800px)')
					source(srcset='img/catalog-banner--800.jpg', media='(min-width: 520px)')
					source(srcset='img/catalog-banner--520.jpg', media='(min-width: 340px)')
					source(srcset='img/catalog-banner--340.jpg', media='(max-width: 340px)')
				source(srcset='img/catalog-banner--1920.jpg', media='(min-width: 1366px)')
				source(srcset='img/catalog-banner--1366.jpg', media='(min-width: 1024px)')
				source(srcset='img/catalog-banner--1024.jpg', media='(min-width: 800px)')
				source(srcset='img/catalog-banner--800.jpg', media='(min-width: 520px)')
				source(srcset='img/catalog-banner--520.jpg', media='(min-width: 340px)')
				source(srcset='img/catalog-banner--340.jpg', media='(max-width: 340px)')
				img(srcset='img/catalog-banner--1920.jpg')
		section.page-content.page-content--product-detail
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					a.breadcrumbs-item(href="#") Каталог
					span.breadcrumbs-sep >
					span.breadcrumbs-item Уход
				h1.page-title Косметика для ухода
			.page-content__left
				ul.left-menu
					li.left-menu__item.active
						a.left-menu__link(href="#")
							span Макияж
							i.icon.icon__arrow--violet
						ul.left-menu-sub.left-menu-sub--level-1
							li.left-menu-sub__item.active
								a.left-menu-sub__link(href="#") Лицо
								ul.left-menu-sub.left-menu-sub--level-2
									li.left-menu-sub__item.active
										a.left-menu-sub__link(href="#") Корректор
									li.left-menu-sub__item
										a.left-menu-sub__link(href="#") Тональные средства
									li.left-menu-sub__item
										a.left-menu-sub__link(href="#") пудра
									li.left-menu-sub__item
										a.left-menu-sub__link(href="#") Румяна
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Глаза
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Губы
							li.left-menu-sub__item
								a.left-menu-sub__link(href="#") Ногти
					li.left-menu__item
						a.left-menu__link(href="#")
							span Парфюмерия
							i.icon.icon__arrow--violet
					li.left-menu__item
						a.left-menu__link(href="#")
							span Уход
							i.icon.icon__arrow--violet
					li.left-menu__item
						a.left-menu__link(href="#")
							span Для любимых
							i.icon.icon__arrow--violet
					li.left-menu__item
						a.left-menu__link(href="#")
							span Дамские штучки
							i.icon.icon__arrow--violet
					li.left-menu__item
						a.left-menu__link(href="#")
							span Для дома
							i.icon.icon__arrow--violet
					li.left-menu__item
						a.left-menu__link(href="#")
							span Бренды
							i.icon.icon__arrow--violet
				.legend
					.legend-item.color-green
						.legend-item__text
							span Новинки
						.legend-item__image.bg-inherit
							i.icon.icon__new
					.legend-item.color-rose
						.legend-item__text
							span Выгодные цены
						.legend-item__image.bg-inherit
							i.icon.icon__purse
					.legend-item.color-blue
						.legend-item__text
							span Подарки
						.legend-item__image.bg-inherit
							i.icon.icon__box
					.legend-item.color-red
						.legend-item__text
							span Скидки
						.legend-item__image.bg-inherit
							i.icon.icon__discount
					.legend-item.color-gold
						.legend-item__text
							span Хиты
						.legend-item__image.bg-inherit
							i.icon.icon__star--white
					.legend-item.color-orange
						.legend-item__text
							span эксклюзивно
						.legend-item__image.bg-inherit
							i.icon.icon__exclamation-point
			.page-content__right
				section.product-detail
					.product-detail__top
						.product-detail__brand
							.image
								img(src="img/nouba.jpg", alt="")
							a.link(href="#") Все товары бренда
						.product-detail__title PERFECT MAT LIPSTICK second line test
						.product-detail__category
							span помада
						.product-detail--head-flex
							.product-detail__articul
								span Артикул
								span.value 107568
							.product-detail__reviews
								.rating
									.rating__item.active
									.rating__item.active
									.rating__item.active
									.rating__item.active
									.rating__item
								a(href="#") 6 отзывов
						.product-detail__desc
							span ПОМАДА-БАЛЬЗАМ ДЛЯ ГУБ LOREAL INFAILLIBLE SEXY BALM ТОН 103
						.product-detail__gallery
							.js-product-image-slider.owl-carousel
								.image
									a.gallery-item(href="img/product-detail.jpg")
										img(src="img/product-detail.jpg", alt="")
								.image
									a.gallery-item(href="img/product-thumbs-1.jpg")
										img(src="img/product-thumbs-1.jpg", alt="")
								.item-video
									a.owl-video(href="https://www.youtube.com/watch?v=lseC59xeb0Y")
							.thumbs
								.thumbs__item
									a.gallery-item(href="img/product-detail.jpg")
										img(src="img/product-detail.jpg", alt="")
								.thumbs__item
									a.gallery-item(href="img/product-thumbs-1.jpg")
										img(src="img/product-thumbs-1.jpg", alt="")
								.thumbs__item
									a.gallery-item(href="img/product-thumbs-2.jpg")
										img(src="img/product-thumbs-2.jpg", alt="")
							.social
								a.social__item(href="#")
									i.icon.icon__fb
								a.social__item(href="#")
									i.icon.icon__vk
								a.social__item(href="#")
									i.icon.icon__inst
						.product-detail-shades
							.product-detail-shades__slider
								.shades-slider.owl-carousel.owl-nav--light.js-slider-shades
									.shades-slider__item
										button
											img.image(src="img/shade-1.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-2.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-3.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-4.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-5.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-6.png", alt="")
											.legend-item.color-green
												.legend-item__image.bg-inherit
													i.icon.icon__new
									.shades-slider__item
										button
											img.image(src="img/shade-7.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-8.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-9.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-10.png", alt="")
											.legend-item.color-red
												.legend-item__image.bg-inherit
													i.icon.icon__discount
									.shades-slider__item
										button
											img.image(src="img/shade-1.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-2.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-3.png", alt="")
									.shades-slider__item
										button
											img.image(src="img/shade-4.png", alt="")
							button.view-all-shades.js-modal-shades ПОКАЗАТЬ ВСЕ ОТТЕНКИ
							.shades-modal
								button.shades-modal__close
									i.icon.icon__close--violet
								.shades-modal__title ВСЕ ОТТЕНКИ
								.shades-modal-items
									button.item
										img.image(src="img/shade-1.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-2.png", alt="")
									button.item
										img.image(src="img/shade-3.png", alt="")
									button.item
										img.image(src="img/shade-4.png", alt="")
									button.item
										img.image(src="img/shade-5.png", alt="")
									button.item
										img.image(src="img/shade-6.png", alt="")
									button.item
										img.image(src="img/shade-7.png", alt="")
										.legend-item.color-red
											.legend-item__image.bg-inherit
												i.icon.icon__discount
									button.item
										img.image(src="img/shade-8.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-9.png", alt="")
									button.item
										img.image(src="img/shade-10.png", alt="")
									button.item
										img.image(src="img/shade-1.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-2.png", alt="")
									button.item
										img.image(src="img/shade-3.png", alt="")
									button.item
										img.image(src="img/shade-4.png", alt="")
									button.item
										img.image(src="img/shade-5.png", alt="")
									button.item
										img.image(src="img/shade-6.png", alt="")
									button.item
										img.image(src="img/shade-7.png", alt="")
										.legend-item.color-red
											.legend-item__image.bg-inherit
												i.icon.icon__discount
									button.item
										img.image(src="img/shade-8.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-9.png", alt="")
									button.item
										img.image(src="img/shade-10.png", alt="")
									button.item
										img.image(src="img/shade-1.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-2.png", alt="")
									button.item
										img.image(src="img/shade-3.png", alt="")
									button.item
										img.image(src="img/shade-4.png", alt="")
									button.item
										img.image(src="img/shade-5.png", alt="")
									button.item
										img.image(src="img/shade-6.png", alt="")
									button.item
										img.image(src="img/shade-7.png", alt="")
										.legend-item.color-red
											.legend-item__image.bg-inherit
												i.icon.icon__discount
									button.item
										img.image(src="img/shade-8.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-9.png", alt="")
									button.item
										img.image(src="img/shade-10.png", alt="")
									button.item
										img.image(src="img/shade-1.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-2.png", alt="")
									button.item
										img.image(src="img/shade-3.png", alt="")
									button.item
										img.image(src="img/shade-4.png", alt="")
									button.item
										img.image(src="img/shade-5.png", alt="")
									button.item
										img.image(src="img/shade-6.png", alt="")
									button.item
										img.image(src="img/shade-7.png", alt="")
										.legend-item.color-red
											.legend-item__image.bg-inherit
												i.icon.icon__discount
									button.item
										img.image(src="img/shade-8.png", alt="")
										.legend-item.color-green
											.legend-item__image.bg-inherit
												i.icon.icon__new
									button.item
										img.image(src="img/shade-9.png", alt="")
									button.item
										img.image(src="img/shade-10.png", alt="")
								.clearfix
								.shades-modal__current
									.image
										img(src="img/shade-1.png", alt="")
									.desc
										.desc__title Жемчужина рассвета
										.desc__articul Артикул 107568
						.product-detail__panel
							.articul-select.js-dropdown-article
								.articul-select__title
									.item__content
										img(src="img/shade-1.png", alt="")
										span Артикул 107568
									i.icon.icon__triangle--black
								.articul-select-list
									.item
										.item__content
											img(src="img/shade-1.png", alt="")
											span Артикул 107568
									.item
										.item__content
											img(src="img/shade-2.png", alt="")
											span Артикул 234675
									.item
										.item__content
											img(src="img/shade-3.png", alt="")
											span Артикул 123567
									.item
										.item__content
											img(src="img/shade-4.png", alt="")
											span Артикул 678745
									.item
										.item__content
											img(src="img/shade-5.png", alt="")
											span Артикул 753353
							.prices-block
								.input-count.js-input-count
									button.input-count__button.count-minus
										i.icon.icon__minus--grey
									input(type="text" value="1")
									button.input-count__button.count-plus
										i.icon.icon__plus--grey
								.price
									span.price__item.price__item--current 
										| 1346
										span.rouble &#x20bd;
									span.price__item.price__item--old
										| 1346
										span.rouble &#x20bd;
							.buttons-block
								button.buttons-block__buy
									span купить
									i.icon.icon__basket--large
								button.buttons-block__like
									i.icon.icon__heart
					.product-detail-tabs.js-tabs
						ul.tabs
							li.tabs__item
								span Описание
							li.tabs__item
								span отзывы (999)
							li.tabs__item
								span доставка
							li.tabs__item
								span оплата
							li.tabs__item
								span наличие в магазинах
						.tabs-content
							.tabs-content__item
								.tabs__item--mobile								
									span Описание
									i.icon.icon__plus--violet
								.product-detail-tabs__content
									p Ухоженные, ультра-глянцевые и мягкие, как бархат губы с помадой Plumping Gloss. Формула обогащена пептидами и увлажняющими активными ингредиентами.Ухоженные, ультра-глянцевые и мягкие, как бархат губы с помадой Plumping Gloss. Формула обогащена пептидами и увлажняющими активными ингредиентами.
									a.readmore(href="#") Побробнее		
							.tabs-content__item
								.tabs__item--mobile 
									span отзывы (999)
									i.icon.icon__plus--violet
								p 222
							.tabs-content__item
								.tabs__item--mobile
									span доставка
									i.icon.icon__plus--violet
								p 333
							.tabs-content__item
								.tabs__item--mobile
									span оплата
									i.icon.icon__plus--violet
								p 444
							.tabs-content__item
								.tabs__item--mobile
									span наличие в магазинах
									i.icon.icon__plus--violet
								p 555
		section.section-products-slider
			.title Рекомендуем вам
			.products-slider.owl-carousel.js-slider-products
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-1.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/novetly-slider__4.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/novetly-slider__5.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/novetly-slider__3.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-2.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-2.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/novetly-slider__3.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
			.slider-nav.owl-nav--light
				.owl-nav
					button.owl-prev
					.custom-dots
						span.custom-dots__current
						span из
						span.custom-dots__count
					button.owl-next
		section.section-products-slider
			.title Недавно просмотренные товары
			.products-slider.owl-carousel.js-slider-products
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-3.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-3.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-4.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-5.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-6.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/product-image-7.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
				.products-list-item
					.products-list-item__header
						a(href="#")
							.products-list-item__image
								img(src="img/novetly-slider__3.jpg", alt="")
							.products-list-item__title PERFECT MAT LIPSTICK second line test
							.products-list-item__category помада
					.products-list-item__footer
						.products-list-item__price
							.value.value--current
								span 1346
								span.rouble &#x20bd;
							.value.value--old
								span 1346
								span.rouble &#x20bd;
						.products-list-item__shades
							.rating
								.rating__item.active
								.rating__item.active
								.rating__item
								.rating__item
								.rating__item
							.text 14 оттенков
			.slider-nav.owl-nav--light
				.owl-nav
					button.owl-prev
					.custom-dots
						span.custom-dots__current
						span из
						span.custom-dots__count
					button.owl-next
		include templates/components/section-journal.jade
		include templates/footer.jade
