- var owlNavLight = true
include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.shop-page__header(style="background-image: url('img/shops-list__header-bg.jpg');")
		section.page-content.page-content.page-content--shops-list
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					a.breadcrumbs-item(href="#") Магазины
				h1.page-title магазин «подружка» на чертановской
			.search-shop__toggle
					button.button.button--default.js-toggle-shop-search Поиск магазина
			.page-content__left
				.search-shop
					.search-shop__title поиск магазина
					.search-shop__group
						.title Город
						select.js-select(data-placeholder="Все")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Линия метро
						select.js-select(data-placeholder="Любая")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Станция метро
						select.js-select(data-placeholder="Любая")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Улица
						input.input-text.input-text--search(type="text" placeholder="Введите название")
					.search-shop__group
						.title Бренд
						select.js-select(data-placeholder="Любой")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group-bottom
						input.input-checkbox(type="checkbox")
						i.icon.icon__flacon
						span В магазине есть парфюмерия
					button.button.button--default Найти
			.page-content__right
				.shops-list__container
					.shop-detail__images
						.shop-slider.owl-carousel.js-slider-shop
							.shop-slider__item
								img(src="img/shop-detail-slider-1.jpg", alt="")
							.shop-slider__item
								img(src="img/shop-detail-slider-1.jpg", alt="")
							.shop-slider__item
								img(src="img/shop-detail-slider-1.jpg", alt="")
							.shop-slider__item
								img(src="img/shop-detail-slider-1.jpg", alt="")
		include templates/components/section-journal.jade
		include templates/footer.jade
