- var owlNavLight = true
include templates/head.jade
body.page-inner
	.page-wrapper
		include templates/components/menu/mobile-top-menu--catalog.jade
		include templates/header.jade
		section.shop-page__header(style="background-image: url('img/shops-list__header-bg.jpg');")
		section.page-content.page-content.page-content--shops-list
			section.page-content-header
				section.breadcrumbs
					a.breadcrumbs-item(href="#") Главная
					span.breadcrumbs-sep >
					a.breadcrumbs-item(href="#") Магазины
				h1.page-title магазин «подружка» на чертановской
			.search-shop__toggle
					button.button.button--default.js-toggle-shop-search Поиск магазина
			.page-content__left
				.search-shop
					.search-shop__title поиск магазина
					.search-shop__group
						.title Город
						select.js-select(data-placeholder="Все")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Линия метро
						select.js-select(data-placeholder="Любая")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Станция метро
						select.js-select(data-placeholder="Любая")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group
						.title Улица
						input.input-text.input-text--search(type="text" placeholder="Введите название")
					.search-shop__group
						.title Бренд
						select.js-select(data-placeholder="Любой")
							option(value="")
							option(value="1") 1
							option(value="2") 2
					.search-shop__group-bottom
						input.input-checkbox(type="checkbox")
						i.icon.icon__flacon
						span В магазине есть парфюмерия
					button.button.button--default Найти
			.page-content__right
				.shop-detail.shops-list__container
					.shop-detail-cols
						.shop-detail-cols__left
							.shop-detail__images
								.shop-slider.owl-carousel.owl-nav--light.js-slider-shop
									a.shop-slider__item.gallery-item(href="img/shop-detail-slider-1.jpg" rel="shop-image" style="background-image: url('img/shop-detail-slider-1.jpg');")
									a.shop-slider__item.gallery-item(href="img/shop-detail-slider-1.jpg" rel="shop-image" style="background-image: url('img/shop-detail-slider-1.jpg');")
									a.shop-slider__item.gallery-item(href="img/shop-detail-slider-1.jpg" rel="shop-image" style="background-image: url('img/shop-detail-slider-1.jpg');")
									a.shop-slider__item.gallery-item(href="img/shop-detail-slider-1.jpg" rel="shop-image" style="background-image: url('img/shop-detail-slider-1.jpg');")
						.shop-detail-cols__right
							.shop-detail__tour
								.icon.icon__3d
								a(href="#")
									| 3D-тур
									br
									| по магазину
							.shop-detail__perfume
								i.icon.icon__flacon
								span Есть парфюмерия
							.shop-detail-info
								.shop-detail-info__group
									.title Адрес:
									.value
										span г. Москва, Фестивальная ул., д. 53А
								.shop-detail-info__group
									.title Метро:
									.value
										i.icon.icon__metro--grey
										span Бульвар Дмитрия Донского
								.shop-detail-info__group
									.title Часы работы:
									.value
										span ежедневно с 09:00 до 21:00
							.shop-detail__panel
								a.button.button--default(href="#") оставить отзыв о магазине
								button.button.button--default(href="#" disabled) сделать «моим магазином»
								p
									| Чтобы выбрать любимый магазин, необходимо 
									a(href="#") зарегистрироваться
					.shop-detail__hr
					.shop-detail-cols.shop-detail__geo
						.shop-detail-cols__left
							script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=CuYgq9eafhGY9FUXXmm19lkV3fx3nJcX&amp;width=100%&amp;height=625&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
						.shop-detail-cols__right
								.title как добраться
								p Ярославский вокзал. Сесть на электропоезд и проследовать до станции Фрязино-Пассажирская в первом или втором вагоне по направлению движения поезда из Москвы. Сойти с платформы и проследовать к остановке автотранспорта. Сесть на автобус №3 и проехать до остановки «Больница». Магазин «Подружка» расположен прямо за остановкой.
								.metro
									i.icon.icon__metro--grey
									span Бульвар Дмитрия Донского
								p Выйти в город из первого вагона по ходу движения поезда из центра в сторону Щелковского автовокзала. Сесть на автобус № 361 и проследовать до остановки «Старая автостанция», перейти через дорогу и пройти в сторону церкви 150 метров. Магазин «Подружка» находится напротив церкви.
								.print
									i.icon.icon__print
									button Распечатать схему
		include templates/components/section-journal.jade
		include templates/footer.jade
