include templates/head.jade
body
    .container
        ul.nav(style="width: 100%; max-width: 500px; margin-top:50px;")
            li(style="margin-top:20px;")
                a.button.button--default(href="/") Главная
            li(style="margin-top:20px;")
                a.button.button--default(href="/catalog.html") Каталог
            li(style="margin-top:20px;")
                a.button.button--default(href="/actions.html") Акции