include templates/head.jade
body
    ul.nav(style="width: 800px; max-width: 90%; margin: 0 auto 20px auto;")
        li.col-sm-6.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/") Главная
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/catalog.html") Каталог
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/product.html") Карточка товара
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/actions.html") Акции
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/action2=3.html") Акция2=3
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/festival.html") Фестиваль
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/shops-list.html") Список магазинов
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/shop-detail.html") Магазин - детальная
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/lk.html") Личный кабинет
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/sertificate.html") Сертификаты
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/brand.html") Бренд
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/discount-1.html") Хочу скидку - шаблон 1
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/discount-2.html") Хочу скидку - шаблон 2
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/discount-3.html") Хочу скидку - шаблон 3
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/discount-4.html") Хочу скидку - шаблон 4
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/discount-5.html") Хочу скидку - шаблон 5
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/attention.html") ВНИМАНИЕ ПОКУПАТЕЛЕЙ!
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/404.html") 404
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/shop-detail-2.html") Контакты  
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/journal.html") Журнал  
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/3d-tour.html") 3D-Тур
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/subscribe.html") Подписка