include templates/head.jade
body
    .container
        ul.nav.nav-pills.nav-stacked(style="width: 100%; max-width: 500px;")
            li
                a(href="/") Главная
            li
                a(href="/catalog.html") Каталог
            li
                a(href="/actions.html") Акции