include templates/head.jade
body
    .container
        ul.nav(style="width: 100%; max-width: 500px;")
            li
                a.button.button-default(href="/") Главная
            li
                a(href="/catalog.html") Каталог
            li
                a(href="/actions.html") Акции