include templates/head.jade
body
    .container
        ul.nav.nav-pills.nav-stacked
            li
                a(href="/") Главная
            li
                a(href="/catalog.html") Каталог
            li
                a(href="/actions.html") Акции