include templates/head.jade
body
    ul.nav(style="width: 800px; max-width: 90%; margin: 0 auto 20px auto;")
        li.col-sm-6.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/") Главная
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/catalog.html") Каталог
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/product.html") Карточка товара
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/actions.html") Акции
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/action2=3.html") Акция2=3
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/festival.html") Фестиваль
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/shops-list.html") Список магазинов
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/shop-detail.html") Магазин - детальная
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/lk.html") Личный кабинет
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/sertificate.html") Сертификаты
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/brand.html") Бренд
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/discount-1.html") Хочу скидку - шаблон 1
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/discount-2.html") Хочу скидку - шаблон 2
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/discount-3.html") Хочу скидку - шаблон 3
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/discount-4.html") Хочу скидку - шаблон 4
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/discount-5.html") Хочу скидку - шаблон 5
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/attention.html") ВНИМАНИЕ ПОКУПАТЕЛЕЙ!
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/404.html") 404
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/shop-detail-2.html") Контакты     
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/journal.html") Журнал  
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/3d-tour.html") 3D-Тур
        li.col-sm-6(style="margin-top:20px;")
            a.button.button--default(href="/subscribe.html") Подписка        