.modal-hide
	.modal-container#js-modal-auth
		.modal-container__title
			span регистрация
		.modal-container-content
			.form-modal.form-modal--auth
				p
					| Зарегистрируйтесь, если у вас нет учетной записи, или 
					a.js-modal(data-fancybox-href="#js-modal-auth" href="#") авторизуйтесь
				.input-container
					input.input-text(type="text" placeholder="Имя*")
				.input-container
					input.input-text(type="text" placeholder="Контактный email*")
				.input-container
					input.input-text(type="text" placeholder="Номер карты")
				.input-container.input-container--with-two
					input.input-text(type="text" placeholder="Введи пароль*")
					input.input-text(type="text" placeholder="Повтори пароль*")
				.form-modal__annotaiton
					span *Поля обязательные для регистрации
				.form-modal__capcha
					span Введи число с картинки*:
					.code
					button
						.icon.icon__refresh
					input.input-text(type="text" placeholder="")
				.form-modal__terms
					input.input-checkbox.small(type="checkbox")
					span
						| Я согласен с 
						a(href="#") правилами пользования сайтом
				.form-modal__footer
					input.button.button--default(type="submit" value="зарегистрироваться")