.modal-hide
	.modal-container.journal-popup#js-modal-journal
		.journal-popup__slider.owl-nav--light.js-slider-journalpopup
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
		.journal-popup__slider-thumbs.js-slider-journalpopup-thumbs
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-2.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-3.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-4.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-2.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-3.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-4.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-2.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-3.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-thumb-4.jpg", alt="")