.modal-hide
	.modal-container.journal-popup#js-modal-journal
		.journal-popup__slider.js-slider-journalpopup
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")