.modal-hide
	.modal-container.journal-popup#js-modal-journal
		.journal-popup__slider.owl-nav--light.js-slider-journalpopup(data-slider-id="1")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
			.journal-popup__slider-item
				img(src="img/journal-slider-1.jpg", alt="")
		.owl-thumbs.js-slider-journalpopup-thumbs(data-slider-id="1")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-1.jpg", alt="")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-2.jpg", alt="")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-3.jpg", alt="")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-4.jpg", alt="")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-1.jpg", alt="")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-2.jpg", alt="")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-3.jpg", alt="")
			.owl-thumbs__item
				img(src="img/journal-slider-thumb-4.jpg", alt="")