.popup-discount.popup-discount--birthday#popup-birthday
    button.popup-close
    .title День Рождения
    p Приготовьтесь к празднику заранее – совершайте больше покупок за месяц до Вашего рождения и весь следующий месяц радуйте себя большей скидкой:
    ul
        li
            | если сумма покупок&nbsp;
            strong менее 1000 рублей&nbsp;
            | – скидка увеличивается&nbsp;
            strong до 10%
            | ;
        li
            | если сумма покупок&nbsp;
            strong от 1000 рублей до 1500 рублей&nbsp;
            | – скидка увеличивается&nbsp;
            strong до 15%
            | ;
        li
            | сумма накоплений на карте&nbsp;
            strong более 1500 рублей&nbsp;
            | – скидка увеличивается&nbsp;
            strong до 20%
            | ;
    p
        | Сообщите нам о Вашем Дне рождения за 3 недели до него. Для этого&nbsp;
        a(href="#") заполните анкету&nbsp;
        | или позвоните в call-центр по бесплатному телефону&nbsp;
        strong +7 800 707-47-47
        | .
    p Если Вы указали дату рождения при заполнении анкеты на получение карты, дополнительная регистрация не требуется.
