.popup-discount.popup-discount--conditions#popup-discount-conditions
    button.popup-close
    .title Как получить карту?
    p Совершите покупку в магазине «Подружка» на сумму от 600 рублей в г. Москва или от 500 рублей в г. Санкт-Петербург, заполните анкету на кассе, и дисконтная карта Ваша!
    .title Как восстановить потерянную карту?
    p Для восстановления накоплений по утерянной дисконтной карте необходимо обратиться к сотруднику любого магазина «Подружка», и сообщить номер утерянной карты. Номер утерянной карты можно узнать следующими способами:
    ul
        li
            span если Вы сохранили товарный чек, то номер дисконтной карты указан в верхнем правом углу в поле «Клиент»;
        li
            span 
                | если Ваша дисконтная карта была зарегистрирована, и Вы получаете смс-рассылки от нашей компании, то необходимо позвонить в сall-центр по телефону:&nbsp;
                strong +7 495 926-80-82, +7 800 707-47-47.&nbsp;
                | Вам потребуется сообщить оператору номер Вашего мобильного телефона, фамилию, имя и дату рождения. В случае наличия соответствующей информации в нашей базе данных, Вам будет выслан номер утерянной карты. После того, как Вы сообщите номер утерянной карты сотруднику магазина, Вам будет выдана новая дисконтная карта, и в течение 3-х рабочих дней на нее будут перенесены все Ваши предыдущие накопления.
    p
        strong Обмен и восстановление карт производится во всех магазинах «Подружка».
    .title Как узнать размер скидки?
    p
        | Накопления на карте можно проверить самостоятельно: на сайте, в любом магазине «Подружка», предъявив дисконтную карту,  или по телефону Call-центра:&nbsp;
        strong +7 495 926-80-82, +7 800 707-47-47.