.popup-discount.popup-discount--name-day#popup-name-day
    button.popup-close
    .title Именины
    p
        | Имена, которые получат скидку в текущем месяце, ищите&nbsp;
        strong 20-24 числа&nbsp;
        | каждого месяца на сайте&nbsp;
        a(href="#") podrygka.ru&nbsp;
        | и в группe&nbsp;
        a(href="#") vkontakte
        | .
    p Для получения скидки в День именин:
    ul
        li
            | зарегистрируйте Вашу дисконтную карту в разделе
            button.js-popup(data-popup-href="#popup-reg-card") Регистрация карты&nbsp;
            | или позвоните в call-центр по тел.&nbsp;
            strong +7 495 926-80-82, +7 800 707-47-47.
        li ждите SMS с приглашением на Ваши именины!
