.mobile-menu-container
	ul.mobile-menu
		li.mobile-menu__item
			a.mobile-menu__link(href="#") Каталог
		li.mobile-menu__item
			a.mobile-menu__link(href="#") Акции
		li.mobile-menu__item
			a.mobile-menu__link(href="#") Только у нас
		li.mobile-menu__item
			a.mobile-menu__link(href="#") Новинки
		li.mobile-menu__item
			a.mobile-menu__link(href="#") Хочу скидки
		li.mobile-menu__item
			a.mobile-menu__link(href="#") Магазины
		li.mobile-menu__item
			a.mobile-menu__link(href="#") Пообщаемся
.overlay-block.overlay-block--open-nav
