section.section-journal
	.section-journal-container
		.section-journal__slider
			.journal-slider-wrap
				.journal-slider.owl-carousel.js-slider-journal
					.journal-slider-item
						a.journal-slider-item__image(href="#")
							img(src="img/journal-1.jpg", alt="")
						.journal-slider-item__desc
							span.strong 05
							span /май
					.journal-slider-item
						a.journal-slider-item__image(href="#")
							img(src="img/journal-2.jpg", alt="")
						.journal-slider-item__desc
							span.strong 04
							span /апрель
					.journal-slider-item
						a.journal-slider-item__image(href="#")
							img(src="img/journal-3.jpg", alt="")
						.journal-slider-item__desc
							span.strong 03
							span /март
					.journal-slider-item
						a.journal-slider-item__image(href="#")
							img(src="img/journal-3.jpg", alt="")
						.journal-slider-item__desc
							span.strong 02
							span /февраль
					.journal-slider-item
						a.journal-slider-item__image(href="#")
							img(src="img/journal-1.jpg", alt="")
						.journal-slider-item__desc
							span.strong 01
							span /январь
					.journal-slider-item
						a.journal-slider-item__image(href="#")
							img(src="img/journal-2.jpg", alt="")
						.journal-slider-item__desc
							span.strong 01
							span /январь
					.journal-slider-item
						a.journal-slider-item__image(href="#")
							img(src="img/journal-3.jpg", alt="")
						.journal-slider-item__desc
							span.strong 01
							span /январь
		.section-journal__desc
			.title
				| Журнал 
				span подружка
			ul.list-bg.list-bg--flower
				li.list-bg__item
					span Узнавай про новинки
				li.list-bg__item 
					span читай Статьи, советы и т.п.
				li.list-bg__item 
					span Скачай на телефон
			.block-shop-app
				a.block-shop-app__item(href="#")
					img(src="img/google-play.png", alt="")
				a.block-shop-app__item(href="#")
					img(src="img/app-store.png", alt="")
	.section-journal-bottom
		.section-journal-bottom__container
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
