.whishlist
    button.whishlist__info.js-popup(data-popup-href="#popup-info") 
        i.icon.icon__info
        span Зачем это надо?
    .popup-block#popup-info
        button.popup-close
        .popup-block__title Подготовьтесь к посещению магазина
        p Сохраните список или распечатайте его и возьмите с собой в магазин. Не забудьте предварительно  проверить наличие выбранных товаров в магазине.
        p
            strong ВНИМАНИЕ! Цены в магазинах могут отличаться от представленных на сайте. 
            | Точную цену товара узнавайте в магазине.
    .whishlist-panel
        .whishlist-panel__lists
            .title Мои списки
            ul
                li
                    button Список №1 (5)
                li
                    button Список №2 (10)
                li
                    button Список №3 (2)
                li
                    button Список №4 (6)
                li
                    button Список №5 (4)
        .whishlist-panel__add-list
            .title Создать новый список
            button.button.button--default.js-popup(data-popup-href="#popup-add-list") создать
            .popup-block#popup-add-list
                button.popup-close
                .popup-block__title Создать список
                input.input-text(type="text" placeholder="Название")
                button.button.button--default создать
        .whishlist-panel__add-product
            .title добавить товар
            div
                p Добавьте товар, введя артикульный номер и количество
                .input-group
                    input.input-text.input--name(type="text" placeholder="Артикул")
                    input.input-text.input--count(type="text" placeholder="1")
                button.button.button--default добавить
    .whishlist-content
        .whishlist-content__header
            .title Список желаний №1
            .control
                button.control__button Переименовать
                button.control__button Удалить
        .whishlist-shops
            span Выберите ближайший магазин для проверки наличия товара
            .whishlist-shops__panel
                select.js-select(data-placeholder="Выберите из списка")
                    option(value="")
                    option(value="1") 1
                    option(value="2") 2
                button.button.button--default ок
        .whishlist-table
            .whishlist-table__header
                .col.col-check
                    span Выбрать
                .col.col-product
                    span Товар 
                .col.col-count
                    span Количество
                .col.col-availability
                    span Наличие в магазине
                .col.col-price
                    span Общая цена
            .whishlist-table__item
                .col.col-check
                    input.input-checkbox(type="checkbox")
                .col.col-product
                    .col-product__image
                        img(src="img/product-small.jpg", alt="")
                    div
                        .col-product__desc Помада для губ EVELINE VELVET MATT тон 413 матовая жидкая
                        .mobile-block
                            .mobile-block__group
                                .title Количество
                                .value 10
                            .mobile-block__group
                                .title Наличие в магазине
                                .value
                                    button детали
                            .mobile-block__group
                                .title Общая цена
                                .value 1 546
                .col.col-count
                    span 10
                .col.col-availability
                    button детали
                .col.col-price
                    span 1 546
            .whishlist-table__item
                .col.col-check
                    input.input-checkbox(type="checkbox")
                .col.col-product
                    .col-product__image
                        img(src="img/product-small.jpg", alt="")
                    div
                        .col-product__desc Помада для губ EVELINE VELVET MATT тон 413 матовая жидкая
                        .mobile-block
                            .mobile-block__group
                                .title Количество
                                .value 10
                            .mobile-block__group
                                .title Наличие в магазине
                                .value
                                    button детали
                            .mobile-block__group
                                .title Общая цена
                                .value 1 546
                .col.col-count
                    span 10
                .col.col-availability
                    button детали
                .col.col-price
                    span 1 546
            .whishlist-table__item
                .col.col-check
                    input.input-checkbox(type="checkbox")
                .col.col-product
                    .col-product__image
                        img(src="img/product-small.jpg", alt="")
                    div
                        .col-product__desc Помада для губ EVELINE VELVET MATT тон 413 матовая жидкая
                        .mobile-block
                            .mobile-block__group
                                .title Количество
                                .value 10
                            .mobile-block__group
                                .title Наличие в магазине
                                .value
                                    button детали
                            .mobile-block__group
                                .title Общая цена
                                .value 1 546
                .col.col-count
                    span 10
                .col.col-availability
                    button детали
                .col.col-price
                    span 1 546
            .whishlist-table__item
                .col.col-check
                    input.input-checkbox(type="checkbox")
                .col.col-product
                    .col-product__image
                        img(src="img/product-small.jpg", alt="")
                    div
                        .col-product__desc Помада для губ EVELINE VELVET MATT тон 413 матовая жидкая
                        .mobile-block
                            .mobile-block__group
                                .title Количество
                                .value 10
                            .mobile-block__group
                                .title Наличие в магазине
                                .value
                                    button детали
                            .mobile-block__group
                                .title Общая цена
                                .value 1 546
                .col.col-count
                    span 10
                .col.col-availability
                    button детали
                .col.col-price
                    span 1 546
            .whishlist-table__item
                .col.col-check
                    input.input-checkbox(type="checkbox")
                .col.col-product
                    .col-product__image
                        img(src="img/product-small.jpg", alt="")
                    div
                        .col-product__desc Помада для губ EVELINE VELVET MATT тон 413 матовая жидкая
                        .mobile-block
                            .mobile-block__group
                                .title Количество
                                .value 10
                            .mobile-block__group
                                .title Наличие в магазине
                                .value
                                    button детали
                            .mobile-block__group
                                .title Общая цена
                                .value 1 546
                .col.col-count
                    span 10
                .col.col-availability
                    button детали
                .col.col-price
                    span 1 546
            .whishlist-table__item
                .col.col-check
                    input.input-checkbox(type="checkbox")
                .col.col-product
                    .col-product__image
                        img(src="img/product-small.jpg", alt="")
                    div
                        .col-product__desc Помада для губ EVELINE VELVET MATT тон 413 матовая жидкая
                        .mobile-block
                            .mobile-block__group
                                .title Количество
                                .value 10
                            .mobile-block__group
                                .title Наличие в магазине
                                .value
                                    button детали
                            .mobile-block__group
                                .title Общая цена
                                .value 1 546
                .col.col-count
                    span 10
                .col.col-availability
                    button детали
                .col.col-price
                    span 1 546
            .whishlist-table__footer
                .group
                    .group__title
                        span Общая сумма
                    .group__value
                        span 3 500 руб.
                .group
                    .group__title
                        span Скидка по карте
                    .group__value
                        span 15%
                .group
                    .group__title
                        span ЦЕНА С УЧЕТОМ СКИДКИ
                    .group__value
                        span 3 000 Руб.
        .whishlist-content__footer
            button.button-icon
                .icon.icon__print
                span Распечатать
            button.button-icon
                .icon.icon__mail
                span Отправить на email
            button.button.button--default в корзину
    .clearfix
        