body {
	background-color: rgb(222, 222, 222);
	font-family: Tahoma;
	transition: all 0.5s ease-in-out;
	&.open-menu-panel {
		position: relative;
		transform: translateX(245px);
		overflow-x: hidden;
	}
}

.open-menu-panel {
	.overlay-block--open-nav {
		opacity: 1;
		z-index: 2000;
		box-shadow: -6px -5px 15px rgba(0, 0, 0, 0.2);
	}
	.page-wrapper {
		// box-shadow: -6px -5px 15px rgba(0, 0, 0, 0.2);
	}
}

.page-wrapper {
	overflow: hidden;
	width: 1920px;
	max-width: 100%;
	margin: 0 auto;
}
.overlay-block {
	opacity: 0;
	z-index: -1;
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: all 0.2s ease-in-out;
	background-color: rgba(0, 0, 0, 0.3);
}
.header {
	overflow: hidden;
	top: 0;
	left: 0;
	padding-left: 83px;
	padding-right: 83px;
}
.mobile-menu-container {
	z-index: 0;
	position: absolute;
	left: -245px;
	top: 0;
	width: 245px;
	min-height: 100vh;
	height: 100%;
	background-color: rgb(255, 255, 255);
	transition: all 0.3s;
	&.color-pink {
		background-color: rgb(237, 38, 144);
	}
}

@media screen and (max-width: 520px) {
	.page-wrapper {
	}
}
