body {
	font-family: Tahoma;
}

.page-wrapper {
	overflow: hidden;
	padding-top: 87px;
}
.header {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 83px;
	padding-right: 83px;
}
