body {
	background-color: rgb(222, 222, 222);
	font-family: Tahoma, TahomaReg;
	transition: all 0.5s ease-in-out;
	&.open-menu-panel {
		position: relative;
		transform: translateX(245px);
		overflow-x: hidden;		
	}
}

.fancybox-margin {
	.header.fixed {
		overflow-y: scroll;
	}
}

.open-menu-panel {
	.overlay-block--open-nav {
		opacity: 1;
		z-index: 2000;
		box-shadow: -6px -5px 15px rgba(0, 0, 0, 0.2);
		background-color: transparent;
	}
	.page-wrapper {
		// box-shadow: -6px -5px 15px rgba(0, 0, 0, 0.2);
	}
}

.page-wrapper {
	position: relative;
	width: 1920px;
	max-width: 100%;
	margin: 0 auto;
	transition: all 0.7s ease-in-out;
	padding-top: 85px;
	&.index {
		position: absolute;
		top: 60vh;
		left: 0;
		padding-top: 0;
		&.slide {
			top: 0;
		}
	}	
}
@media screen and (min-width: 1921px){
	.page-wrapper {
		position: absolute;
		left: calc(50% - (1920 / 2));
	}
}
.overlay-block {
	opacity: 0;
	z-index: -1;
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: all 0.2s ease-in-out;
	background-color: rgba(161, 161, 161, 0.5);
	&.active {
		opacity: 1;
		z-index: 2000;
		box-shadow: -6px -5px 15px rgba(0, 0, 0, 0.2);
	}
}
.header {
	position: relative;
	width: 100%;
	max-width: 1920px;
	z-index: 400;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
	// & + section, & + div {
	// 	margin-top: 85px;
	// }
	&.fixed {
		position: fixed;
		// & + section, & + div {
		// 	margin-top: 85px;
		// }
	}
}
.mobile-menu-container {
	overflow: hidden;
	z-index: -1;
	position: absolute;
	left: -245px;
	top: 0;
	width: 245px;
	min-height: 100vh;
	height: 100%;
	background-color: rgb(255, 255, 255);
	transition: all 0.3s;
	&.color-pink {
		background-color: rgb(237, 38, 144);
	}
}

@media screen and (max-width: 520px) {
	.page-wrapper {
	}
}

@media screen and (max-width: 479px) {
	.header {
		& + section, & + div {
			margin-top: 0;
		}
		&.fixed {
			& + section, & + div {
				margin-top: 66px;
			}
		}
	}
}
