/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-arrow-grey-name: 'icon__arrow--grey';
$icon-arrow-grey-x: 786px;
$icon-arrow-grey-y: 244px;
$icon-arrow-grey-offset-x: -786px;
$icon-arrow-grey-offset-y: -244px;
$icon-arrow-grey-width: 16px;
$icon-arrow-grey-height: 17px;
$icon-arrow-grey-total-width: 1078px;
$icon-arrow-grey-total-height: 1074px;
$icon-arrow-grey-image: '../img/sprite.png';
$icon-arrow-grey: (786px, 244px, -786px, -244px, 16px, 17px, 1078px, 1074px, '../img/sprite.png', 'icon__arrow--grey', );
$icon-arrow-slider-name: 'icon__arrow--slider';
$icon-arrow-slider-x: 42px;
$icon-arrow-slider-y: 987px;
$icon-arrow-slider-offset-x: -42px;
$icon-arrow-slider-offset-y: -987px;
$icon-arrow-slider-width: 32px;
$icon-arrow-slider-height: 45px;
$icon-arrow-slider-total-width: 1078px;
$icon-arrow-slider-total-height: 1074px;
$icon-arrow-slider-image: '../img/sprite.png';
$icon-arrow-slider: (42px, 987px, -42px, -987px, 32px, 45px, 1078px, 1074px, '../img/sprite.png', 'icon__arrow--slider', );
$icon-arrow-vinous-name: 'icon__arrow--vinous';
$icon-arrow-vinous-x: 966px;
$icon-arrow-vinous-y: 64px;
$icon-arrow-vinous-offset-x: -966px;
$icon-arrow-vinous-offset-y: -64px;
$icon-arrow-vinous-width: 9px;
$icon-arrow-vinous-height: 15px;
$icon-arrow-vinous-total-width: 1078px;
$icon-arrow-vinous-total-height: 1074px;
$icon-arrow-vinous-image: '../img/sprite.png';
$icon-arrow-vinous: (966px, 64px, -966px, -64px, 9px, 15px, 1078px, 1074px, '../img/sprite.png', 'icon__arrow--vinous', );
$icon-arrow-violet-name: 'icon__arrow--violet';
$icon-arrow-violet-x: 1025px;
$icon-arrow-violet-y: 14px;
$icon-arrow-violet-offset-x: -1025px;
$icon-arrow-violet-offset-y: -14px;
$icon-arrow-violet-width: 13px;
$icon-arrow-violet-height: 9px;
$icon-arrow-violet-total-width: 1078px;
$icon-arrow-violet-total-height: 1074px;
$icon-arrow-violet-image: '../img/sprite.png';
$icon-arrow-violet: (1025px, 14px, -1025px, -14px, 13px, 9px, 1078px, 1074px, '../img/sprite.png', 'icon__arrow--violet', );
$icon-arrow-white-right-name: 'icon__arrow--white--right';
$icon-arrow-white-right-x: 975px;
$icon-arrow-white-right-y: 49px;
$icon-arrow-white-right-offset-x: -975px;
$icon-arrow-white-right-offset-y: -49px;
$icon-arrow-white-right-width: 9px;
$icon-arrow-white-right-height: 15px;
$icon-arrow-white-right-total-width: 1078px;
$icon-arrow-white-right-total-height: 1074px;
$icon-arrow-white-right-image: '../img/sprite.png';
$icon-arrow-white-right: (975px, 49px, -975px, -49px, 9px, 15px, 1078px, 1074px, '../img/sprite.png', 'icon__arrow--white--right', );
$icon-arrow-white-name: 'icon__arrow--white';
$icon-arrow-white-x: 802px;
$icon-arrow-white-y: 227px;
$icon-arrow-white-offset-x: -802px;
$icon-arrow-white-offset-y: -227px;
$icon-arrow-white-width: 16px;
$icon-arrow-white-height: 17px;
$icon-arrow-white-total-width: 1078px;
$icon-arrow-white-total-height: 1074px;
$icon-arrow-white-image: '../img/sprite.png';
$icon-arrow-white: (802px, 227px, -802px, -227px, 16px, 17px, 1078px, 1074px, '../img/sprite.png', 'icon__arrow--white', );
$icon-auth-name: 'icon__auth';
$icon-auth-x: 637px;
$icon-auth-y: 396px;
$icon-auth-offset-x: -637px;
$icon-auth-offset-y: -396px;
$icon-auth-width: 21px;
$icon-auth-height: 20px;
$icon-auth-total-width: 1078px;
$icon-auth-total-height: 1074px;
$icon-auth-image: '../img/sprite.png';
$icon-auth: (637px, 396px, -637px, -396px, 21px, 20px, 1078px, 1074px, '../img/sprite.png', 'icon__auth', );
$icon-basket-large-name: 'icon__basket--large';
$icon-basket-large-x: 435px;
$icon-basket-large-y: 603px;
$icon-basket-large-offset-x: -435px;
$icon-basket-large-offset-y: -603px;
$icon-basket-large-width: 25px;
$icon-basket-large-height: 25px;
$icon-basket-large-total-width: 1078px;
$icon-basket-large-total-height: 1074px;
$icon-basket-large-image: '../img/sprite.png';
$icon-basket-large: (435px, 603px, -435px, -603px, 25px, 25px, 1078px, 1074px, '../img/sprite.png', 'icon__basket--large', );
$icon-basket-name: 'icon__basket';
$icon-basket-x: 674px;
$icon-basket-y: 352px;
$icon-basket-offset-x: -674px;
$icon-basket-offset-y: -352px;
$icon-basket-width: 18px;
$icon-basket-height: 20px;
$icon-basket-total-width: 1078px;
$icon-basket-total-height: 1074px;
$icon-basket-image: '../img/sprite.png';
$icon-basket: (674px, 352px, -674px, -352px, 18px, 20px, 1078px, 1074px, '../img/sprite.png', 'icon__basket', );
$icon-box-name: 'icon__box';
$icon-box-x: 749px;
$icon-box-y: 279px;
$icon-box-offset-x: -749px;
$icon-box-offset-y: -279px;
$icon-box-width: 19px;
$icon-box-height: 17px;
$icon-box-total-width: 1078px;
$icon-box-total-height: 1074px;
$icon-box-image: '../img/sprite.png';
$icon-box: (749px, 279px, -749px, -279px, 19px, 17px, 1078px, 1074px, '../img/sprite.png', 'icon__box', );
$icon-calendar-date-active-name: 'icon__calendar-date--active';
$icon-calendar-date-active-x: 291px;
$icon-calendar-date-active-y: 744px;
$icon-calendar-date-active-offset-x: -291px;
$icon-calendar-date-active-offset-y: -744px;
$icon-calendar-date-active-width: 34px;
$icon-calendar-date-active-height: 35px;
$icon-calendar-date-active-total-width: 1078px;
$icon-calendar-date-active-total-height: 1074px;
$icon-calendar-date-active-image: '../img/sprite.png';
$icon-calendar-date-active: (291px, 744px, -291px, -744px, 34px, 35px, 1078px, 1074px, '../img/sprite.png', 'icon__calendar-date--active', );
$icon-calendar-date-name: 'icon__calendar-date';
$icon-calendar-date-x: 257px;
$icon-calendar-date-y: 779px;
$icon-calendar-date-offset-x: -257px;
$icon-calendar-date-offset-y: -779px;
$icon-calendar-date-width: 34px;
$icon-calendar-date-height: 35px;
$icon-calendar-date-total-width: 1078px;
$icon-calendar-date-total-height: 1074px;
$icon-calendar-date-image: '../img/sprite.png';
$icon-calendar-date: (257px, 779px, -257px, -779px, 34px, 35px, 1078px, 1074px, '../img/sprite.png', 'icon__calendar-date', );
$icon-check-name: 'icon__check';
$icon-check-x: 984px;
$icon-check-y: 39px;
$icon-check-offset-x: -984px;
$icon-check-offset-y: -39px;
$icon-check-width: 13px;
$icon-check-height: 10px;
$icon-check-total-width: 1078px;
$icon-check-total-height: 1074px;
$icon-check-image: '../img/sprite.png';
$icon-check: (984px, 39px, -984px, -39px, 13px, 10px, 1078px, 1074px, '../img/sprite.png', 'icon__check', );
$icon-clock-active-name: 'icon__clock--active';
$icon-clock-active-x: 189px;
$icon-clock-active-y: 849px;
$icon-clock-active-offset-x: -189px;
$icon-clock-active-offset-y: -849px;
$icon-clock-active-width: 33px;
$icon-clock-active-height: 37px;
$icon-clock-active-total-width: 1078px;
$icon-clock-active-total-height: 1074px;
$icon-clock-active-image: '../img/sprite.png';
$icon-clock-active: (189px, 849px, -189px, -849px, 33px, 37px, 1078px, 1074px, '../img/sprite.png', 'icon__clock--active', );
$icon-clock-name: 'icon__clock';
$icon-clock-x: 156px;
$icon-clock-y: 886px;
$icon-clock-offset-x: -156px;
$icon-clock-offset-y: -886px;
$icon-clock-width: 33px;
$icon-clock-height: 37px;
$icon-clock-total-width: 1078px;
$icon-clock-total-height: 1074px;
$icon-clock-image: '../img/sprite.png';
$icon-clock: (156px, 886px, -156px, -886px, 33px, 37px, 1078px, 1074px, '../img/sprite.png', 'icon__clock', );
$icon-discount-card-active-name: 'icon__discount-card--active';
$icon-discount-card-active-x: 115px;
$icon-discount-card-active-y: 923px;
$icon-discount-card-active-offset-x: -115px;
$icon-discount-card-active-offset-y: -923px;
$icon-discount-card-active-width: 41px;
$icon-discount-card-active-height: 32px;
$icon-discount-card-active-total-width: 1078px;
$icon-discount-card-active-total-height: 1074px;
$icon-discount-card-active-image: '../img/sprite.png';
$icon-discount-card-active: (115px, 923px, -115px, -923px, 41px, 32px, 1078px, 1074px, '../img/sprite.png', 'icon__discount-card--active', );
$icon-discount-card-name: 'icon__discount-card';
$icon-discount-card-x: 74px;
$icon-discount-card-y: 955px;
$icon-discount-card-offset-x: -74px;
$icon-discount-card-offset-y: -955px;
$icon-discount-card-width: 41px;
$icon-discount-card-height: 32px;
$icon-discount-card-total-width: 1078px;
$icon-discount-card-total-height: 1074px;
$icon-discount-card-image: '../img/sprite.png';
$icon-discount-card: (74px, 955px, -74px, -955px, 41px, 32px, 1078px, 1074px, '../img/sprite.png', 'icon__discount-card', );
$icon-discount-name: 'icon__discount';
$icon-discount-x: 711px;
$icon-discount-y: 314px;
$icon-discount-offset-x: -711px;
$icon-discount-offset-y: -314px;
$icon-discount-width: 19px;
$icon-discount-height: 19px;
$icon-discount-total-width: 1078px;
$icon-discount-total-height: 1074px;
$icon-discount-image: '../img/sprite.png';
$icon-discount: (711px, 314px, -711px, -314px, 19px, 19px, 1078px, 1074px, '../img/sprite.png', 'icon__discount', );
$icon-exclamation-point-name: 'icon__exclamation-point';
$icon-exclamation-point-x: 949px;
$icon-exclamation-point-y: 95px;
$icon-exclamation-point-offset-x: -949px;
$icon-exclamation-point-offset-y: -95px;
$icon-exclamation-point-width: 6px;
$icon-exclamation-point-height: 19px;
$icon-exclamation-point-total-width: 1078px;
$icon-exclamation-point-total-height: 1074px;
$icon-exclamation-point-image: '../img/sprite.png';
$icon-exclamation-point: (949px, 95px, -949px, -95px, 6px, 19px, 1078px, 1074px, '../img/sprite.png', 'icon__exclamation-point', );
$icon-favorit-name: 'icon__favorit';
$icon-favorit-x: 554px;
$icon-favorit-y: 486px;
$icon-favorit-offset-x: -554px;
$icon-favorit-offset-y: -486px;
$icon-favorit-width: 24px;
$icon-favorit-height: 21px;
$icon-favorit-total-width: 1078px;
$icon-favorit-total-height: 1074px;
$icon-favorit-image: '../img/sprite.png';
$icon-favorit: (554px, 486px, -554px, -486px, 24px, 21px, 1078px, 1074px, '../img/sprite.png', 'icon__favorit', );
$icon-fb-white-name: 'icon__fb--white';
$icon-fb-white-x: 658px;
$icon-fb-white-y: 372px;
$icon-fb-white-offset-x: -658px;
$icon-fb-white-offset-y: -372px;
$icon-fb-white-width: 16px;
$icon-fb-white-height: 24px;
$icon-fb-white-total-width: 1078px;
$icon-fb-white-total-height: 1074px;
$icon-fb-white-image: '../img/sprite.png';
$icon-fb-white: (658px, 372px, -658px, -372px, 16px, 24px, 1078px, 1074px, '../img/sprite.png', 'icon__fb--white', );
$icon-fb-yellow-name: 'icon__fb--yellow';
$icon-fb-yellow-x: 620px;
$icon-fb-yellow-y: 416px;
$icon-fb-yellow-offset-x: -620px;
$icon-fb-yellow-offset-y: -416px;
$icon-fb-yellow-width: 17px;
$icon-fb-yellow-height: 24px;
$icon-fb-yellow-total-width: 1078px;
$icon-fb-yellow-total-height: 1074px;
$icon-fb-yellow-image: '../img/sprite.png';
$icon-fb-yellow: (620px, 416px, -620px, -416px, 17px, 24px, 1078px, 1074px, '../img/sprite.png', 'icon__fb--yellow', );
$icon-fb-name: 'icon__fb';
$icon-fb-x: 955px;
$icon-fb-y: 79px;
$icon-fb-offset-x: -955px;
$icon-fb-offset-y: -79px;
$icon-fb-width: 11px;
$icon-fb-height: 16px;
$icon-fb-total-width: 1078px;
$icon-fb-total-height: 1074px;
$icon-fb-image: '../img/sprite.png';
$icon-fb: (955px, 79px, -955px, -79px, 11px, 16px, 1078px, 1074px, '../img/sprite.png', 'icon__fb', );
$icon-heart-name: 'icon__heart';
$icon-heart-x: 485px;
$icon-heart-y: 555px;
$icon-heart-offset-x: -485px;
$icon-heart-offset-y: -555px;
$icon-heart-width: 24px;
$icon-heart-height: 24px;
$icon-heart-total-width: 1078px;
$icon-heart-total-height: 1074px;
$icon-heart-image: '../img/sprite.png';
$icon-heart: (485px, 555px, -485px, -555px, 24px, 24px, 1078px, 1074px, '../img/sprite.png', 'icon__heart', );
$icon-icecream-active-name: 'icon__icecream--active';
$icon-icecream-active-x: 393px;
$icon-icecream-active-y: 663px;
$icon-icecream-active-offset-x: -393px;
$icon-icecream-active-offset-y: -663px;
$icon-icecream-active-width: 21px;
$icon-icecream-active-height: 35px;
$icon-icecream-active-total-width: 1078px;
$icon-icecream-active-total-height: 1074px;
$icon-icecream-active-image: '../img/sprite.png';
$icon-icecream-active: (393px, 663px, -393px, -663px, 21px, 35px, 1078px, 1074px, '../img/sprite.png', 'icon__icecream--active', );
$icon-icecream-name: 'icon__icecream';
$icon-icecream-x: 414px;
$icon-icecream-y: 628px;
$icon-icecream-offset-x: -414px;
$icon-icecream-offset-y: -628px;
$icon-icecream-width: 21px;
$icon-icecream-height: 35px;
$icon-icecream-total-width: 1078px;
$icon-icecream-total-height: 1074px;
$icon-icecream-image: '../img/sprite.png';
$icon-icecream: (414px, 628px, -414px, -628px, 21px, 35px, 1078px, 1074px, '../img/sprite.png', 'icon__icecream', );
$icon-inst-large-name: 'icon__inst--large';
$icon-inst-large-x: 0px;
$icon-inst-large-y: 1032px;
$icon-inst-large-offset-x: 0px;
$icon-inst-large-offset-y: -1032px;
$icon-inst-large-width: 42px;
$icon-inst-large-height: 42px;
$icon-inst-large-total-width: 1078px;
$icon-inst-large-total-height: 1074px;
$icon-inst-large-image: '../img/sprite.png';
$icon-inst-large: (0px, 1032px, 0px, -1032px, 42px, 42px, 1078px, 1074px, '../img/sprite.png', 'icon__inst--large', );
$icon-inst-middle-name: 'icon__inst--middle';
$icon-inst-middle-x: 598px;
$icon-inst-middle-y: 440px;
$icon-inst-middle-offset-x: -598px;
$icon-inst-middle-offset-y: -440px;
$icon-inst-middle-width: 22px;
$icon-inst-middle-height: 22px;
$icon-inst-middle-total-width: 1078px;
$icon-inst-middle-total-height: 1074px;
$icon-inst-middle-image: '../img/sprite.png';
$icon-inst-middle: (598px, 440px, -598px, -440px, 22px, 22px, 1078px, 1074px, '../img/sprite.png', 'icon__inst--middle', );
$icon-inst-white-name: 'icon__inst--white';
$icon-inst-white-x: 509px;
$icon-inst-white-y: 531px;
$icon-inst-white-offset-x: -509px;
$icon-inst-white-offset-y: -531px;
$icon-inst-white-width: 24px;
$icon-inst-white-height: 24px;
$icon-inst-white-total-width: 1078px;
$icon-inst-white-total-height: 1074px;
$icon-inst-white-image: '../img/sprite.png';
$icon-inst-white: (509px, 531px, -509px, -531px, 24px, 24px, 1078px, 1074px, '../img/sprite.png', 'icon__inst--white', );
$icon-inst-yellow-name: 'icon__inst--yellow';
$icon-inst-yellow-x: 460px;
$icon-inst-yellow-y: 579px;
$icon-inst-yellow-offset-x: -460px;
$icon-inst-yellow-offset-y: -579px;
$icon-inst-yellow-width: 25px;
$icon-inst-yellow-height: 24px;
$icon-inst-yellow-total-width: 1078px;
$icon-inst-yellow-total-height: 1074px;
$icon-inst-yellow-image: '../img/sprite.png';
$icon-inst-yellow: (460px, 579px, -460px, -579px, 25px, 24px, 1078px, 1074px, '../img/sprite.png', 'icon__inst--yellow', );
$icon-inst-name: 'icon__inst';
$icon-inst-x: 840px;
$icon-inst-y: 204px;
$icon-inst-offset-x: -840px;
$icon-inst-offset-y: -204px;
$icon-inst-width: 16px;
$icon-inst-height: 16px;
$icon-inst-total-width: 1078px;
$icon-inst-total-height: 1074px;
$icon-inst-image: '../img/sprite.png';
$icon-inst: (840px, 204px, -840px, -204px, 16px, 16px, 1078px, 1074px, '../img/sprite.png', 'icon__inst', );
$icon-list-bg-flower-name: 'icon__list-bg--flower';
$icon-list-bg-flower-x: 222px;
$icon-list-bg-flower-y: 814px;
$icon-list-bg-flower-offset-x: -222px;
$icon-list-bg-flower-offset-y: -814px;
$icon-list-bg-flower-width: 35px;
$icon-list-bg-flower-height: 35px;
$icon-list-bg-flower-total-width: 1078px;
$icon-list-bg-flower-total-height: 1074px;
$icon-list-bg-flower-image: '../img/sprite.png';
$icon-list-bg-flower: (222px, 814px, -222px, -814px, 35px, 35px, 1078px, 1074px, '../img/sprite.png', 'icon__list-bg--flower', );
$icon-loop-name: 'icon__loop';
$icon-loop-x: 692px;
$icon-loop-y: 333px;
$icon-loop-offset-x: -692px;
$icon-loop-offset-y: -333px;
$icon-loop-width: 19px;
$icon-loop-height: 19px;
$icon-loop-total-width: 1078px;
$icon-loop-total-height: 1074px;
$icon-loop-image: '../img/sprite.png';
$icon-loop: (692px, 333px, -692px, -333px, 19px, 19px, 1078px, 1074px, '../img/sprite.png', 'icon__loop', );
$icon-minus-black-name: 'icon__minus--black';
$icon-minus-black-x: 1038px;
$icon-minus-black-y: 10px;
$icon-minus-black-offset-x: -1038px;
$icon-minus-black-offset-y: -10px;
$icon-minus-black-width: 15px;
$icon-minus-black-height: 4px;
$icon-minus-black-total-width: 1078px;
$icon-minus-black-total-height: 1074px;
$icon-minus-black-image: '../img/sprite.png';
$icon-minus-black: (1038px, 10px, -1038px, -10px, 15px, 4px, 1078px, 1074px, '../img/sprite.png', 'icon__minus--black', );
$icon-minus-name: 'icon__minus';
$icon-minus-x: 1053px;
$icon-minus-y: 6px;
$icon-minus-offset-x: -1053px;
$icon-minus-offset-y: -6px;
$icon-minus-width: 15px;
$icon-minus-height: 4px;
$icon-minus-total-width: 1078px;
$icon-minus-total-height: 1074px;
$icon-minus-image: '../img/sprite.png';
$icon-minus: (1053px, 6px, -1053px, -6px, 15px, 4px, 1078px, 1074px, '../img/sprite.png', 'icon__minus', );
$icon-new-name: 'icon__new';
$icon-new-x: 818px;
$icon-new-y: 220px;
$icon-new-offset-x: -818px;
$icon-new-offset-y: -220px;
$icon-new-width: 22px;
$icon-new-height: 7px;
$icon-new-total-width: 1078px;
$icon-new-total-height: 1074px;
$icon-new-image: '../img/sprite.png';
$icon-new: (818px, 220px, -818px, -220px, 22px, 7px, 1078px, 1074px, '../img/sprite.png', 'icon__new', );
$icon-phone-name: 'icon__phone';
$icon-phone-x: 768px;
$icon-phone-y: 261px;
$icon-phone-offset-x: -768px;
$icon-phone-offset-y: -261px;
$icon-phone-width: 18px;
$icon-phone-height: 18px;
$icon-phone-total-width: 1078px;
$icon-phone-total-height: 1074px;
$icon-phone-image: '../img/sprite.png';
$icon-phone: (768px, 261px, -768px, -261px, 18px, 18px, 1078px, 1074px, '../img/sprite.png', 'icon__phone', );
$icon-plus-black-name: 'icon__plus--black';
$icon-plus-black-x: 919px;
$icon-plus-black-y: 129px;
$icon-plus-black-offset-x: -919px;
$icon-plus-black-offset-y: -129px;
$icon-plus-black-width: 15px;
$icon-plus-black-height: 15px;
$icon-plus-black-total-width: 1078px;
$icon-plus-black-total-height: 1074px;
$icon-plus-black-image: '../img/sprite.png';
$icon-plus-black: (919px, 129px, -919px, -129px, 15px, 15px, 1078px, 1074px, '../img/sprite.png', 'icon__plus--black', );
$icon-plus-name: 'icon__plus';
$icon-plus-x: 934px;
$icon-plus-y: 114px;
$icon-plus-offset-x: -934px;
$icon-plus-offset-y: -114px;
$icon-plus-width: 15px;
$icon-plus-height: 15px;
$icon-plus-total-width: 1078px;
$icon-plus-total-height: 1074px;
$icon-plus-image: '../img/sprite.png';
$icon-plus: (934px, 114px, -934px, -114px, 15px, 15px, 1078px, 1074px, '../img/sprite.png', 'icon__plus', );
$icon-purse-name: 'icon__purse';
$icon-purse-x: 856px;
$icon-purse-y: 190px;
$icon-purse-offset-x: -856px;
$icon-purse-offset-y: -190px;
$icon-purse-width: 17px;
$icon-purse-height: 14px;
$icon-purse-total-width: 1078px;
$icon-purse-total-height: 1074px;
$icon-purse-image: '../img/sprite.png';
$icon-purse: (856px, 190px, -856px, -190px, 17px, 14px, 1078px, 1074px, '../img/sprite.png', 'icon__purse', );
$icon-social-card-active-name: 'icon__social-card--active';
$icon-social-card-active-x: 359px;
$icon-social-card-active-y: 698px;
$icon-social-card-active-offset-x: -359px;
$icon-social-card-active-offset-y: -698px;
$icon-social-card-active-width: 34px;
$icon-social-card-active-height: 23px;
$icon-social-card-active-total-width: 1078px;
$icon-social-card-active-total-height: 1074px;
$icon-social-card-active-image: '../img/sprite.png';
$icon-social-card-active: (359px, 698px, -359px, -698px, 34px, 23px, 1078px, 1074px, '../img/sprite.png', 'icon__social-card--active', );
$icon-social-card-name: 'icon__social-card';
$icon-social-card-x: 325px;
$icon-social-card-y: 721px;
$icon-social-card-offset-x: -325px;
$icon-social-card-offset-y: -721px;
$icon-social-card-width: 34px;
$icon-social-card-height: 23px;
$icon-social-card-total-width: 1078px;
$icon-social-card-total-height: 1074px;
$icon-social-card-image: '../img/sprite.png';
$icon-social-card: (325px, 721px, -325px, -721px, 34px, 23px, 1078px, 1074px, '../img/sprite.png', 'icon__social-card', );
$icon-star-violet-name: 'icon__star--violet';
$icon-star-violet-x: 889px;
$icon-star-violet-y: 160px;
$icon-star-violet-offset-x: -889px;
$icon-star-violet-offset-y: -160px;
$icon-star-violet-width: 16px;
$icon-star-violet-height: 15px;
$icon-star-violet-total-width: 1078px;
$icon-star-violet-total-height: 1074px;
$icon-star-violet-image: '../img/sprite.png';
$icon-star-violet: (889px, 160px, -889px, -160px, 16px, 15px, 1078px, 1074px, '../img/sprite.png', 'icon__star--violet', );
$icon-star-white-name: 'icon__star--white';
$icon-star-white-x: 730px;
$icon-star-white-y: 296px;
$icon-star-white-offset-x: -730px;
$icon-star-white-offset-y: -296px;
$icon-star-white-width: 19px;
$icon-star-white-height: 18px;
$icon-star-white-total-width: 1078px;
$icon-star-white-total-height: 1074px;
$icon-star-white-image: '../img/sprite.png';
$icon-star-white: (730px, 296px, -730px, -296px, 19px, 18px, 1078px, 1074px, '../img/sprite.png', 'icon__star--white', );
$icon-star-name: 'icon__star';
$icon-star-x: 873px;
$icon-star-y: 175px;
$icon-star-offset-x: -873px;
$icon-star-offset-y: -175px;
$icon-star-width: 16px;
$icon-star-height: 15px;
$icon-star-total-width: 1078px;
$icon-star-total-height: 1074px;
$icon-star-image: '../img/sprite.png';
$icon-star: (873px, 175px, -873px, -175px, 16px, 15px, 1078px, 1074px, '../img/sprite.png', 'icon__star', );
$icon-triangle-grey-small-name: 'icon__triangle--grey--small';
$icon-triangle-grey-small-x: 1068px;
$icon-triangle-grey-small-y: 0px;
$icon-triangle-grey-small-offset-x: -1068px;
$icon-triangle-grey-small-offset-y: 0px;
$icon-triangle-grey-small-width: 10px;
$icon-triangle-grey-small-height: 6px;
$icon-triangle-grey-small-total-width: 1078px;
$icon-triangle-grey-small-total-height: 1074px;
$icon-triangle-grey-small-image: '../img/sprite.png';
$icon-triangle-grey-small: (1068px, 0px, -1068px, 0px, 10px, 6px, 1078px, 1074px, '../img/sprite.png', 'icon__triangle--grey--small', );
$icon-triangle-grey-name: 'icon__triangle--grey';
$icon-triangle-grey-x: 997px;
$icon-triangle-grey-y: 31px;
$icon-triangle-grey-offset-x: -997px;
$icon-triangle-grey-offset-y: -31px;
$icon-triangle-grey-width: 14px;
$icon-triangle-grey-height: 8px;
$icon-triangle-grey-total-width: 1078px;
$icon-triangle-grey-total-height: 1074px;
$icon-triangle-grey-image: '../img/sprite.png';
$icon-triangle-grey: (997px, 31px, -997px, -31px, 14px, 8px, 1078px, 1074px, '../img/sprite.png', 'icon__triangle--grey', );
$icon-triangle-white-name: 'icon__triangle--white';
$icon-triangle-white-x: 1011px;
$icon-triangle-white-y: 23px;
$icon-triangle-white-offset-x: -1011px;
$icon-triangle-white-offset-y: -23px;
$icon-triangle-white-width: 14px;
$icon-triangle-white-height: 8px;
$icon-triangle-white-total-width: 1078px;
$icon-triangle-white-total-height: 1074px;
$icon-triangle-white-image: '../img/sprite.png';
$icon-triangle-white: (1011px, 23px, -1011px, -23px, 14px, 8px, 1078px, 1074px, '../img/sprite.png', 'icon__triangle--white', );
$icon-vk-white-name: 'icon__vk--white';
$icon-vk-white-x: 578px;
$icon-vk-white-y: 462px;
$icon-vk-white-offset-x: -578px;
$icon-vk-white-offset-y: -462px;
$icon-vk-white-width: 20px;
$icon-vk-white-height: 24px;
$icon-vk-white-total-width: 1078px;
$icon-vk-white-total-height: 1074px;
$icon-vk-white-image: '../img/sprite.png';
$icon-vk-white: (578px, 462px, -578px, -462px, 20px, 24px, 1078px, 1074px, '../img/sprite.png', 'icon__vk--white', );
$icon-vk-yellow-name: 'icon__vk--yellow';
$icon-vk-yellow-x: 533px;
$icon-vk-yellow-y: 507px;
$icon-vk-yellow-offset-x: -533px;
$icon-vk-yellow-offset-y: -507px;
$icon-vk-yellow-width: 21px;
$icon-vk-yellow-height: 24px;
$icon-vk-yellow-total-width: 1078px;
$icon-vk-yellow-total-height: 1074px;
$icon-vk-yellow-image: '../img/sprite.png';
$icon-vk-yellow: (533px, 507px, -533px, -507px, 21px, 24px, 1078px, 1074px, '../img/sprite.png', 'icon__vk--yellow', );
$icon-vk-name: 'icon__vk';
$icon-vk-x: 905px;
$icon-vk-y: 144px;
$icon-vk-offset-x: -905px;
$icon-vk-offset-y: -144px;
$icon-vk-width: 14px;
$icon-vk-height: 16px;
$icon-vk-total-width: 1078px;
$icon-vk-total-height: 1074px;
$icon-vk-image: '../img/sprite.png';
$icon-vk: (905px, 144px, -905px, -144px, 14px, 16px, 1078px, 1074px, '../img/sprite.png', 'icon__vk', );
$spritesheet-width: 1078px;
$spritesheet-height: 1074px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-arrow-grey, $icon-arrow-slider, $icon-arrow-vinous, $icon-arrow-violet, $icon-arrow-white-right, $icon-arrow-white, $icon-auth, $icon-basket-large, $icon-basket, $icon-box, $icon-calendar-date-active, $icon-calendar-date, $icon-check, $icon-clock-active, $icon-clock, $icon-discount-card-active, $icon-discount-card, $icon-discount, $icon-exclamation-point, $icon-favorit, $icon-fb-white, $icon-fb-yellow, $icon-fb, $icon-heart, $icon-icecream-active, $icon-icecream, $icon-inst-large, $icon-inst-middle, $icon-inst-white, $icon-inst-yellow, $icon-inst, $icon-list-bg-flower, $icon-loop, $icon-minus-black, $icon-minus, $icon-new, $icon-phone, $icon-plus-black, $icon-plus, $icon-purse, $icon-social-card-active, $icon-social-card, $icon-star-violet, $icon-star-white, $icon-star, $icon-triangle-grey-small, $icon-triangle-grey, $icon-triangle-white, $icon-vk-white, $icon-vk-yellow, $icon-vk, );
$spritesheet: (1078px, 1074px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
