/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-auth-name: 'icon__auth';
$icon-auth-x: 474px;
$icon-auth-y: 154px;
$icon-auth-offset-x: -474px;
$icon-auth-offset-y: -154px;
$icon-auth-width: 21px;
$icon-auth-height: 20px;
$icon-auth-total-width: 642px;
$icon-auth-total-height: 643px;
$icon-auth-image: '../img/sprite.png';
$icon-auth: (474px, 154px, -474px, -154px, 21px, 20px, 642px, 643px, '../img/sprite.png', 'icon__auth', );
$icon-basket-large-name: 'icon__basket--large';
$icon-basket-large-x: 403px;
$icon-basket-large-y: 217px;
$icon-basket-large-offset-x: -403px;
$icon-basket-large-offset-y: -217px;
$icon-basket-large-width: 25px;
$icon-basket-large-height: 25px;
$icon-basket-large-total-width: 642px;
$icon-basket-large-total-height: 643px;
$icon-basket-large-image: '../img/sprite.png';
$icon-basket-large: (403px, 217px, -403px, -217px, 25px, 25px, 642px, 643px, '../img/sprite.png', 'icon__basket--large', );
$icon-basket-name: 'icon__basket';
$icon-basket-x: 495px;
$icon-basket-y: 134px;
$icon-basket-offset-x: -495px;
$icon-basket-offset-y: -134px;
$icon-basket-width: 18px;
$icon-basket-height: 20px;
$icon-basket-total-width: 642px;
$icon-basket-total-height: 643px;
$icon-basket-image: '../img/sprite.png';
$icon-basket: (495px, 134px, -495px, -134px, 18px, 20px, 642px, 643px, '../img/sprite.png', 'icon__basket', );
$icon-calendar-date-active-name: 'icon__calendar-date--active';
$icon-calendar-date-active-x: 225px;
$icon-calendar-date-active-y: 393px;
$icon-calendar-date-active-offset-x: -225px;
$icon-calendar-date-active-offset-y: -393px;
$icon-calendar-date-active-width: 34px;
$icon-calendar-date-active-height: 35px;
$icon-calendar-date-active-total-width: 642px;
$icon-calendar-date-active-total-height: 643px;
$icon-calendar-date-active-image: '../img/sprite.png';
$icon-calendar-date-active: (225px, 393px, -225px, -393px, 34px, 35px, 642px, 643px, '../img/sprite.png', 'icon__calendar-date--active', );
$icon-calendar-date-name: 'icon__calendar-date';
$icon-calendar-date-x: 259px;
$icon-calendar-date-y: 358px;
$icon-calendar-date-offset-x: -259px;
$icon-calendar-date-offset-y: -358px;
$icon-calendar-date-width: 34px;
$icon-calendar-date-height: 35px;
$icon-calendar-date-total-width: 642px;
$icon-calendar-date-total-height: 643px;
$icon-calendar-date-image: '../img/sprite.png';
$icon-calendar-date: (259px, 358px, -259px, -358px, 34px, 35px, 642px, 643px, '../img/sprite.png', 'icon__calendar-date', );
$icon-clock-active-name: 'icon__clock--active';
$icon-clock-active-x: 124px;
$icon-clock-active-y: 500px;
$icon-clock-active-offset-x: -124px;
$icon-clock-active-offset-y: -500px;
$icon-clock-active-width: 33px;
$icon-clock-active-height: 37px;
$icon-clock-active-total-width: 642px;
$icon-clock-active-total-height: 643px;
$icon-clock-active-image: '../img/sprite.png';
$icon-clock-active: (124px, 500px, -124px, -500px, 33px, 37px, 642px, 643px, '../img/sprite.png', 'icon__clock--active', );
$icon-clock-name: 'icon__clock';
$icon-clock-x: 157px;
$icon-clock-y: 463px;
$icon-clock-offset-x: -157px;
$icon-clock-offset-y: -463px;
$icon-clock-width: 33px;
$icon-clock-height: 37px;
$icon-clock-total-width: 642px;
$icon-clock-total-height: 643px;
$icon-clock-image: '../img/sprite.png';
$icon-clock: (157px, 463px, -157px, -463px, 33px, 37px, 642px, 643px, '../img/sprite.png', 'icon__clock', );
$icon-discount-card-active-name: 'icon__discount-card--active';
$icon-discount-card-active-x: 83px;
$icon-discount-card-active-y: 537px;
$icon-discount-card-active-offset-x: -83px;
$icon-discount-card-active-offset-y: -537px;
$icon-discount-card-active-width: 41px;
$icon-discount-card-active-height: 32px;
$icon-discount-card-active-total-width: 642px;
$icon-discount-card-active-total-height: 643px;
$icon-discount-card-active-image: '../img/sprite.png';
$icon-discount-card-active: (83px, 537px, -83px, -537px, 41px, 32px, 642px, 643px, '../img/sprite.png', 'icon__discount-card--active', );
$icon-discount-card-name: 'icon__discount-card';
$icon-discount-card-x: 42px;
$icon-discount-card-y: 569px;
$icon-discount-card-offset-x: -42px;
$icon-discount-card-offset-y: -569px;
$icon-discount-card-width: 41px;
$icon-discount-card-height: 32px;
$icon-discount-card-total-width: 642px;
$icon-discount-card-total-height: 643px;
$icon-discount-card-image: '../img/sprite.png';
$icon-discount-card: (42px, 569px, -42px, -569px, 41px, 32px, 642px, 643px, '../img/sprite.png', 'icon__discount-card', );
$icon-discount-name: 'icon__discount';
$icon-discount-x: 513px;
$icon-discount-y: 115px;
$icon-discount-offset-x: -513px;
$icon-discount-offset-y: -115px;
$icon-discount-width: 19px;
$icon-discount-height: 19px;
$icon-discount-total-width: 642px;
$icon-discount-total-height: 643px;
$icon-discount-image: '../img/sprite.png';
$icon-discount: (513px, 115px, -513px, -115px, 19px, 19px, 642px, 643px, '../img/sprite.png', 'icon__discount', );
$icon-favorit-name: 'icon__favorit';
$icon-favorit-x: 428px;
$icon-favorit-y: 196px;
$icon-favorit-offset-x: -428px;
$icon-favorit-offset-y: -196px;
$icon-favorit-width: 24px;
$icon-favorit-height: 21px;
$icon-favorit-total-width: 642px;
$icon-favorit-total-height: 643px;
$icon-favorit-image: '../img/sprite.png';
$icon-favorit: (428px, 196px, -428px, -196px, 24px, 21px, 642px, 643px, '../img/sprite.png', 'icon__favorit', );
$icon-fb-name: 'icon__fb';
$icon-fb-x: 631px;
$icon-fb-y: 0px;
$icon-fb-offset-x: -631px;
$icon-fb-offset-y: 0px;
$icon-fb-width: 11px;
$icon-fb-height: 16px;
$icon-fb-total-width: 642px;
$icon-fb-total-height: 643px;
$icon-fb-image: '../img/sprite.png';
$icon-fb: (631px, 0px, -631px, 0px, 11px, 16px, 642px, 643px, '../img/sprite.png', 'icon__fb', );
$icon-icecream-active-name: 'icon__icecream--active';
$icon-icecream-active-x: 361px;
$icon-icecream-active-y: 277px;
$icon-icecream-active-offset-x: -361px;
$icon-icecream-active-offset-y: -277px;
$icon-icecream-active-width: 21px;
$icon-icecream-active-height: 35px;
$icon-icecream-active-total-width: 642px;
$icon-icecream-active-total-height: 643px;
$icon-icecream-active-image: '../img/sprite.png';
$icon-icecream-active: (361px, 277px, -361px, -277px, 21px, 35px, 642px, 643px, '../img/sprite.png', 'icon__icecream--active', );
$icon-icecream-name: 'icon__icecream';
$icon-icecream-x: 382px;
$icon-icecream-y: 242px;
$icon-icecream-offset-x: -382px;
$icon-icecream-offset-y: -242px;
$icon-icecream-width: 21px;
$icon-icecream-height: 35px;
$icon-icecream-total-width: 642px;
$icon-icecream-total-height: 643px;
$icon-icecream-image: '../img/sprite.png';
$icon-icecream: (382px, 242px, -382px, -242px, 21px, 35px, 642px, 643px, '../img/sprite.png', 'icon__icecream', );
$icon-inst-large-name: 'icon__inst--large';
$icon-inst-large-x: 0px;
$icon-inst-large-y: 601px;
$icon-inst-large-offset-x: 0px;
$icon-inst-large-offset-y: -601px;
$icon-inst-large-width: 42px;
$icon-inst-large-height: 42px;
$icon-inst-large-total-width: 642px;
$icon-inst-large-total-height: 643px;
$icon-inst-large-image: '../img/sprite.png';
$icon-inst-large: (0px, 601px, 0px, -601px, 42px, 42px, 642px, 643px, '../img/sprite.png', 'icon__inst--large', );
$icon-inst-middle-name: 'icon__inst--middle';
$icon-inst-middle-x: 452px;
$icon-inst-middle-y: 174px;
$icon-inst-middle-offset-x: -452px;
$icon-inst-middle-offset-y: -174px;
$icon-inst-middle-width: 22px;
$icon-inst-middle-height: 22px;
$icon-inst-middle-total-width: 642px;
$icon-inst-middle-total-height: 643px;
$icon-inst-middle-image: '../img/sprite.png';
$icon-inst-middle: (452px, 174px, -452px, -174px, 22px, 22px, 642px, 643px, '../img/sprite.png', 'icon__inst--middle', );
$icon-inst-name: 'icon__inst';
$icon-inst-x: 569px;
$icon-inst-y: 62px;
$icon-inst-offset-x: -569px;
$icon-inst-offset-y: -62px;
$icon-inst-width: 16px;
$icon-inst-height: 16px;
$icon-inst-total-width: 642px;
$icon-inst-total-height: 643px;
$icon-inst-image: '../img/sprite.png';
$icon-inst: (569px, 62px, -569px, -62px, 16px, 16px, 642px, 643px, '../img/sprite.png', 'icon__inst', );
$icon-list-bg-flower-name: 'icon__list-bg--flower';
$icon-list-bg-flower-x: 190px;
$icon-list-bg-flower-y: 428px;
$icon-list-bg-flower-offset-x: -190px;
$icon-list-bg-flower-offset-y: -428px;
$icon-list-bg-flower-width: 35px;
$icon-list-bg-flower-height: 35px;
$icon-list-bg-flower-total-width: 642px;
$icon-list-bg-flower-total-height: 643px;
$icon-list-bg-flower-image: '../img/sprite.png';
$icon-list-bg-flower: (190px, 428px, -190px, -428px, 35px, 35px, 642px, 643px, '../img/sprite.png', 'icon__list-bg--flower', );
$icon-loop-name: 'icon__loop';
$icon-loop-x: 532px;
$icon-loop-y: 96px;
$icon-loop-offset-x: -532px;
$icon-loop-offset-y: -96px;
$icon-loop-width: 19px;
$icon-loop-height: 19px;
$icon-loop-total-width: 642px;
$icon-loop-total-height: 643px;
$icon-loop-image: '../img/sprite.png';
$icon-loop: (532px, 96px, -532px, -96px, 19px, 19px, 642px, 643px, '../img/sprite.png', 'icon__loop', );
$icon-phone-name: 'icon__phone';
$icon-phone-x: 551px;
$icon-phone-y: 78px;
$icon-phone-offset-x: -551px;
$icon-phone-offset-y: -78px;
$icon-phone-width: 18px;
$icon-phone-height: 18px;
$icon-phone-total-width: 642px;
$icon-phone-total-height: 643px;
$icon-phone-image: '../img/sprite.png';
$icon-phone: (551px, 78px, -551px, -78px, 18px, 18px, 642px, 643px, '../img/sprite.png', 'icon__phone', );
$icon-social-card-active-name: 'icon__social-card--active';
$icon-social-card-active-x: 327px;
$icon-social-card-active-y: 312px;
$icon-social-card-active-offset-x: -327px;
$icon-social-card-active-offset-y: -312px;
$icon-social-card-active-width: 34px;
$icon-social-card-active-height: 23px;
$icon-social-card-active-total-width: 642px;
$icon-social-card-active-total-height: 643px;
$icon-social-card-active-image: '../img/sprite.png';
$icon-social-card-active: (327px, 312px, -327px, -312px, 34px, 23px, 642px, 643px, '../img/sprite.png', 'icon__social-card--active', );
$icon-social-card-name: 'icon__social-card';
$icon-social-card-x: 293px;
$icon-social-card-y: 335px;
$icon-social-card-offset-x: -293px;
$icon-social-card-offset-y: -335px;
$icon-social-card-width: 34px;
$icon-social-card-height: 23px;
$icon-social-card-total-width: 642px;
$icon-social-card-total-height: 643px;
$icon-social-card-image: '../img/sprite.png';
$icon-social-card: (293px, 335px, -293px, -335px, 34px, 23px, 642px, 643px, '../img/sprite.png', 'icon__social-card', );
$icon-star-violet-name: 'icon__star--violet';
$icon-star-violet-x: 585px;
$icon-star-violet-y: 47px;
$icon-star-violet-offset-x: -585px;
$icon-star-violet-offset-y: -47px;
$icon-star-violet-width: 16px;
$icon-star-violet-height: 15px;
$icon-star-violet-total-width: 642px;
$icon-star-violet-total-height: 643px;
$icon-star-violet-image: '../img/sprite.png';
$icon-star-violet: (585px, 47px, -585px, -47px, 16px, 15px, 642px, 643px, '../img/sprite.png', 'icon__star--violet', );
$icon-star-name: 'icon__star';
$icon-star-x: 601px;
$icon-star-y: 32px;
$icon-star-offset-x: -601px;
$icon-star-offset-y: -32px;
$icon-star-width: 16px;
$icon-star-height: 15px;
$icon-star-total-width: 642px;
$icon-star-total-height: 643px;
$icon-star-image: '../img/sprite.png';
$icon-star: (601px, 32px, -601px, -32px, 16px, 15px, 642px, 643px, '../img/sprite.png', 'icon__star', );
$icon-vk-name: 'icon__vk';
$icon-vk-x: 617px;
$icon-vk-y: 16px;
$icon-vk-offset-x: -617px;
$icon-vk-offset-y: -16px;
$icon-vk-width: 14px;
$icon-vk-height: 16px;
$icon-vk-total-width: 642px;
$icon-vk-total-height: 643px;
$icon-vk-image: '../img/sprite.png';
$icon-vk: (617px, 16px, -617px, -16px, 14px, 16px, 642px, 643px, '../img/sprite.png', 'icon__vk', );
$spritesheet-width: 642px;
$spritesheet-height: 643px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-auth, $icon-basket-large, $icon-basket, $icon-calendar-date-active, $icon-calendar-date, $icon-clock-active, $icon-clock, $icon-discount-card-active, $icon-discount-card, $icon-discount, $icon-favorit, $icon-fb, $icon-icecream-active, $icon-icecream, $icon-inst-large, $icon-inst-middle, $icon-inst, $icon-list-bg-flower, $icon-loop, $icon-phone, $icon-social-card-active, $icon-social-card, $icon-star-violet, $icon-star, $icon-vk, );
$spritesheet: (642px, 643px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
