// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-grey-right-name: 'icon__arrow--grey--right';
$icon-arrow-grey-right-x: 1087px;
$icon-arrow-grey-right-y: 370px;
$icon-arrow-grey-right-offset-x: -1087px;
$icon-arrow-grey-right-offset-y: -370px;
$icon-arrow-grey-right-width: 12px;
$icon-arrow-grey-right-height: 19px;
$icon-arrow-grey-right-total-width: 1519px;
$icon-arrow-grey-right-total-height: 1501px;
$icon-arrow-grey-right-image: '../img/sprite.png';
$icon-arrow-grey-right: (1087px, 370px, -1087px, -370px, 12px, 19px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--grey--right', );
$icon-arrow-grey-name: 'icon__arrow--grey';
$icon-arrow-grey-x: 1021px;
$icon-arrow-grey-y: 431px;
$icon-arrow-grey-offset-x: -1021px;
$icon-arrow-grey-offset-y: -431px;
$icon-arrow-grey-width: 16px;
$icon-arrow-grey-height: 17px;
$icon-arrow-grey-total-width: 1519px;
$icon-arrow-grey-total-height: 1501px;
$icon-arrow-grey-image: '../img/sprite.png';
$icon-arrow-grey: (1021px, 431px, -1021px, -431px, 16px, 17px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--grey', );
$icon-arrow-lightgrey-left-name: 'icon__arrow--lightgrey--left';
$icon-arrow-lightgrey-left-x: 36px;
$icon-arrow-lightgrey-left-y: 1403px;
$icon-arrow-lightgrey-left-offset-x: -36px;
$icon-arrow-lightgrey-left-offset-y: -1403px;
$icon-arrow-lightgrey-left-width: 36px;
$icon-arrow-lightgrey-left-height: 49px;
$icon-arrow-lightgrey-left-total-width: 1519px;
$icon-arrow-lightgrey-left-total-height: 1501px;
$icon-arrow-lightgrey-left-image: '../img/sprite.png';
$icon-arrow-lightgrey-left: (36px, 1403px, -36px, -1403px, 36px, 49px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--lightgrey--left', );
$icon-arrow-lightgrey-right-name: 'icon__arrow--lightgrey--right';
$icon-arrow-lightgrey-right-x: 0px;
$icon-arrow-lightgrey-right-y: 1452px;
$icon-arrow-lightgrey-right-offset-x: 0px;
$icon-arrow-lightgrey-right-offset-y: -1452px;
$icon-arrow-lightgrey-right-width: 36px;
$icon-arrow-lightgrey-right-height: 49px;
$icon-arrow-lightgrey-right-total-width: 1519px;
$icon-arrow-lightgrey-right-total-height: 1501px;
$icon-arrow-lightgrey-right-image: '../img/sprite.png';
$icon-arrow-lightgrey-right: (0px, 1452px, 0px, -1452px, 36px, 49px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--lightgrey--right', );
$icon-arrow-pink-right-name: 'icon__arrow--pink--right';
$icon-arrow-pink-right-x: 1075px;
$icon-arrow-pink-right-y: 389px;
$icon-arrow-pink-right-offset-x: -1075px;
$icon-arrow-pink-right-offset-y: -389px;
$icon-arrow-pink-right-width: 12px;
$icon-arrow-pink-right-height: 19px;
$icon-arrow-pink-right-total-width: 1519px;
$icon-arrow-pink-right-total-height: 1501px;
$icon-arrow-pink-right-image: '../img/sprite.png';
$icon-arrow-pink-right: (1075px, 389px, -1075px, -389px, 12px, 19px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--pink--right', );
$icon-arrow-vinous-name: 'icon__arrow--vinous';
$icon-arrow-vinous-x: 1348px;
$icon-arrow-vinous-y: 101px;
$icon-arrow-vinous-offset-x: -1348px;
$icon-arrow-vinous-offset-y: -101px;
$icon-arrow-vinous-width: 9px;
$icon-arrow-vinous-height: 15px;
$icon-arrow-vinous-total-width: 1519px;
$icon-arrow-vinous-total-height: 1501px;
$icon-arrow-vinous-image: '../img/sprite.png';
$icon-arrow-vinous: (1348px, 101px, -1348px, -101px, 9px, 15px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--vinous', );
$icon-arrow-violet-name: 'icon__arrow--violet';
$icon-arrow-violet-x: 1424px;
$icon-arrow-violet-y: 46px;
$icon-arrow-violet-offset-x: -1424px;
$icon-arrow-violet-offset-y: -46px;
$icon-arrow-violet-width: 13px;
$icon-arrow-violet-height: 9px;
$icon-arrow-violet-total-width: 1519px;
$icon-arrow-violet-total-height: 1501px;
$icon-arrow-violet-image: '../img/sprite.png';
$icon-arrow-violet: (1424px, 46px, -1424px, -46px, 13px, 9px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--violet', );
$icon-arrow-white-right-name: 'icon__arrow--white--right';
$icon-arrow-white-right-x: 1339px;
$icon-arrow-white-right-y: 116px;
$icon-arrow-white-right-offset-x: -1339px;
$icon-arrow-white-right-offset-y: -116px;
$icon-arrow-white-right-width: 9px;
$icon-arrow-white-right-height: 15px;
$icon-arrow-white-right-total-width: 1519px;
$icon-arrow-white-right-total-height: 1501px;
$icon-arrow-white-right-image: '../img/sprite.png';
$icon-arrow-white-right: (1339px, 116px, -1339px, -116px, 9px, 15px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--white--right', );
$icon-arrow-white-name: 'icon__arrow--white';
$icon-arrow-white-x: 1005px;
$icon-arrow-white-y: 448px;
$icon-arrow-white-offset-x: -1005px;
$icon-arrow-white-offset-y: -448px;
$icon-arrow-white-width: 16px;
$icon-arrow-white-height: 17px;
$icon-arrow-white-total-width: 1519px;
$icon-arrow-white-total-height: 1501px;
$icon-arrow-white-image: '../img/sprite.png';
$icon-arrow-white: (1005px, 448px, -1005px, -448px, 16px, 17px, 1519px, 1501px, '../img/sprite.png', 'icon__arrow--white', );
$icon-auth-name: 'icon__auth';
$icon-auth-x: 761px;
$icon-auth-y: 687px;
$icon-auth-offset-x: -761px;
$icon-auth-offset-y: -687px;
$icon-auth-width: 21px;
$icon-auth-height: 20px;
$icon-auth-total-width: 1519px;
$icon-auth-total-height: 1501px;
$icon-auth-image: '../img/sprite.png';
$icon-auth: (761px, 687px, -761px, -687px, 21px, 20px, 1519px, 1501px, '../img/sprite.png', 'icon__auth', );
$icon-basket-large-name: 'icon__basket--large';
$icon-basket-large-x: 559px;
$icon-basket-large-y: 894px;
$icon-basket-large-offset-x: -559px;
$icon-basket-large-offset-y: -894px;
$icon-basket-large-width: 25px;
$icon-basket-large-height: 25px;
$icon-basket-large-total-width: 1519px;
$icon-basket-large-total-height: 1501px;
$icon-basket-large-image: '../img/sprite.png';
$icon-basket-large: (559px, 894px, -559px, -894px, 25px, 25px, 1519px, 1501px, '../img/sprite.png', 'icon__basket--large', );
$icon-basket-name: 'icon__basket';
$icon-basket-x: 832px;
$icon-basket-y: 599px;
$icon-basket-offset-x: -832px;
$icon-basket-offset-y: -599px;
$icon-basket-width: 18px;
$icon-basket-height: 20px;
$icon-basket-total-width: 1519px;
$icon-basket-total-height: 1501px;
$icon-basket-image: '../img/sprite.png';
$icon-basket: (832px, 599px, -832px, -599px, 18px, 20px, 1519px, 1501px, '../img/sprite.png', 'icon__basket', );
$icon-box-name: 'icon__box';
$icon-box-x: 945px;
$icon-box-y: 490px;
$icon-box-offset-x: -945px;
$icon-box-offset-y: -490px;
$icon-box-width: 19px;
$icon-box-height: 17px;
$icon-box-total-width: 1519px;
$icon-box-total-height: 1501px;
$icon-box-image: '../img/sprite.png';
$icon-box: (945px, 490px, -945px, -490px, 19px, 17px, 1519px, 1501px, '../img/sprite.png', 'icon__box', );
$icon-calendar-date-active-name: 'icon__calendar-date--active';
$icon-calendar-date-active-x: 331px;
$icon-calendar-date-active-y: 1118px;
$icon-calendar-date-active-offset-x: -331px;
$icon-calendar-date-active-offset-y: -1118px;
$icon-calendar-date-active-width: 34px;
$icon-calendar-date-active-height: 35px;
$icon-calendar-date-active-total-width: 1519px;
$icon-calendar-date-active-total-height: 1501px;
$icon-calendar-date-active-image: '../img/sprite.png';
$icon-calendar-date-active: (331px, 1118px, -331px, -1118px, 34px, 35px, 1519px, 1501px, '../img/sprite.png', 'icon__calendar-date--active', );
$icon-calendar-date-name: 'icon__calendar-date';
$icon-calendar-date-x: 297px;
$icon-calendar-date-y: 1153px;
$icon-calendar-date-offset-x: -297px;
$icon-calendar-date-offset-y: -1153px;
$icon-calendar-date-width: 34px;
$icon-calendar-date-height: 35px;
$icon-calendar-date-total-width: 1519px;
$icon-calendar-date-total-height: 1501px;
$icon-calendar-date-image: '../img/sprite.png';
$icon-calendar-date: (297px, 1153px, -297px, -1153px, 34px, 35px, 1519px, 1501px, '../img/sprite.png', 'icon__calendar-date', );
$icon-check-1-name: 'icon__check-1';
$icon-check-1-x: 1467px;
$icon-check-1-y: 28px;
$icon-check-1-offset-x: -1467px;
$icon-check-1-offset-y: -28px;
$icon-check-1-width: 10px;
$icon-check-1-height: 10px;
$icon-check-1-total-width: 1519px;
$icon-check-1-total-height: 1501px;
$icon-check-1-image: '../img/sprite.png';
$icon-check-1: (1467px, 28px, -1467px, -28px, 10px, 10px, 1519px, 1501px, '../img/sprite.png', 'icon__check-1', );
$icon-check-name: 'icon__check';
$icon-check-x: 1369px;
$icon-check-y: 79px;
$icon-check-offset-x: -1369px;
$icon-check-offset-y: -79px;
$icon-check-width: 13px;
$icon-check-height: 10px;
$icon-check-total-width: 1519px;
$icon-check-total-height: 1501px;
$icon-check-image: '../img/sprite.png';
$icon-check: (1369px, 79px, -1369px, -79px, 13px, 10px, 1519px, 1501px, '../img/sprite.png', 'icon__check', );
$icon-clock-active-name: 'icon__clock--active';
$icon-clock-active-x: 229px;
$icon-clock-active-y: 1223px;
$icon-clock-active-offset-x: -229px;
$icon-clock-active-offset-y: -1223px;
$icon-clock-active-width: 33px;
$icon-clock-active-height: 37px;
$icon-clock-active-total-width: 1519px;
$icon-clock-active-total-height: 1501px;
$icon-clock-active-image: '../img/sprite.png';
$icon-clock-active: (229px, 1223px, -229px, -1223px, 33px, 37px, 1519px, 1501px, '../img/sprite.png', 'icon__clock--active', );
$icon-clock-name: 'icon__clock';
$icon-clock-x: 196px;
$icon-clock-y: 1260px;
$icon-clock-offset-x: -196px;
$icon-clock-offset-y: -1260px;
$icon-clock-width: 33px;
$icon-clock-height: 37px;
$icon-clock-total-width: 1519px;
$icon-clock-total-height: 1501px;
$icon-clock-image: '../img/sprite.png';
$icon-clock: (196px, 1260px, -196px, -1260px, 33px, 37px, 1519px, 1501px, '../img/sprite.png', 'icon__clock', );
$icon-close-violet-name: 'icon__close--violet';
$icon-close-violet-x: 926px;
$icon-close-violet-y: 507px;
$icon-close-violet-offset-x: -926px;
$icon-close-violet-offset-y: -507px;
$icon-close-violet-width: 19px;
$icon-close-violet-height: 17px;
$icon-close-violet-total-width: 1519px;
$icon-close-violet-total-height: 1501px;
$icon-close-violet-image: '../img/sprite.png';
$icon-close-violet: (926px, 507px, -926px, -507px, 19px, 17px, 1519px, 1501px, '../img/sprite.png', 'icon__close--violet', );
$icon-crown-name: 'icon__crown';
$icon-crown-x: 365px;
$icon-crown-y: 1092px;
$icon-crown-offset-x: -365px;
$icon-crown-offset-y: -1092px;
$icon-crown-width: 40px;
$icon-crown-height: 26px;
$icon-crown-total-width: 1519px;
$icon-crown-total-height: 1501px;
$icon-crown-image: '../img/sprite.png';
$icon-crown: (365px, 1092px, -365px, -1092px, 40px, 26px, 1519px, 1501px, '../img/sprite.png', 'icon__crown', );
$icon-discount-card-active-name: 'icon__discount-card--active';
$icon-discount-card-active-x: 114px;
$icon-discount-card-active-y: 1329px;
$icon-discount-card-active-offset-x: -114px;
$icon-discount-card-active-offset-y: -1329px;
$icon-discount-card-active-width: 41px;
$icon-discount-card-active-height: 32px;
$icon-discount-card-active-total-width: 1519px;
$icon-discount-card-active-total-height: 1501px;
$icon-discount-card-active-image: '../img/sprite.png';
$icon-discount-card-active: (114px, 1329px, -114px, -1329px, 41px, 32px, 1519px, 1501px, '../img/sprite.png', 'icon__discount-card--active', );
$icon-discount-card-name: 'icon__discount-card';
$icon-discount-card-x: 155px;
$icon-discount-card-y: 1297px;
$icon-discount-card-offset-x: -155px;
$icon-discount-card-offset-y: -1297px;
$icon-discount-card-width: 41px;
$icon-discount-card-height: 32px;
$icon-discount-card-total-width: 1519px;
$icon-discount-card-total-height: 1501px;
$icon-discount-card-image: '../img/sprite.png';
$icon-discount-card: (155px, 1297px, -155px, -1297px, 41px, 32px, 1519px, 1501px, '../img/sprite.png', 'icon__discount-card', );
$icon-discount-name: 'icon__discount';
$icon-discount-x: 869px;
$icon-discount-y: 561px;
$icon-discount-offset-x: -869px;
$icon-discount-offset-y: -561px;
$icon-discount-width: 19px;
$icon-discount-height: 19px;
$icon-discount-total-width: 1519px;
$icon-discount-total-height: 1501px;
$icon-discount-image: '../img/sprite.png';
$icon-discount: (869px, 561px, -869px, -561px, 19px, 19px, 1519px, 1501px, '../img/sprite.png', 'icon__discount', );
$icon-exclamation-point-name: 'icon__exclamation-point';
$icon-exclamation-point-x: 1322px;
$icon-exclamation-point-y: 147px;
$icon-exclamation-point-offset-x: -1322px;
$icon-exclamation-point-offset-y: -147px;
$icon-exclamation-point-width: 6px;
$icon-exclamation-point-height: 19px;
$icon-exclamation-point-total-width: 1519px;
$icon-exclamation-point-total-height: 1501px;
$icon-exclamation-point-image: '../img/sprite.png';
$icon-exclamation-point: (1322px, 147px, -1322px, -147px, 6px, 19px, 1519px, 1501px, '../img/sprite.png', 'icon__exclamation-point', );
$icon-favorit-name: 'icon__favorit';
$icon-favorit-x: 657px;
$icon-favorit-y: 801px;
$icon-favorit-offset-x: -657px;
$icon-favorit-offset-y: -801px;
$icon-favorit-width: 24px;
$icon-favorit-height: 21px;
$icon-favorit-total-width: 1519px;
$icon-favorit-total-height: 1501px;
$icon-favorit-image: '../img/sprite.png';
$icon-favorit: (657px, 801px, -657px, -801px, 24px, 21px, 1519px, 1501px, '../img/sprite.png', 'icon__favorit', );
$icon-fb-white-name: 'icon__fb--white';
$icon-fb-white-x: 782px;
$icon-fb-white-y: 663px;
$icon-fb-white-offset-x: -782px;
$icon-fb-white-offset-y: -663px;
$icon-fb-white-width: 16px;
$icon-fb-white-height: 24px;
$icon-fb-white-total-width: 1519px;
$icon-fb-white-total-height: 1501px;
$icon-fb-white-image: '../img/sprite.png';
$icon-fb-white: (782px, 663px, -782px, -663px, 16px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__fb--white', );
$icon-fb-yellow-name: 'icon__fb--yellow';
$icon-fb-yellow-x: 744px;
$icon-fb-yellow-y: 707px;
$icon-fb-yellow-offset-x: -744px;
$icon-fb-yellow-offset-y: -707px;
$icon-fb-yellow-width: 17px;
$icon-fb-yellow-height: 24px;
$icon-fb-yellow-total-width: 1519px;
$icon-fb-yellow-total-height: 1501px;
$icon-fb-yellow-image: '../img/sprite.png';
$icon-fb-yellow: (744px, 707px, -744px, -707px, 17px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__fb--yellow', );
$icon-fb-name: 'icon__fb';
$icon-fb-x: 1328px;
$icon-fb-y: 131px;
$icon-fb-offset-x: -1328px;
$icon-fb-offset-y: -131px;
$icon-fb-width: 11px;
$icon-fb-height: 16px;
$icon-fb-total-width: 1519px;
$icon-fb-total-height: 1501px;
$icon-fb-image: '../img/sprite.png';
$icon-fb: (1328px, 131px, -1328px, -131px, 11px, 16px, 1519px, 1501px, '../img/sprite.png', 'icon__fb', );
$icon-flacon-name: 'icon__flacon';
$icon-flacon-x: 535px;
$icon-flacon-y: 919px;
$icon-flacon-offset-x: -535px;
$icon-flacon-offset-y: -919px;
$icon-flacon-width: 24px;
$icon-flacon-height: 26px;
$icon-flacon-total-width: 1519px;
$icon-flacon-total-height: 1501px;
$icon-flacon-image: '../img/sprite.png';
$icon-flacon: (535px, 919px, -535px, -919px, 24px, 26px, 1519px, 1501px, '../img/sprite.png', 'icon__flacon', );
$icon-flower-grey-name: 'icon__flower--grey';
$icon-flower-grey-x: 1477px;
$icon-flower-grey-y: 18px;
$icon-flower-grey-offset-x: -1477px;
$icon-flower-grey-offset-y: -18px;
$icon-flower-grey-width: 10px;
$icon-flower-grey-height: 10px;
$icon-flower-grey-total-width: 1519px;
$icon-flower-grey-total-height: 1501px;
$icon-flower-grey-image: '../img/sprite.png';
$icon-flower-grey: (1477px, 18px, -1477px, -18px, 10px, 10px, 1519px, 1501px, '../img/sprite.png', 'icon__flower--grey', );
$icon-flower-vinous-name: 'icon__flower--vinous';
$icon-flower-vinous-x: 1487px;
$icon-flower-vinous-y: 8px;
$icon-flower-vinous-offset-x: -1487px;
$icon-flower-vinous-offset-y: -8px;
$icon-flower-vinous-width: 10px;
$icon-flower-vinous-height: 10px;
$icon-flower-vinous-total-width: 1519px;
$icon-flower-vinous-total-height: 1501px;
$icon-flower-vinous-image: '../img/sprite.png';
$icon-flower-vinous: (1487px, 8px, -1487px, -8px, 10px, 10px, 1519px, 1501px, '../img/sprite.png', 'icon__flower--vinous', );
$icon-geo-blue-name: 'icon__geo--blue';
$icon-geo-blue-x: 515px;
$icon-geo-blue-y: 945px;
$icon-geo-blue-offset-x: -515px;
$icon-geo-blue-offset-y: -945px;
$icon-geo-blue-width: 20px;
$icon-geo-blue-height: 31px;
$icon-geo-blue-total-width: 1519px;
$icon-geo-blue-total-height: 1501px;
$icon-geo-blue-image: '../img/sprite.png';
$icon-geo-blue: (515px, 945px, -515px, -945px, 20px, 31px, 1519px, 1501px, '../img/sprite.png', 'icon__geo--blue', );
$icon-geo-grey-name: 'icon__geo--grey';
$icon-geo-grey-x: 1220px;
$icon-geo-grey-y: 256px;
$icon-geo-grey-offset-x: -1220px;
$icon-geo-grey-offset-y: -256px;
$icon-geo-grey-width: 12px;
$icon-geo-grey-height: 18px;
$icon-geo-grey-total-width: 1519px;
$icon-geo-grey-total-height: 1501px;
$icon-geo-grey-image: '../img/sprite.png';
$icon-geo-grey: (1220px, 256px, -1220px, -256px, 12px, 18px, 1519px, 1501px, '../img/sprite.png', 'icon__geo--grey', );
$icon-geo-pink-name: 'icon__geo--pink';
$icon-geo-pink-x: 1232px;
$icon-geo-pink-y: 238px;
$icon-geo-pink-offset-x: -1232px;
$icon-geo-pink-offset-y: -238px;
$icon-geo-pink-width: 12px;
$icon-geo-pink-height: 18px;
$icon-geo-pink-total-width: 1519px;
$icon-geo-pink-total-height: 1501px;
$icon-geo-pink-image: '../img/sprite.png';
$icon-geo-pink: (1232px, 238px, -1232px, -238px, 12px, 18px, 1519px, 1501px, '../img/sprite.png', 'icon__geo--pink', );
$icon-heart-name: 'icon__heart';
$icon-heart-x: 609px;
$icon-heart-y: 846px;
$icon-heart-offset-x: -609px;
$icon-heart-offset-y: -846px;
$icon-heart-width: 24px;
$icon-heart-height: 24px;
$icon-heart-total-width: 1519px;
$icon-heart-total-height: 1501px;
$icon-heart-image: '../img/sprite.png';
$icon-heart: (609px, 846px, -609px, -846px, 24px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__heart', );
$icon-icecream-active-name: 'icon__icecream--active';
$icon-icecream-active-x: 494px;
$icon-icecream-active-y: 976px;
$icon-icecream-active-offset-x: -494px;
$icon-icecream-active-offset-y: -976px;
$icon-icecream-active-width: 21px;
$icon-icecream-active-height: 35px;
$icon-icecream-active-total-width: 1519px;
$icon-icecream-active-total-height: 1501px;
$icon-icecream-active-image: '../img/sprite.png';
$icon-icecream-active: (494px, 976px, -494px, -976px, 21px, 35px, 1519px, 1501px, '../img/sprite.png', 'icon__icecream--active', );
$icon-icecream-name: 'icon__icecream';
$icon-icecream-x: 473px;
$icon-icecream-y: 1011px;
$icon-icecream-offset-x: -473px;
$icon-icecream-offset-y: -1011px;
$icon-icecream-width: 21px;
$icon-icecream-height: 35px;
$icon-icecream-total-width: 1519px;
$icon-icecream-total-height: 1501px;
$icon-icecream-image: '../img/sprite.png';
$icon-icecream: (473px, 1011px, -473px, -1011px, 21px, 35px, 1519px, 1501px, '../img/sprite.png', 'icon__icecream', );
$icon-inst-large-name: 'icon__inst--large';
$icon-inst-large-x: 72px;
$icon-inst-large-y: 1361px;
$icon-inst-large-offset-x: -72px;
$icon-inst-large-offset-y: -1361px;
$icon-inst-large-width: 42px;
$icon-inst-large-height: 42px;
$icon-inst-large-total-width: 1519px;
$icon-inst-large-total-height: 1501px;
$icon-inst-large-image: '../img/sprite.png';
$icon-inst-large: (72px, 1361px, -72px, -1361px, 42px, 42px, 1519px, 1501px, '../img/sprite.png', 'icon__inst--large', );
$icon-inst-middle-name: 'icon__inst--middle';
$icon-inst-middle-x: 722px;
$icon-inst-middle-y: 731px;
$icon-inst-middle-offset-x: -722px;
$icon-inst-middle-offset-y: -731px;
$icon-inst-middle-width: 22px;
$icon-inst-middle-height: 22px;
$icon-inst-middle-total-width: 1519px;
$icon-inst-middle-total-height: 1501px;
$icon-inst-middle-image: '../img/sprite.png';
$icon-inst-middle: (722px, 731px, -722px, -731px, 22px, 22px, 1519px, 1501px, '../img/sprite.png', 'icon__inst--middle', );
$icon-inst-white-name: 'icon__inst--white';
$icon-inst-white-x: 633px;
$icon-inst-white-y: 822px;
$icon-inst-white-offset-x: -633px;
$icon-inst-white-offset-y: -822px;
$icon-inst-white-width: 24px;
$icon-inst-white-height: 24px;
$icon-inst-white-total-width: 1519px;
$icon-inst-white-total-height: 1501px;
$icon-inst-white-image: '../img/sprite.png';
$icon-inst-white: (633px, 822px, -633px, -822px, 24px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__inst--white', );
$icon-inst-yellow-name: 'icon__inst--yellow';
$icon-inst-yellow-x: 584px;
$icon-inst-yellow-y: 870px;
$icon-inst-yellow-offset-x: -584px;
$icon-inst-yellow-offset-y: -870px;
$icon-inst-yellow-width: 25px;
$icon-inst-yellow-height: 24px;
$icon-inst-yellow-total-width: 1519px;
$icon-inst-yellow-total-height: 1501px;
$icon-inst-yellow-image: '../img/sprite.png';
$icon-inst-yellow: (584px, 870px, -584px, -870px, 25px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__inst--yellow', );
$icon-inst-name: 'icon__inst';
$icon-inst-x: 1059px;
$icon-inst-y: 408px;
$icon-inst-offset-x: -1059px;
$icon-inst-offset-y: -408px;
$icon-inst-width: 16px;
$icon-inst-height: 16px;
$icon-inst-total-width: 1519px;
$icon-inst-total-height: 1501px;
$icon-inst-image: '../img/sprite.png';
$icon-inst: (1059px, 408px, -1059px, -408px, 16px, 16px, 1519px, 1501px, '../img/sprite.png', 'icon__inst', );
$icon-list-grey-name: 'icon__list--grey';
$icon-list-grey-x: 1261px;
$icon-list-grey-y: 212px;
$icon-list-grey-offset-x: -1261px;
$icon-list-grey-offset-y: -212px;
$icon-list-grey-width: 17px;
$icon-list-grey-height: 13px;
$icon-list-grey-total-width: 1519px;
$icon-list-grey-total-height: 1501px;
$icon-list-grey-image: '../img/sprite.png';
$icon-list-grey: (1261px, 212px, -1261px, -212px, 17px, 13px, 1519px, 1501px, '../img/sprite.png', 'icon__list--grey', );
$icon-list-pink-name: 'icon__list--pink';
$icon-list-pink-x: 1244px;
$icon-list-pink-y: 225px;
$icon-list-pink-offset-x: -1244px;
$icon-list-pink-offset-y: -225px;
$icon-list-pink-width: 17px;
$icon-list-pink-height: 13px;
$icon-list-pink-total-width: 1519px;
$icon-list-pink-total-height: 1501px;
$icon-list-pink-image: '../img/sprite.png';
$icon-list-pink: (1244px, 225px, -1244px, -225px, 17px, 13px, 1519px, 1501px, '../img/sprite.png', 'icon__list--pink', );
$icon-list-bg-flower-name: 'icon__list-bg--flower';
$icon-list-bg-flower-x: 262px;
$icon-list-bg-flower-y: 1188px;
$icon-list-bg-flower-offset-x: -262px;
$icon-list-bg-flower-offset-y: -1188px;
$icon-list-bg-flower-width: 35px;
$icon-list-bg-flower-height: 35px;
$icon-list-bg-flower-total-width: 1519px;
$icon-list-bg-flower-total-height: 1501px;
$icon-list-bg-flower-image: '../img/sprite.png';
$icon-list-bg-flower: (262px, 1188px, -262px, -1188px, 35px, 35px, 1519px, 1501px, '../img/sprite.png', 'icon__list-bg--flower', );
$icon-loop-grey-name: 'icon__loop--grey';
$icon-loop-grey-x: 850px;
$icon-loop-grey-y: 580px;
$icon-loop-grey-offset-x: -850px;
$icon-loop-grey-offset-y: -580px;
$icon-loop-grey-width: 19px;
$icon-loop-grey-height: 19px;
$icon-loop-grey-total-width: 1519px;
$icon-loop-grey-total-height: 1501px;
$icon-loop-grey-image: '../img/sprite.png';
$icon-loop-grey: (850px, 580px, -850px, -580px, 19px, 19px, 1519px, 1501px, '../img/sprite.png', 'icon__loop--grey', );
$icon-loop-name: 'icon__loop';
$icon-loop-x: 888px;
$icon-loop-y: 542px;
$icon-loop-offset-x: -888px;
$icon-loop-offset-y: -542px;
$icon-loop-width: 19px;
$icon-loop-height: 19px;
$icon-loop-total-width: 1519px;
$icon-loop-total-height: 1501px;
$icon-loop-image: '../img/sprite.png';
$icon-loop: (888px, 542px, -888px, -542px, 19px, 19px, 1519px, 1501px, '../img/sprite.png', 'icon__loop', );
$icon-metro-green-name: 'icon__metro--green';
$icon-metro-green-x: 1153px;
$icon-metro-green-y: 318px;
$icon-metro-green-offset-x: -1153px;
$icon-metro-green-offset-y: -318px;
$icon-metro-green-width: 18px;
$icon-metro-green-height: 13px;
$icon-metro-green-total-width: 1519px;
$icon-metro-green-total-height: 1501px;
$icon-metro-green-image: '../img/sprite.png';
$icon-metro-green: (1153px, 318px, -1153px, -318px, 18px, 13px, 1519px, 1501px, '../img/sprite.png', 'icon__metro--green', );
$icon-metro-grey-name: 'icon__metro--grey';
$icon-metro-grey-x: 1135px;
$icon-metro-grey-y: 331px;
$icon-metro-grey-offset-x: -1135px;
$icon-metro-grey-offset-y: -331px;
$icon-metro-grey-width: 18px;
$icon-metro-grey-height: 13px;
$icon-metro-grey-total-width: 1519px;
$icon-metro-grey-total-height: 1501px;
$icon-metro-grey-image: '../img/sprite.png';
$icon-metro-grey: (1135px, 331px, -1135px, -331px, 18px, 13px, 1519px, 1501px, '../img/sprite.png', 'icon__metro--grey', );
$icon-metro-pink-name: 'icon__metro--pink';
$icon-metro-pink-x: 1099px;
$icon-metro-pink-y: 357px;
$icon-metro-pink-offset-x: -1099px;
$icon-metro-pink-offset-y: -357px;
$icon-metro-pink-width: 18px;
$icon-metro-pink-height: 13px;
$icon-metro-pink-total-width: 1519px;
$icon-metro-pink-total-height: 1501px;
$icon-metro-pink-image: '../img/sprite.png';
$icon-metro-pink: (1099px, 357px, -1099px, -357px, 18px, 13px, 1519px, 1501px, '../img/sprite.png', 'icon__metro--pink', );
$icon-metro-yellow-name: 'icon__metro--yellow';
$icon-metro-yellow-x: 1117px;
$icon-metro-yellow-y: 344px;
$icon-metro-yellow-offset-x: -1117px;
$icon-metro-yellow-offset-y: -344px;
$icon-metro-yellow-width: 18px;
$icon-metro-yellow-height: 13px;
$icon-metro-yellow-total-width: 1519px;
$icon-metro-yellow-total-height: 1501px;
$icon-metro-yellow-image: '../img/sprite.png';
$icon-metro-yellow: (1117px, 344px, -1117px, -344px, 18px, 13px, 1519px, 1501px, '../img/sprite.png', 'icon__metro--yellow', );
$icon-minus-black-name: 'icon__minus--black';
$icon-minus-black-x: 1437px;
$icon-minus-black-y: 42px;
$icon-minus-black-offset-x: -1437px;
$icon-minus-black-offset-y: -42px;
$icon-minus-black-width: 15px;
$icon-minus-black-height: 4px;
$icon-minus-black-total-width: 1519px;
$icon-minus-black-total-height: 1501px;
$icon-minus-black-image: '../img/sprite.png';
$icon-minus-black: (1437px, 42px, -1437px, -42px, 15px, 4px, 1519px, 1501px, '../img/sprite.png', 'icon__minus--black', );
$icon-minus-grey-name: 'icon__minus--grey';
$icon-minus-grey-x: 1497px;
$icon-minus-grey-y: 6px;
$icon-minus-grey-offset-x: -1497px;
$icon-minus-grey-offset-y: -6px;
$icon-minus-grey-width: 12px;
$icon-minus-grey-height: 2px;
$icon-minus-grey-total-width: 1519px;
$icon-minus-grey-total-height: 1501px;
$icon-minus-grey-image: '../img/sprite.png';
$icon-minus-grey: (1497px, 6px, -1497px, -6px, 12px, 2px, 1519px, 1501px, '../img/sprite.png', 'icon__minus--grey', );
$icon-minus-violet-name: 'icon__minus--violet';
$icon-minus-violet-x: 982px;
$icon-minus-violet-y: 465px;
$icon-minus-violet-offset-x: -982px;
$icon-minus-violet-offset-y: -465px;
$icon-minus-violet-width: 23px;
$icon-minus-violet-height: 7px;
$icon-minus-violet-total-width: 1519px;
$icon-minus-violet-total-height: 1501px;
$icon-minus-violet-image: '../img/sprite.png';
$icon-minus-violet: (982px, 465px, -982px, -465px, 23px, 7px, 1519px, 1501px, '../img/sprite.png', 'icon__minus--violet', );
$icon-minus-name: 'icon__minus';
$icon-minus-x: 1452px;
$icon-minus-y: 38px;
$icon-minus-offset-x: -1452px;
$icon-minus-offset-y: -38px;
$icon-minus-width: 15px;
$icon-minus-height: 4px;
$icon-minus-total-width: 1519px;
$icon-minus-total-height: 1501px;
$icon-minus-image: '../img/sprite.png';
$icon-minus: (1452px, 38px, -1452px, -38px, 15px, 4px, 1519px, 1501px, '../img/sprite.png', 'icon__minus', );
$icon-new-name: 'icon__new';
$icon-new-x: 1037px;
$icon-new-y: 424px;
$icon-new-offset-x: -1037px;
$icon-new-offset-y: -424px;
$icon-new-width: 22px;
$icon-new-height: 7px;
$icon-new-total-width: 1519px;
$icon-new-total-height: 1501px;
$icon-new-image: '../img/sprite.png';
$icon-new: (1037px, 424px, -1037px, -424px, 22px, 7px, 1519px, 1501px, '../img/sprite.png', 'icon__new', );
$icon-phone-name: 'icon__phone';
$icon-phone-x: 964px;
$icon-phone-y: 472px;
$icon-phone-offset-x: -964px;
$icon-phone-offset-y: -472px;
$icon-phone-width: 18px;
$icon-phone-height: 18px;
$icon-phone-total-width: 1519px;
$icon-phone-total-height: 1501px;
$icon-phone-image: '../img/sprite.png';
$icon-phone: (964px, 472px, -964px, -472px, 18px, 18px, 1519px, 1501px, '../img/sprite.png', 'icon__phone', );
$icon-plus-black-name: 'icon__plus--black';
$icon-plus-black-x: 1292px;
$icon-plus-black-y: 181px;
$icon-plus-black-offset-x: -1292px;
$icon-plus-black-offset-y: -181px;
$icon-plus-black-width: 15px;
$icon-plus-black-height: 15px;
$icon-plus-black-total-width: 1519px;
$icon-plus-black-total-height: 1501px;
$icon-plus-black-image: '../img/sprite.png';
$icon-plus-black: (1292px, 181px, -1292px, -181px, 15px, 15px, 1519px, 1501px, '../img/sprite.png', 'icon__plus--black', );
$icon-plus-grey-name: 'icon__plus--grey';
$icon-plus-grey-x: 1357px;
$icon-plus-grey-y: 89px;
$icon-plus-grey-offset-x: -1357px;
$icon-plus-grey-offset-y: -89px;
$icon-plus-grey-width: 12px;
$icon-plus-grey-height: 12px;
$icon-plus-grey-total-width: 1519px;
$icon-plus-grey-total-height: 1501px;
$icon-plus-grey-image: '../img/sprite.png';
$icon-plus-grey: (1357px, 89px, -1357px, -89px, 12px, 12px, 1519px, 1501px, '../img/sprite.png', 'icon__plus--grey', );
$icon-plus-violet-name: 'icon__plus--violet';
$icon-plus-violet-x: 798px;
$icon-plus-violet-y: 643px;
$icon-plus-violet-offset-x: -798px;
$icon-plus-violet-offset-y: -643px;
$icon-plus-violet-width: 20px;
$icon-plus-violet-height: 20px;
$icon-plus-violet-total-width: 1519px;
$icon-plus-violet-total-height: 1501px;
$icon-plus-violet-image: '../img/sprite.png';
$icon-plus-violet: (798px, 643px, -798px, -643px, 20px, 20px, 1519px, 1501px, '../img/sprite.png', 'icon__plus--violet', );
$icon-plus-name: 'icon__plus';
$icon-plus-x: 1307px;
$icon-plus-y: 166px;
$icon-plus-offset-x: -1307px;
$icon-plus-offset-y: -166px;
$icon-plus-width: 15px;
$icon-plus-height: 15px;
$icon-plus-total-width: 1519px;
$icon-plus-total-height: 1501px;
$icon-plus-image: '../img/sprite.png';
$icon-plus: (1307px, 166px, -1307px, -166px, 15px, 15px, 1519px, 1501px, '../img/sprite.png', 'icon__plus', );
$icon-purse-name: 'icon__purse';
$icon-purse-x: 1171px;
$icon-purse-y: 304px;
$icon-purse-offset-x: -1171px;
$icon-purse-offset-y: -304px;
$icon-purse-width: 17px;
$icon-purse-height: 14px;
$icon-purse-total-width: 1519px;
$icon-purse-total-height: 1501px;
$icon-purse-image: '../img/sprite.png';
$icon-purse: (1171px, 304px, -1171px, -304px, 17px, 14px, 1519px, 1501px, '../img/sprite.png', 'icon__purse', );
$icon-social-card-active-name: 'icon__social-card--active';
$icon-social-card-active-x: 439px;
$icon-social-card-active-y: 1046px;
$icon-social-card-active-offset-x: -439px;
$icon-social-card-active-offset-y: -1046px;
$icon-social-card-active-width: 34px;
$icon-social-card-active-height: 23px;
$icon-social-card-active-total-width: 1519px;
$icon-social-card-active-total-height: 1501px;
$icon-social-card-active-image: '../img/sprite.png';
$icon-social-card-active: (439px, 1046px, -439px, -1046px, 34px, 23px, 1519px, 1501px, '../img/sprite.png', 'icon__social-card--active', );
$icon-social-card-name: 'icon__social-card';
$icon-social-card-x: 405px;
$icon-social-card-y: 1069px;
$icon-social-card-offset-x: -405px;
$icon-social-card-offset-y: -1069px;
$icon-social-card-width: 34px;
$icon-social-card-height: 23px;
$icon-social-card-total-width: 1519px;
$icon-social-card-total-height: 1501px;
$icon-social-card-image: '../img/sprite.png';
$icon-social-card: (405px, 1069px, -405px, -1069px, 34px, 23px, 1519px, 1501px, '../img/sprite.png', 'icon__social-card', );
$icon-star-violet-name: 'icon__star--violet';
$icon-star-violet-x: 1204px;
$icon-star-violet-y: 274px;
$icon-star-violet-offset-x: -1204px;
$icon-star-violet-offset-y: -274px;
$icon-star-violet-width: 16px;
$icon-star-violet-height: 15px;
$icon-star-violet-total-width: 1519px;
$icon-star-violet-total-height: 1501px;
$icon-star-violet-image: '../img/sprite.png';
$icon-star-violet: (1204px, 274px, -1204px, -274px, 16px, 15px, 1519px, 1501px, '../img/sprite.png', 'icon__star--violet', );
$icon-star-white-name: 'icon__star--white';
$icon-star-white-x: 907px;
$icon-star-white-y: 524px;
$icon-star-white-offset-x: -907px;
$icon-star-white-offset-y: -524px;
$icon-star-white-width: 19px;
$icon-star-white-height: 18px;
$icon-star-white-total-width: 1519px;
$icon-star-white-total-height: 1501px;
$icon-star-white-image: '../img/sprite.png';
$icon-star-white: (907px, 524px, -907px, -524px, 19px, 18px, 1519px, 1501px, '../img/sprite.png', 'icon__star--white', );
$icon-star-name: 'icon__star';
$icon-star-x: 1188px;
$icon-star-y: 289px;
$icon-star-offset-x: -1188px;
$icon-star-offset-y: -289px;
$icon-star-width: 16px;
$icon-star-height: 15px;
$icon-star-total-width: 1519px;
$icon-star-total-height: 1501px;
$icon-star-image: '../img/sprite.png';
$icon-star: (1188px, 289px, -1188px, -289px, 16px, 15px, 1519px, 1501px, '../img/sprite.png', 'icon__star', );
$icon-triangle-black-name: 'icon__triangle--black';
$icon-triangle-black-x: 1382px;
$icon-triangle-black-y: 71px;
$icon-triangle-black-offset-x: -1382px;
$icon-triangle-black-offset-y: -71px;
$icon-triangle-black-width: 14px;
$icon-triangle-black-height: 8px;
$icon-triangle-black-total-width: 1519px;
$icon-triangle-black-total-height: 1501px;
$icon-triangle-black-image: '../img/sprite.png';
$icon-triangle-black: (1382px, 71px, -1382px, -71px, 14px, 8px, 1519px, 1501px, '../img/sprite.png', 'icon__triangle--black', );
$icon-triangle-grey-small-name: 'icon__triangle--grey--small';
$icon-triangle-grey-small-x: 1509px;
$icon-triangle-grey-small-y: 0px;
$icon-triangle-grey-small-offset-x: -1509px;
$icon-triangle-grey-small-offset-y: 0px;
$icon-triangle-grey-small-width: 10px;
$icon-triangle-grey-small-height: 6px;
$icon-triangle-grey-small-total-width: 1519px;
$icon-triangle-grey-small-total-height: 1501px;
$icon-triangle-grey-small-image: '../img/sprite.png';
$icon-triangle-grey-small: (1509px, 0px, -1509px, 0px, 10px, 6px, 1519px, 1501px, '../img/sprite.png', 'icon__triangle--grey--small', );
$icon-triangle-grey-name: 'icon__triangle--grey';
$icon-triangle-grey-x: 1396px;
$icon-triangle-grey-y: 63px;
$icon-triangle-grey-offset-x: -1396px;
$icon-triangle-grey-offset-y: -63px;
$icon-triangle-grey-width: 14px;
$icon-triangle-grey-height: 8px;
$icon-triangle-grey-total-width: 1519px;
$icon-triangle-grey-total-height: 1501px;
$icon-triangle-grey-image: '../img/sprite.png';
$icon-triangle-grey: (1396px, 63px, -1396px, -63px, 14px, 8px, 1519px, 1501px, '../img/sprite.png', 'icon__triangle--grey', );
$icon-triangle-white-large-name: 'icon__triangle--white--large';
$icon-triangle-white-large-x: 818px;
$icon-triangle-white-large-y: 619px;
$icon-triangle-white-large-offset-x: -818px;
$icon-triangle-white-large-offset-y: -619px;
$icon-triangle-white-large-width: 14px;
$icon-triangle-white-large-height: 24px;
$icon-triangle-white-large-total-width: 1519px;
$icon-triangle-white-large-total-height: 1501px;
$icon-triangle-white-large-image: '../img/sprite.png';
$icon-triangle-white-large: (818px, 619px, -818px, -619px, 14px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__triangle--white--large', );
$icon-triangle-white-name: 'icon__triangle--white';
$icon-triangle-white-x: 1410px;
$icon-triangle-white-y: 55px;
$icon-triangle-white-offset-x: -1410px;
$icon-triangle-white-offset-y: -55px;
$icon-triangle-white-width: 14px;
$icon-triangle-white-height: 8px;
$icon-triangle-white-total-width: 1519px;
$icon-triangle-white-total-height: 1501px;
$icon-triangle-white-image: '../img/sprite.png';
$icon-triangle-white: (1410px, 55px, -1410px, -55px, 14px, 8px, 1519px, 1501px, '../img/sprite.png', 'icon__triangle--white', );
$icon-vk-white-name: 'icon__vk--white';
$icon-vk-white-x: 702px;
$icon-vk-white-y: 753px;
$icon-vk-white-offset-x: -702px;
$icon-vk-white-offset-y: -753px;
$icon-vk-white-width: 20px;
$icon-vk-white-height: 24px;
$icon-vk-white-total-width: 1519px;
$icon-vk-white-total-height: 1501px;
$icon-vk-white-image: '../img/sprite.png';
$icon-vk-white: (702px, 753px, -702px, -753px, 20px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__vk--white', );
$icon-vk-yellow-name: 'icon__vk--yellow';
$icon-vk-yellow-x: 681px;
$icon-vk-yellow-y: 777px;
$icon-vk-yellow-offset-x: -681px;
$icon-vk-yellow-offset-y: -777px;
$icon-vk-yellow-width: 21px;
$icon-vk-yellow-height: 24px;
$icon-vk-yellow-total-width: 1519px;
$icon-vk-yellow-total-height: 1501px;
$icon-vk-yellow-image: '../img/sprite.png';
$icon-vk-yellow: (681px, 777px, -681px, -777px, 21px, 24px, 1519px, 1501px, '../img/sprite.png', 'icon__vk--yellow', );
$icon-vk-name: 'icon__vk';
$icon-vk-x: 1278px;
$icon-vk-y: 196px;
$icon-vk-offset-x: -1278px;
$icon-vk-offset-y: -196px;
$icon-vk-width: 14px;
$icon-vk-height: 16px;
$icon-vk-total-width: 1519px;
$icon-vk-total-height: 1501px;
$icon-vk-image: '../img/sprite.png';
$icon-vk: (1278px, 196px, -1278px, -196px, 14px, 16px, 1519px, 1501px, '../img/sprite.png', 'icon__vk', );
$spritesheet-width: 1519px;
$spritesheet-height: 1501px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-arrow-grey-right, $icon-arrow-grey, $icon-arrow-lightgrey-left, $icon-arrow-lightgrey-right, $icon-arrow-pink-right, $icon-arrow-vinous, $icon-arrow-violet, $icon-arrow-white-right, $icon-arrow-white, $icon-auth, $icon-basket-large, $icon-basket, $icon-box, $icon-calendar-date-active, $icon-calendar-date, $icon-check-1, $icon-check, $icon-clock-active, $icon-clock, $icon-close-violet, $icon-crown, $icon-discount-card-active, $icon-discount-card, $icon-discount, $icon-exclamation-point, $icon-favorit, $icon-fb-white, $icon-fb-yellow, $icon-fb, $icon-flacon, $icon-flower-grey, $icon-flower-vinous, $icon-geo-blue, $icon-geo-grey, $icon-geo-pink, $icon-heart, $icon-icecream-active, $icon-icecream, $icon-inst-large, $icon-inst-middle, $icon-inst-white, $icon-inst-yellow, $icon-inst, $icon-list-grey, $icon-list-pink, $icon-list-bg-flower, $icon-loop-grey, $icon-loop, $icon-metro-green, $icon-metro-grey, $icon-metro-pink, $icon-metro-yellow, $icon-minus-black, $icon-minus-grey, $icon-minus-violet, $icon-minus, $icon-new, $icon-phone, $icon-plus-black, $icon-plus-grey, $icon-plus-violet, $icon-plus, $icon-purse, $icon-social-card-active, $icon-social-card, $icon-star-violet, $icon-star-white, $icon-star, $icon-triangle-black, $icon-triangle-grey-small, $icon-triangle-grey, $icon-triangle-white-large, $icon-triangle-white, $icon-vk-white, $icon-vk-yellow, $icon-vk, );
$spritesheet: (1519px, 1501px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
