.mobile-menu-container
	.mobile-menu-header
		.mobile-menu-header__item.mobile-menu-header__item--auth
			button.js-modal.js-modal-inMenu(data-fancybox-href="#js-modal-auth") Вход
			button.js-modal.js-modal-inMenu(data-fancybox-href="#js-modal-reg") Регистрация
			i.icon.icon__auth
		.mobile-menu-header__item.mobile-menu-header__item--back-to
			button.js-menu-parent
				i.icon.icon__arrow--vinous
				span Назад
	.mobile-menu-blocks
		.mobile-menu__item
			a.mobile-menu__link(href="#")
				span Найти товар
				i.icon.icon__loop
		ul.mobile-menu
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span парфюмерия
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span уход
					i.icon.icon__arrow--vinous
				ul.mobile-menu
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							span лицо
							i.icon.icon__arrow--vinous
						ul.mobile-menu
							li.mobile-menu__item
								a.mobile-menu__link(href="#")
									span корректор
							li.mobile-menu__item
								a.mobile-menu__link(href="#")
									span тональные средства
							li.mobile-menu__item
								a.mobile-menu__link(href="#")
									span пудра
							li.mobile-menu__item
								a.mobile-menu__link(href="#")
									span румяна
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							span глаза
							i.icon.icon__arrow--vinous
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							span губы
							i.icon.icon__arrow--vinous
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							span ногти
							i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span для любимых
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span дамские штучки
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span для дома
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span бренды
					i.icon.icon__arrow--vinous
		ul.mobile-menu.mobile-menu--pink
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span разделы
					i.icon.icon__arrow--white--right
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span промо
					i.icon.icon__arrow--white--right
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span дополнительно
					i.icon.icon__arrow--white--right
		.mobile-menu__social
			.title Мы в соц.сетях:
			.social
				a.social__item(href="#")
					img(src="img/fb--white.png", alt="")
				a.social__item(href="#")
					img(src="img/vk--white.png", alt="")
				a.social__item(href="#")
					img(src="img/inst--white.png", alt="")
.overlay-block.overlay-block--open-nav
