.mobile-menu-container
	.mobile-menu-header
		.mobile-menu-header__item.mobile-menu-header__item--auth
			a(href="#") Вход
			a(href="#") Регистрация
			i.icon.icon__auth
		.mobile-menu-header__item.mobile-menu-header__item--back-to
			button.js-menu-parent
				i.icon.icon__arrow--vinous
				span Назад
	.mobile-menu-blocks.active.level-1(menu-level="1")
		.mobile-menu__item
			a.mobile-menu__link(href="#")
				span Найти товар
				i.icon.icon__loop
		ul.mobile-menu
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span парфюмерия
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span уход
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span для любимых
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span дамские штучки
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span для дома
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span бренды
					i.icon.icon__arrow--vinous
		ul.mobile-menu.mobile-menu--pink
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span разделы
					i.icon.icon__arrow--white--right
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span промо
					i.icon.icon__arrow--white--right
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span дополнительно
					i.icon.icon__arrow--white--right
		.mobile-menu__social
			.title Мы в соц.сетях:
			.social
				a.social__item(href="#")
					i.icon.icon__fb--white
				a.social__item(href="#")
					i.icon.icon__vk--white
				a.social__item(href="#")
					i.icon.icon__inst--white
	.mobile-menu-blocks.level-2(menu-level="2")
		.mobile-menu__title
			span макияж
		ul.mobile-menu
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span лицо
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span глаза
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span губы
					i.icon.icon__arrow--vinous
			li.mobile-menu__item
				a.mobile-menu__link.js-link-children(href="#")
					span ногти
					i.icon.icon__arrow--vinous
	.mobile-menu-blocks.level-3(menu-level="3")
		.mobile-menu__title
			span лицо
		ul.mobile-menu
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span корректор
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span тональные средства
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span пудра
			li.mobile-menu__item
				a.mobile-menu__link(href="#")
					span румяна
.overlay-block.overlay-block--open-nav
