doctype html
html(lang="ru")
head
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
	link(rel="stylesheet" href="vendor/owl-carousel/owl.carousel.min.css")
	link(rel="stylesheet" href="vendor/owl-carousel/owl.theme.default.min.css")
	link(rel="stylesheet" href="vendor/fancybox/jquery.fancybox.css")
	link(href="vendor/jQuery-form-styler/jquery.formstyler.css" rel="stylesheet")
	link(href="vendor/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet")
	link(href="vendor/rangeslider/rangeslider.css" rel="stylesheet")
	link(rel="stylesheet" href="css/style.min.css")

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
	script(src="vendor/owl-carousel/owl.carousel.min.js")
	script(src="vendor/owl-carousel/owl.carousel2.thumbs.js")
	script(src="vendor/picturefill/picturefill.min.js" async)
	script(src="vendor/jQuery-form-styler/jquery.formstyler.min.js")
	script(src="vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js")
	script(src="vendor/rangeslider/rangeslider.min.js")
	script(src="js/main.js")
