.grid-123 {
  padding-top: 20px;
  padding-bottom: 33px;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

.grid {
  margin-top: 0;
  margin-bottom: 20px;
}