include templates/head.jade
body
	.page-wrapper
		include templates/components/menu/mobile-top-menu.jade		
		include templates/header.jade
		section.top-slider-wrap
			section.top-slider.owl-carousel.js-slider-top
				a(href="#")
					picture
						//[if IE 9]><!
						video(style='display: none;')
							//<![endif]
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						img(srcset='img/slider-top__1.jpg')
				a(href="#")
					picture
						//[if IE 9]><!
						video(style='display: none;')
							//<![endif]
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						img(srcset='img/slider-top__1.jpg')
				a(href="#")
					picture
						//[if IE 9]><!
						video(style='display: none;')
							//<![endif]
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						img(srcset='img/slider-top__1.jpg')
				a(href="#")
					picture
						//[if IE 9]><!
						video(style='display: none;')
							//<![endif]
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						img(srcset='img/slider-top__1.jpg')
				a(href="#")
					picture
						//[if IE 9]><!
						video(style='display: none;')
							//<![endif]
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						img(srcset='img/slider-top__1.jpg')
				a(href="#")
					picture
						//[if IE 9]><!
						video(style='display: none;')
							//<![endif]
							source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
							source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
							source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
							source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
							source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
							source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
						img(srcset='img/slider-top__1.jpg')				
			.top-slider-nav
				button.top-slider-nav__left.arrow.arrow--left
				button.top-slider-nav__right.arrow.arrow--right
		section.section-winner
			.section-winner__item.section-winner__left
				p ДО ВЫБОРА ПОБЕДИТЕЛЯ ОСТАЛОСЬ…
			.section-winner__item.section-winner__timer
				.timer
					.timer-section.timer-section--hourse
						.timer-section-value
							.timer-section-value__item
								span 0
							.timer-section-value__item
								span 3
						span.timer-section__name часов
					.timer-sep
						span :
					.timer-section.timer-section--minutes
						.timer-section-value
							.timer-section-value__item
								span 2
							.timer-section-value__item
								span 7
						span.timer-section__name минут
					.timer-sep
						span :
					.timer-section.timer-section--seconds
						.timer-section-value
							.timer-section-value__item
								span 3
							.timer-section-value__item
								span 3
						span.timer-section__name секунд
			.section-winner__item.section-winner__right
				p 
					| ДАРИМ КАЖДЫЙ ДЕНЬ СЕРТИФИКАТ
					br
					| НА 60 000 РУБЛЕЙ В re:Store
		section.section-action			
			section.action-slider-wrap
				.section-action__title.visible-xs
					h2 Акции
				.action-slider-title
					.action-slider-title__text
						p
							| выгодные
							span Акции
					.action-slider-title__bg-1
					.action-slider-title__bg-2
				.action-slider.owl-carousel.js-slider-action
					a.action-slider__item(href="#")
						img(src="img/slider-action__1.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__2.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__3.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__4.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__5.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__1.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__2.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__3.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__4.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__5.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__1.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__2.jpg", alt="")
				.action-slider-nav.visible-xs
					button.action-slider-nav__left.arrow.arrow--left
					.custom-dots
						span.custom-dots__current
						span из
						span.custom-dots__count
					button.action-slider-nav__right.arrow.arrow--right
			.action-slider-nav.hidden-xs
					button.action-slider-nav__left.arrow.arrow--left
					button.action-slider-nav__right.arrow.arrow--right				
		section.section-novetly
			.section-novetly-col.section-novetly-col--left
				a.section-novetly__journal(href="#")
					img(src="img/journal-august-2016.jpg", alt="")
			.section-novetly-col.section-novetly-col--right
				.section-novetly-col__title
					h2 новинки
				.section-novetly__slider
					.novetly-slider.owl-carousel.js-slider-novetly
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__1.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
								.products-list-item__rating
									.rating
										.rating__item.active
										.rating__item.active
										.rating__item
										.rating__item
										.rating__item
							.products-list-item__footer
								.products-list-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.js-add-basket
										.icon.icon__basket--large
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								.products-list-item__status
									.e-status.e-status--discount
										i.icon.icon__discount
									.e-status.e-status--novetly
										span new
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__2.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
									.products-list-item__rating
										.rating
											.rating__item.active
											.rating__item.active
											.rating__item
											.rating__item
											.rating__item
							.products-list-item__footer
								.products-list-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.js-add-basket
										.icon.icon__basket--large
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								.products-list-item__status
									.e-status.e-status--novetly
										span new
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__3.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
									.products-list-item__rating
										.rating
											.rating__item.active
											.rating__item.active
											.rating__item
											.rating__item
											.rating__item
							.products-list-item__footer
								.products-list-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.js-add-basket
										.icon.icon__basket--large
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__4.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
									.products-list-item__rating
										.rating
											.rating__item.active
											.rating__item.active
											.rating__item
											.rating__item
											.rating__item
							.products-list-item__footer
								.products-list-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.js-add-basket
										.icon.icon__basket--large
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								.products-list-item__status
									.e-status.e-status--discount
										i.icon.icon__discount
									.e-status.e-status--novetly
										span new
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__5.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
									.products-list-item__rating
										.rating
											.rating__item.active
											.rating__item.active
											.rating__item
											.rating__item
											.rating__item
							.products-list-item__footer
								.products-list-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.js-add-basket
										.icon.icon__basket--large
									.text 14 оттенков
						.products-list-item
							.products-list-item__header
								a(href="#")
									.products-list-item__image
										img(src="img/novetly-slider__1.jpg", alt="")
									.products-list-item__title PERFECT MAT LIPSTICK second line test
									.products-list-item__category помада
									.products-list-item__rating
										.rating
											.rating__item.active
											.rating__item.active
											.rating__item
											.rating__item
											.rating__item
							.products-list-item__footer
								.products-list-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.products-list-item__shades
									button.image.js-add-basket
										.icon.icon__basket--large
									.text 14 оттенков
					.novetly-slider-nav
						button.novetly-slider-nav__left.arrow.arrow--left
						.custom-dots
							span.custom-dots__current
							span из
							span.custom-dots__count
						button.novetly-slider-nav__right.arrow.arrow--right
		section.section-image-main.visible-xs
			.section-image-main__item
				a(href="#")
					img(src="img/denimania.jpg", alt="")
			.section-image-main__item
				a(href="#")
					img(src="img/journal-august-2016.jpg", alt="")
		section.section-exclusive
			.section-exclusive-col.section-exclusive-col--left
				.section-exclusive-col__title
					h2 эксклюзивно
				.section-exclusive__slider
					.exclusive-slider.owl-carousel.js-slider-exclusive
						a.exclusive-slider-item(href="#")
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__1.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__2.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						a.exclusive-slider-item(href="#")
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__3.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__4.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						a.exclusive-slider-item(href="#")
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__5.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__6.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						a.exclusive-slider-item(href="#")
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__7.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__8.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						a.exclusive-slider-item(href="#")
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__1.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__2.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
					.exclusive-slider-nav
						button.exclusive-slider-nav__left.arrow.arrow--left
						.custom-dots
							span.custom-dots__current
							span из
							span.custom-dots__count
						button.exclusive-slider-nav__right.arrow.arrow--right
			.section-exclusive-col.section-exclusive-col--right
				a.section-exclusive__journal(href="#")
					img(src="img/denimania.jpg", alt="")
		section.section-discount
			.section-discount-list.owl-carousel.js-slider-discount
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__discount-card.image--init
						i.icon.icon__discount-card--active.image--active
					.text 
						span 
							| Дисконтная карта
							br
							| «Подружка»
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__icecream.image--init
						i.icon.icon__icecream--active.image--active
					.text 
						span
							| Спец. предложение для
							br
							| владельцев дисконтных карт
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__calendar-date.image--init
						i.icon.icon__calendar-date--active.image--active
					.text 
						span
							| Скидка 15%
							br
							| 15 числа
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__clock.image--init
						i.icon.icon__clock--active.image--active
					.text 
						span
							| Утренняя
							br
							| скидка
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__social-card.image--init
						i.icon.icon__social-card--active.image--active
					.text 
						span
							| Скидка по
							br
							| социальной карте
		section.section-instagram
			.section-instagram__bg
			.section-instagram-header
				.section-instagram-header__title
					i.icon.icon__inst--middle
					span podrygkashop
				.section-instagram-header__button
					button.button.js-button-subscribe Подписаться
			.instagram-slider-wrap
				.instagram-slider-nav
					button.instagram-slider-nav__left.arrow.arrow--left
					.custom-dots
						span.custom-dots__current
						span из
						span.custom-dots__count
					button.instagram-slider-nav__right.arrow.arrow--right
				.instagram-slider.owl-carousel.js-slider-instagram
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
		include templates/components/section-journal.jade				
		include templates/footer.jade
