include templates/head.jade
body
	include templates/header.jade
	section.main-content
		section.novetly-slider.owl-carousel
			img(src="img/novetly-slider__1.jpg")
			img(src="img/novetly-slider__2.jpg")
			img(src="img/novetly-slider__3.jpg")
			img(src="img/novetly-slider__4.jpg")
			img(src="img/novetly-slider__5.jpg")
			img(src="img/novetly-slider__1.jpg")
			img(src="img/novetly-slider__2.jpg")
			img(src="img/novetly-slider__3.jpg")
	include templates/footer.jade
