include templates/head.jade
body
	.page-wrapper
		.mobile-menu-container
			ul.mobile-menu
				li.mobile-menu__item
					a.mobile-menu__link(href="#") Каталог
				li.mobile-menu__item
					a.mobile-menu__link(href="#") Акции
				li.mobile-menu__item
					a.mobile-menu__link(href="#") Только у нас
				li.mobile-menu__item
					a.mobile-menu__link(href="#") Новинки
				li.mobile-menu__item
					a.mobile-menu__link(href="#") Хочу скидки
				li.mobile-menu__item
					a.mobile-menu__link(href="#") Магазины
				li.mobile-menu__item
					a.mobile-menu__link(href="#") Пообщаемся
		.overlay-block.overlay-block--open-nav
		include templates/header.jade
		section.top-slider-wrap
			section.top-slider.owl-carousel.js-slider-top
				picture
					//[if IE 9]><!
					video(style='display: none;')
						//<![endif]
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
					source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
					source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
					source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
					source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
					source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					img(srcset='img/slider-top__1.jpg')
				picture
					//[if IE 9]><!
					video(style='display: none;')
						//<![endif]
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
					source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
					source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
					source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
					source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
					source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					img(srcset='img/slider-top__1.jpg')
				picture
					//[if IE 9]><!
					video(style='display: none;')
						//<![endif]
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
					source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
					source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
					source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
					source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
					source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					img(srcset='img/slider-top__1.jpg')
				picture
					//[if IE 9]><!
					video(style='display: none;')
						//<![endif]
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
					source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
					source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
					source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
					source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
					source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					img(srcset='img/slider-top__1.jpg')
				picture
					//[if IE 9]><!
					video(style='display: none;')
						//<![endif]
						source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
						source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
						source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
						source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
						source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
						source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					source(srcset='img/slider-top__1.jpg', media='(min-width: 1366px)')
					source(srcset='img/slider-top__1--1366.jpg', media='(min-width: 1024px)')
					source(srcset='img/slider-top__1--1024.jpg', media='(min-width: 800px)')
					source(srcset='img/slider-top__1--800.jpg', media='(min-width: 520px)')
					source(srcset='img/slider-top__1--480.jpg', media='(min-width: 340px)')
					source(srcset='img/slider-top__1--320.jpg', media='(max-width: 340px)')
					img(srcset='img/slider-top__1.jpg')
			.top-slider-nav
				button.top-slider-nav__left.arrow.arrow--left
				button.top-slider-nav__right.arrow.arrow--right
		section.section-winner
			.section-winner__item.section-winner__left
				p ДО ВЫБОРА ПОБЕДИТЕЛЯ ОСТАЛОСЬ…
			.section-winner__item.section-winner__timer
				.timer
					.timer-section.timer-section--hourse
						.timer-section-value
							.timer-section-value__item
								span 0
							.timer-section-value__item
								span 3
						span.timer-section__name часов
					.timer-sep
						span :
					.timer-section.timer-section--minutes
						.timer-section-value
							.timer-section-value__item
								span 2
							.timer-section-value__item
								span 7
						span.timer-section__name минут
					.timer-sep
						span :
					.timer-section.timer-section--seconds
						.timer-section-value
							.timer-section-value__item
								span 3
							.timer-section-value__item
								span 3
						span.timer-section__name секунд
			.section-winner__item.section-winner__right
				p 
					| ДАРИМ КАЖДЫЙ ДЕНЬ СЕРТИФИКАТ
					br
					| НА 60 000 РУБЛЕЙ В re:Store
		section.section-action			
			section.action-slider-wrap
				.section-action__title.visible-xs
					h2 Акции
				.action-slider-title
					.action-slider-title__text
						p
							| выгодные
							span Акции
					.action-slider-title__bg-1
					.action-slider-title__bg-2
				.action-slider.owl-carousel.js-slider-action
					a.action-slider__item(href="#")
						img(src="img/slider-action__1.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__2.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__3.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__4.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__5.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__1.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__2.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__3.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__4.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__5.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__1.jpg", alt="")
					a.action-slider__item(href="#")
						img(src="img/slider-action__2.jpg", alt="")
				.action-slider-nav.visible-xs
					button.action-slider-nav__left.arrow.arrow--left
					.custom-dots
						span.custom-dots__current
						span из
						span.custom-dots__count
					button.action-slider-nav__right.arrow.arrow--right
			.action-slider-nav.hidden-xs
					button.action-slider-nav__left.arrow.arrow--left
					button.action-slider-nav__right.arrow.arrow--right				
		section.section-novetly
			.section-novetly-col.section-novetly-col--left
				a.section-novetly__journal(href="#")
					img(src="img/journal-august-2016.jpg", alt="")
			.section-novetly-col.section-novetly-col--right
				.section-novetly-col__title
					h2 новинки
				.section-novetly__slider
					.novetly-slider.owl-carousel.js-slider-novetly
						.novetly-slider-item
							.novetly-slider-item__header
								.novetly-slider-item__image
									img(src="img/novetly-slider__1.jpg", alt="")
								.novetly-slider-item__title PERFECT MAT LIPSTICK second line test
								.novetly-slider-item__category помада
								.novetly-slider-item__rating
									.rating
										.rating__item.active
										.rating__item.active
										.rating__item
										.rating__item
										.rating__item
							.novetly-slider-item__footer
								.novetly-slider-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.novetly-slider-item__shades
									.image
										.icon.icon__basket--large
									.text 14 оттенков
						.novetly-slider-item
							.novetly-slider-item__header
								.novetly-slider-item__status
									.e-status.e-status--discount
										i.icon.icon__discount
									.e-status.e-status--novetly
										span new
								.novetly-slider-item__image
									img(src="img/novetly-slider__2.jpg", alt="")
								.novetly-slider-item__title PERFECT MAT LIPSTICK second line test
								.novetly-slider-item__category помада
								.novetly-slider-item__rating
									.rating
										.rating__item.active
										.rating__item.active
										.rating__item
										.rating__item
										.rating__item
							.novetly-slider-item__footer
								.novetly-slider-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.novetly-slider-item__shades
									.image
										.icon.icon__basket--large
									.text 14 оттенков
						.novetly-slider-item
							.novetly-slider-item__header
								.novetly-slider-item__status
									.e-status.e-status--novetly
										span new
								.novetly-slider-item__image
									img(src="img/novetly-slider__3.jpg", alt="")
								.novetly-slider-item__title PERFECT MAT LIPSTICK second line test
								.novetly-slider-item__category помада
								.novetly-slider-item__rating
									.rating
										.rating__item.active
										.rating__item.active
										.rating__item
										.rating__item
										.rating__item
							.novetly-slider-item__footer
								.novetly-slider-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.novetly-slider-item__shades
									.image
										.icon.icon__basket--large
									.text 14 оттенков
						.novetly-slider-item
							.novetly-slider-item__header
								.novetly-slider-item__image
									img(src="img/novetly-slider__4.jpg", alt="")
								.novetly-slider-item__title PERFECT MAT LIPSTICK second line test
								.novetly-slider-item__category помада
								.novetly-slider-item__rating
									.rating
										.rating__item.active
										.rating__item.active
										.rating__item
										.rating__item
										.rating__item
							.novetly-slider-item__footer
								.novetly-slider-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.novetly-slider-item__shades
									.image
										.icon.icon__basket--large
									.text 14 оттенков
						.novetly-slider-item
							.novetly-slider-item__header
								.novetly-slider-item__status
									.e-status.e-status--discount
										i.icon.icon__discount
									.e-status.e-status--novetly
										span new
								.novetly-slider-item__image
									img(src="img/novetly-slider__5.jpg", alt="")
								.novetly-slider-item__title PERFECT MAT LIPSTICK second line test
								.novetly-slider-item__category помада
								.novetly-slider-item__rating
									.rating
										.rating__item.active
										.rating__item.active
										.rating__item
										.rating__item
										.rating__item
							.novetly-slider-item__footer
								.novetly-slider-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.novetly-slider-item__shades
									.image
										.icon.icon__basket--large
									.text 14 оттенков
						.novetly-slider-item
							.novetly-slider-item__header
								.novetly-slider-item__image
									img(src="img/novetly-slider__1.jpg", alt="")
								.novetly-slider-item__title PERFECT MAT LIPSTICK second line test
								.novetly-slider-item__category помада
								.novetly-slider-item__rating
									.rating
										.rating__item.active
										.rating__item.active
										.rating__item
										.rating__item
										.rating__item
							.novetly-slider-item__footer
								.novetly-slider-item__price
									.value.value--current 
										span 1346
										span.rouble &#x20bd;
									.value.value--old
										span 1346
										span.rouble &#x20bd;
								.novetly-slider-item__shades
									.image
										.icon.icon__basket--large
									.text 14 оттенков
					.novetly-slider-nav
						button.novetly-slider-nav__left.arrow.arrow--left
						.custom-dots
							span.custom-dots__current
							span из
							span.custom-dots__count
						button.novetly-slider-nav__right.arrow.arrow--right
		section.section-image-main.visible-xs
			.section-image-main__item
				a(href="#")
					img(src="img/denimania.jpg", alt="")
			.section-image-main__item
				a(href="#")
					img(src="img/journal-august-2016.jpg", alt="")
		section.section-exclusive
			.section-exclusive-col.section-exclusive-col--left
				.section-exclusive-col__title
					h2 эксклюзивно
				.section-exclusive__slider
					.exclusive-slider.owl-carousel.js-slider-exclusive
						.exclusive-slider-item
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__1.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__2.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						.exclusive-slider-item
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__3.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__4.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						.exclusive-slider-item
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__5.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__6.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						.exclusive-slider-item
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__7.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__8.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
						.exclusive-slider-item
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__1.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
							.exclusive-slider-item__sub
								.exclusive-slider-item__logo
									img(src="img/company-logo__2.jpg", alt="")
								.exclusive-slider-item__desc
									p Корейский косметический бренд, созданный специалистами эстетической медицины!
					.exclusive-slider-nav
						button.exclusive-slider-nav__left.arrow.arrow--left
						.custom-dots
							span.custom-dots__current
							span из
							span.custom-dots__count
						button.exclusive-slider-nav__right.arrow.arrow--right
			.section-exclusive-col.section-exclusive-col--right
				a.section-exclusive__journal(href="#")
					img(src="img/denimania.jpg", alt="")
		section.section-discount
			.section-discount-list.owl-carousel.js-slider-discount
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__discount-card.image--init
						i.icon.icon__discount-card--active.image--active
					.text 
						span 
							| Дисконтная карта
							br
							| «Подружка»
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__icecream.image--init
						i.icon.icon__icecream--active.image--active
					.text 
						span
							| Спец. предложение для
							br
							| владельцев дисконтных карт
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__calendar-date.image--init
						i.icon.icon__calendar-date--active.image--active
					.text 
						span
							| Скидка 15%
							br
							| 15 числа
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__clock.image--init
						i.icon.icon__clock--active.image--active
					.text 
						span
							| Утренняя
							br
							| скидка
				a.section-discount-list__item(href="#")
					.image
						i.icon.icon__social-card.image--init
						i.icon.icon__social-card--active.image--active
					.text 
						span
							| Скидка по
							br
							| социальной карте
		section.section-instagram
			.section-instagram-header
				.section-instagram-header__title
					i.icon.icon__inst--middle
					span podrygkashop
				.section-instagram-header__button
					button.button.js-button-subscribe Подписаться
			.instagram-slider-wrap
				.instagram-slider-nav
					button.instagram-slider-nav__left.arrow.arrow--left
					.custom-dots
						span.custom-dots__current
						span из
						span.custom-dots__count
					button.instagram-slider-nav__right.arrow.arrow--right
				.instagram-slider.owl-carousel.js-slider-instagram
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
					.instagram-slider-item
						.instagram-slider-item__image
							img(src="img/inst-slider.png", alt="")
						.instagram-slider-item__title
							i.icon.icon__inst--large
							span #podrygkashop
		section.section-journal
			.section-journal-container
				.section-journal__slider
					.journal-slider-wrap
						.journal-slider.owl-carousel.js-slider-journal
							.journal-slider-item
								a.journal-slider-item__image(href="#")
									img(src="img/journal-1.jpg", alt="")
								.journal-slider-item__desc
									span.strong 05
									span /май
							.journal-slider-item
								a.journal-slider-item__image(href="#")
									img(src="img/journal-2.jpg", alt="")
								.journal-slider-item__desc
									span.strong 04
									span /апрель
							.journal-slider-item
								a.journal-slider-item__image(href="#")
									img(src="img/journal-3.jpg", alt="")
								.journal-slider-item__desc
									span.strong 03
									span /март
							.journal-slider-item
								a.journal-slider-item__image(href="#")
									img(src="img/journal-3.jpg", alt="")
								.journal-slider-item__desc
									span.strong 02
									span /февраль
							.journal-slider-item
								a.journal-slider-item__image(href="#")
									img(src="img/journal-1.jpg", alt="")
								.journal-slider-item__desc
									span.strong 01
									span /январь
							.journal-slider-item
								a.journal-slider-item__image(href="#")
									img(src="img/journal-2.jpg", alt="")
								.journal-slider-item__desc
									span.strong 01
									span /январь
							.journal-slider-item
								a.journal-slider-item__image(href="#")
									img(src="img/journal-3.jpg", alt="")
								.journal-slider-item__desc
									span.strong 01
									span /январь
				.section-journal__desc
					.title
						| Журнал 
						span подружка
					ul.list-bg.list-bg--flower
						li.list-bg__item
							span Узнавай про новинки
						li.list-bg__item 
							span читай Статьи, советы и т.п.
						li.list-bg__item 
							span Скачай на телефон
					.block-shop-app
						a.block-shop-app__item(href="#")
							img(src="img/google-play.png", alt="")
						a.block-shop-app__item(href="#")
							img(src="img/app-store.png", alt="")
			.section-journal-bottom
				.section-journal-bottom__container
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
		include templates/footer.jade
