include templates/head.jade
body
    ul.nav(style="width: 100%; max-width: 250px; margin: 0 auto;")
        li(style="margin-top:20px;")
            a.button.button--default(href="/") Главная
        li(style="margin-top:20px;")
            a.button.button--default(href="/catalog.html") Каталог
        li(style="margin-top:20px;")
            a.button.button--default(href="/product.html") Карточка товара
        li(style="margin-top:20px;")
            a.button.button--default(href="/actions.html") Акции
        li(style="margin-top:20px;")
            a.button.button--default(href="/action2=3.html") Акция2=3
        li(style="margin-top:20px;")
            a.button.button--default(href="/festival.html") Фестиваль
        li(style="margin-top:20px;")
            a.button.button--default(href="/shops-list.html") Список магазинов
        li(style="margin-top:20px;")
            a.button.button--default(href="/shop-detail.html") Магазин - детальная
        li(style="margin-top:20px;")
            a.button.button--default(href="/lk.html") Личный кабинет
        li(style="margin-top:20px;")
            a.button.button--default(href="/sertificate.html") Сертификаты