include templates/head.jade
body
    ul.nav(style="width: 100%; max-width: 250px; margin: 0 auto;")
        li(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/") Главная
        li(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/catalog.html") Каталог
        li(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/product.html") Карточка товара
        li(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/actions.html") Акции
        li(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/action2=3.html") Акция2=3
        li(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/festival.html") Фестиваль
        li(style="margin-top:20px;")
            a.button.button--default(href="/podruzhka/shops-list.html") Список магазинов