.modal-hide
	.modal-container#js-modal-add-arctile
		.modal-container-head
			.modal-container-head__title Ваша статья отравлена
			button.modal-close
		.modal-container-content
			.modal-basket__content
				.left
					i.icon.icon__message--large--red
				.right
					p
						strong Алексей, спасибо вам за вашу статью.
					p Она отправлена на модерацию и вскоре появится на нашем сайте.						
		.modal-container-footer
			button.button.button-transparent Продолжить
